.vacancy-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    &__media {
        width: 100%;
        aspect-ratio: 1 / 0.55;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__title {
        min-height: 2.8em;
        margin-bottom: 11px;
        color: $c-text;
        transition: color $tr-time linear;
        line-height: 1.4em;
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;

        @include max(xs) {
            font-size: 16px;
        }

        &:hover {
            color: $c-accent-hover;
        }
    }

    &__salary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    &__amount {
        font-size: 16px;
        line-height: 1.4em;
        color: $c-text;
    }

    &__tax {
        font-size: 10px;
        line-height: 1.4em;
        color: $c-accent;
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 11px;
        padding-top: 11px;
        border-top: 1px solid $c-bg;
        font-size: 12px;
        line-height: 1.4em;
        color: $c-white;

        @include max(xs) {
            gap: 4px;
        }
    }

    &__category,
    &__date {
        background-color: $c-text-dark;
        padding: 2px 6px;
        border-radius: 2px;
        width: fit-content;
    }

    &__category {
        transition: background-color $tr-time linear;

        &:hover {
            background-color: $c-accent-hover;
        }
    }

}

.vacancy-card {
    &--small {
        align-items: flex-start;
        flex-direction: row;
        padding-top: 16px;
        border-top: 1px solid $c-border;
    }

    &--small &__media {
        flex: 0 0 100px;
        aspect-ratio: 1 / 1;
    }

    &--small &__content {
        align-self: stretch;
        justify-content: space-between;
        gap: 6px;
    }

    &--small &__title {
        font-size: 16px;
        min-height: auto;
        margin-bottom: 0;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &--small &__tags {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }

    &--small &__salary {
        order: 2;
        margin-top: 0;
    }
}