-
	const defaultVacancyCardProps = {
		classes: '',
		vMode: '',
		media: '',
		title: '',
		salary: '',
		category: '',
		date: '',
		noLazy: false
	}

mixin vacancy-card(props = defaultVacancyCardProps)
	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultVacancyCardProps.classes,
			vMode: props.vMode ? props.vMode : defaultVacancyCardProps.vMode,
			media: props.media ? props.media : defaultVacancyCardProps.media,
			title: props.title ? props.title : defaultVacancyCardProps.title,
			salary: props.salary ? props.salary : defaultVacancyCardProps.salary,
			category: props.category ? props.category : defaultVacancyCardProps.category,
			date: props.date ? props.date : defaultVacancyCardProps.date,
			noLazy: props.noLazy ? props.noLazy : defaultVacancyCardProps.noLazy
		}

		let vModeClass = checkProps.vMode.length > 0 ? ` vacancy-card--${checkProps.vMode}` : ''

	.vacancy-card(class= checkProps.classes + vModeClass)&attributes(attributes)
		-if(checkProps.media.length > 0)
			.vacancy-card__media
				- if(checkProps.noLazy === true)
					img(src= checkProps.media alt="")
				-else		
					img(class="lazyload" src="img/lazy-placeholder.webp" data-src= checkProps.media alt="")

		.vacancy-card__content
			a.vacancy-card__title(href="javascript:void(0)")!= checkProps.title
			-if(checkProps.salary.length > 0)
				.vacancy-card__salary
					.vacancy-card__amount!= checkProps.salary
					.vacancy-card__tax до вычета НДФЛ
			-if(checkProps.category.length > 0 || checkProps.date.length > 0)
				.vacancy-card__tags
					-if(checkProps.category.length > 0)
						a.vacancy-card__category(href="javascript:void(0)")!= checkProps.category
					-if(checkProps.date.length > 0)
						.vacancy-card__date!= checkProps.date