:root {
    --c-accent: #CA0001;
    --c-text: #141414;
}

// шрифты
$ff-main: 'Nagel', Arial, Helvetica, sans-serif;

// media
$media-list: (
    'xs': 500,
    'mobile': 767,
    'tablet': 1023,
    'laptop': 1420,
    'large': 1800,
);

// Цвета
$c-white: #fff;
$c-black: #000;
$c-accent: var(--c-accent);
$c-accent-hover: #8E0001;
$c-accent-light: #DD595A;
$c-accent-light2: #FCF2F2;
$c-accent-light3: #FAE6E6;
$c-text-dark: #222222;
$c-text: var(--c-text);
$c-text-light: #6F6F6F;
$c-text-breadcrumbs: #919191;
$c-border: #E9E9E9;
$c-input-bg: #F4F4F4;
$c-main-bg: #F4F4F4; // на паре страниц #f8f8f8, оставил как на большинстве
$c-bg: #c8c8c8;
$c-bg-dark: #111;
$c-bg-dark2: #1D1D1D;
$c-error: #D91528;
$c-pink-hover: #FDF7F7;
$c-grey-hover: #F8F8F8;

// переходы
$tr-time: .3s;
$tr-time-long: .5s;