-
	const defaultCartCardProps = {
		classes: '',
		title: '',
		image: '',
		tags: [],
		prices: [],
	}

mixin cart-card(props = defaultCartCardProps)
	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultCartCardProps.classes,
			title: props.title ? props.title : defaultCartCardProps.title,
			image: props.image ? props.image : defaultCartCardProps.image,
			tags: props.tags ? props.tags : defaultCartCardProps.tags,
			prices: props.prices ? props.prices : defaultCartCardProps.prices
		}

	.cart-card(class= checkProps.classes)&attributes(attributes)
		.cart-card__photo
			img(src= checkProps.image alt= checkProps.title)
		.cart-card__info.cart-card__col
			.cart-card__title.title--26!= checkProps.title
			- if(checkProps.tags.length > 0)
				+product-tags({
					classes: 'cart-card__tags',
					tags: checkProps.tags
				})
		.cart-card__order.cart-card__col
			- if(checkProps.prices.length > 0)
				+product-price({
					price: checkProps.prices[0],
					oldPrice: checkProps.prices[1]
				})
				.cart-card__controls
					.cart-card__btns
						a.cart-card__btn
							svg
								use(xlink:href=`img/sprites/sprite.svg#remove`)
						a.cart-card__btn(href="javascript:void(0)")
							svg
								use(xlink:href=`img/sprites/sprite.svg#compare_2`)
					+amount-input