.cart-card {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(215px, 215px) minmax(200px, auto) minmax(260px, 316px);
    gap: 24px;
    padding: 24px 0;
    border-top: 1px solid $c-border;

    @include max(large) {
        grid-template-columns: minmax(163px, 163px) minmax(200px, auto) minmax(260px, 260px);
        gap: 16px;
    }

    @include max(laptop) {
        grid-template-columns: minmax(120px, 120px) minmax(200px, auto) minmax(260px, 260px);
        gap: 16px;
    }

    @include max(mobile) {
        grid-template-columns: 1fr;
        padding: 16px 0;
    }

    @media print {
        grid-template-columns: minmax(113pt, 113pt) minmax(150pt, auto) minmax(130pt, 130pt);

    }

    &__col {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 24px;

    }

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        aspect-ratio: 1 / 1;
        padding: 18px;
        border: 1px solid $c-border;
        border-radius: 4px;

        @include max(mobile) {
            height: 200px;
            aspect-ratio: auto;
            padding: 10px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        max-width: 520px;

        @media print {
            font-size: 18pt;
        }

        @include max(mobile) {
            max-width: 100%;
        }
    }

    &__tags {

        @include max(mobile) {
            position: absolute;
            left: 10px;
            top: 26px;
        }
    }

    &__order {

        @media print {
            align-items: flex-end;

            .product-price {
                align-items: flex-end;
                font-size: 18pt;
            }
        }

        @include max(mobile) {
            flex-direction: row;
            align-items: flex-end;
        }

        @include max(xs) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__controls {
        display: flex;
        align-items: stretch;
        gap: 10px;

        @include max(xs) {
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__btns {
        display: flex;
        align-items: stretch;
        width: fit-content;
        padding: 9px 0;
        border-radius: 2px;
        background-color: $c-input-bg;

        @include max(laptop) {
            padding: 2px 4px;
        }

        @media print {
            display: none;
        }

    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        color: $c-text-light;
        cursor: pointer;
        transition: color $tr-time linear;

        @include max(laptop) {
            width: 24px;
        }

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__btn+&__btn {
        border-left: 1px solid $c-border;
    }
}