.category-card {
    position: relative;
    width: 100%;
    border: 1px solid $c-border;
    padding: 10px;
    transition: all $tr-time linear;

    &:hover {
        background-color: $c-main-bg;
        border-color: #4e4e4e;
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    &__count {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 2px 6px;
        border-radius: 2px;
        font-size: 12px;
        line-height: 1.4em;
        color: $c-white;
        background-color: $c-text-dark;

        @include max(mobile) {
            font-size: 10px;
            top: 5px;
            left: 5px;
        }
    }

    &__stickers {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: absolute;
        right: 8px;
        top: 8px;
        max-width: 152px;

        @include max(mobile) {
            right: 5px;
            top: 5px;
            max-width: 132px;
        }
    }

    &__sticker {
        display: flex;
        align-items: center;
        gap: 4px;
        width: 100%;
        max-width: fit-content;
        padding: 4px;
        font-size: 12px;
        line-height: 1.4em;
        border-radius: 2px;
        background-color: $c-white;
        color: $c-text-light;

        @include max(mobile) {
            font-size: 10px;
        }

        img {
            width: 14px;
            height: 14px;
            object-fit: contain;

            @include max(mobile) {
                width: 12px;
                height: 12px;
            }
        }
    }

    &__sticker+&__sticker:not(.category-card__sticker--second) {
        margin-top: 6px;
    }

    &__sticker--blue {
        background-color: #E8F5FF;
        color: #1998FF;
    }

    &__sticker--grey {
        background-color: $c-border;
        color: $c-text-light;
    }

    &__sticker--second {
        position: relative;
        margin-top: 6px;
        border-radius: 4px;
        color: $c-white;
        padding: 8px 10px;
        background-color: $c-text-dark;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: all $tr-time linear;
        z-index: 7;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
            height: 6px;
            background-color: transparent;
        }
    }

    &__sticker.hovered {
        position: relative;
        z-index: 7;
        cursor: pointer;
    }

    &__sticker.hovered:hover+&__sticker--second,
    &__sticker--second:hover {
        opacity: 1;
        margin-top: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
        max-height: 100px;
        visibility: visible;
    }

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 0.52;

        img {
            max-width: 90%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        min-height: 4.4em;
        text-align: center;
        padding-top: 8px;
        margin-top: 8px;
        border-top: 1px solid $c-border;
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;
        color: $c-text;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include max(mobile) {
            font-size: 18px;
        }
    }
}