.site-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 12px 0;
    color: $c-text;
    border-bottom: 1px solid $c-border;
    background-color: $c-white;
    z-index: 20;

    @media print {
        position: absolute;
        display: block;
    }

    &__overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: $c-text;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time-long linear;
        z-index: 15;

        &.active {
            opacity: 0.3;
            visibility: visible;
        }
    }

    &__container {
        position: relative;
        display: flex;
        align-items: stretch;
        z-index: 3;
        width: 100%;
        margin: 0;
        padding: 0 40px;

        @media print {
            padding: 0 10px;
        }

        @include max(large) {
            padding: 0 20px;
        }

        @include max(mobile) {
            padding-top: 0 15px;
        }
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        border-left: 1px solid $c-border;
        flex: 0 0 auto;
    }

    &__logo {
        display: flex;
        align-items: center;
        padding-right: 12px;
        flex: 0 0 156px;

        img {
            height: auto;
        }
    }

    &__burger {
        cursor: pointer;
        transition: color $tr-time linear;

        @media print {
            display: none;
        }

        @include max(mobile) {
            border-left: none;
            padding-right: 0;
            order: 2;
        }

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 30px;
            height: 35px;
        }
    }

    &__location {
        margin-right: auto;

        @media print {
            display: none;
        }
    }

    .user-city {
        position: relative;

        &__header {
            display: flex;
            align-items: center;
            gap: 6px;
            width: fit-content;
            margin-right: auto;
            font-size: 14px;
            cursor: pointer;
            transition: color $tr-time linear;

            &:hover {
                color: $c-accent-hover;
            }

            svg {
                width: 11.2px;
                height: 12.8px;
            }

            span {
                white-space: nowrap;
            }
        }

        &__content {
            position: absolute;
            top: calc(100% + 0px);
            left: 0;
            max-width: max-content;
            padding: 10px 14px;
            background-color: $c-white;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
            opacity: 0;
            visibility: hidden;
            transition: all $tr-time linear;

            &.active {
                top: calc(100% + 16px);
                opacity: 1;
                visibility: visible;
            }
        }

        &__question {
            font-size: 16px;
            line-height: 1.4em;
            white-space: nowrap;
        }

        &__btns {
            display: flex;
            gap: 4px;
            margin-top: 16px;
            align-items: stretch;
        }
    }

    &__menu {
        @include max(laptop) {
            display: none;
        }

        @media print {
            display: none;
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;

        &__item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 6px;
        }

        &__item>.nav-menu__link {
            white-space: nowrap;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
            font-size: 14px;
            transition: color $tr-time linear;

            @media print {
                font-size: 15pt;
            }

            &:hover {
                color: $c-accent-hover;
            }

            svg {
                width: 16px;
                height: 16px;
                transition: all $tr-time linear;

                @media print {
                    display: none;
                }
            }
        }

        &__sublist {
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: absolute;
            top: calc(100% + 0px);
            left: 0;
            max-width: max-content;
            width: 300px;
            opacity: 0;
            padding: 10px 14px;
            visibility: hidden;
            background-color: $c-white;
            transition: all $tr-time linear;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);


            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 27px;
                left: 0;
                top: -26px;
                background-color: transparent;
            }
        }

        &__sublist .nav-menu__link {
            justify-content: flex-start;
            text-align: start;
        }

        &__item:hover .nav-menu__sublist {
            visibility: visible;
            opacity: 1;
            top: calc(100% + 16px);
        }

        &__item:hover>.nav-menu__link svg {
            transform: rotate(-180deg);
        }
    }

    &__contacts {
        display: flex;
        align-items: center;

        @media print {
            margin-left: auto;
        }

        @include max(laptop) {
            display: none;
        }
    }

    .socials {
        display: flex;
        align-items: center;
        gap: 14px;

        @include max(large) {
            gap: 10px;
        }

        &__item {
            transition: color $tr-time linear;

            &:hover {
                color: $c-accent-hover;
            }
        }

        &__item svg {
            width: 24px;
            height: 24px;
        }
    }

    &__socials.socials {
        padding: 12px;
        flex: 0 0 auto;

        @media print {
            display: none;
        }

        @include max(large) {
            padding: 12px 10px;
        }

        @include max(laptop) {
            display: none;
        }
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        &__open {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: color $tr-time linear;

            &:hover {
                color: $c-accent-hover;
            }
        }

        &__open svg {
            width: 24px;
            height: 24px;
        }

        &__content {
            position: fixed;
            right: 0;
            top: 0;
            width: calc(100% - 250px);
            height: 79px;
            display: flex;
            align-items: center;
            padding: 12px 40px 12px 0;
            background-color: $c-white;
            visibility: hidden;
            opacity: 0;
            transition: all $tr-time-long linear;

            &.active {
                visibility: visible;
                opacity: 1;
            }

            @include max(large) {
                width: calc(100% - 230px);
                padding-right: 20px;
            }

            @include max(laptop) {
                height: 62px;
                padding: 8px 20px 8px 0;
            }

            @include max(mobile) {
                width: 100%;
                padding: 12px 15px;
                height: auto;
                right: 0;
                left: 0;
            }

        }

    }

    &__search.search {
        padding-right: 12px;
        flex: 0 0 auto;

        @media print {
            display: none;
        }

        @include max(mobile) {
            margin-left: auto;
        }
    }

    .shop {
        gap: 18px;
        padding-right: 18px;

        @media print {
            display: none;
        }

        &__item {
            position: relative;
            transition: color $tr-time linear;

            &:hover {
                color: $c-accent-hover;
            }
        }

        &__item svg {
            width: 24px;
            height: 24px;
        }

        &__item span {
            position: absolute;
            top: -11px;
            right: -11px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: $c-accent;
            color: $c-white;
            font-size: 12px;
            border-radius: 100%;

        }
    }

    &__location,
    &__shop.shop,
    &__callback {
        @include max(mobile) {
            display: none;
        }
    }

    &__callback {
        align-self: center;
        padding: 8px 12px;

        @media print {
            display: none;
        }

        @include max(large) {
            padding: 8px;
        }
    }

}