.site-header__overlay(data-js="siteHeaderOverlay" data-role="headerSearchClose")
header.site-header(data-js="siteHeader")
    .site-header__container
        .site-header__logo
            img(src="img/logo_full.svg" alt="логотип")
        .site-header__burger.site-header__block(data-js="mainBurgerOpen")
            svg
                use(xlink:href=`img/sprites/sprite.svg#burger`)
        .site-header__location.site-header__block.user-city(data-js="userCity" data-default="Санкт-Петербург")
            .user-city__header(data-js="userCityHeader")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#location`)
                span(data-js="userCityText") Город
            .user-city__content(data-js='userCityContent')
                .user-city__question
                    span(data-js="userCityText") Санкт-Петербург
                    |  ваш город?
                .user-city__btns
                    +btn({
                        classes: '',
                        name: 'Да',
                        cMode: 'red',
                        size: '108',
                        type: 'button',
                    })(data-js="cityBtnYes")
                    +btn({
                        classes: '',
                        name: 'Выбрать другой',
                        cMode: 'grey',
                        size: '108',
                        type: 'link',
                    })(data-js="cityBtnNo")
        nav.site-header__menu.site-header__block
            ul.nav-menu
                li.nav-menu__item
                    a.nav-menu__link(href="javascript:void(0)") Каталог продукции 
                li.nav-menu__item
                    a.nav-menu__link(href="javascript:void(0)") Производство
                li.nav-menu__item
                    a.nav-menu__link(href="javascript:void(0)") 
                        | Услуги
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                    .nav-menu__sublist
                        a.nav-menu__link(href="javascript:void(0)") Металлообработка
                        a.nav-menu__link(href="javascript:void(0)") Поверка инструментов измерений
                        a.nav-menu__link(href="javascript:void(0)") Пуско-наладка
                        a.nav-menu__link(href="javascript:void(0)") Наладка средств измерений
                        a.nav-menu__link(href="javascript:void(0)") Доставка

        .site-header__contacts
            ul.nav-menu
                li.nav-menu__item
                    a.nav-menu__link(href="mailto:info@tochpribor-nw.ru") 
                        | info@tochpribor-nw.ru
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                    .nav-menu__sublist
                        a.nav-menu__link(href="mailto:info@tochpribor-nw.ru") info@tochpribor-nw.ru
                li.nav-menu__item
                    a.nav-menu__link(href="tel:+78126123003") 
                        | +7 (812) 612-30-03
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                    .nav-menu__sublist
                        a.nav-menu__link(href="tel:+78126123003") +7 (812) 612-30-03

        .site-header__socials.socials
            a.socials__item(href="https://telegram.org/")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#tg`)
            a.socials__item(href="https://vk.com/")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#vk`)

        .site-header__search.search
            .search__open(data-js="headerSearchOpen")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#search`)
            .search__content(data-js="headerSearchContent")
                +search-form({
                    inHeader: true,
                    hasPrompt: true
                })

        .site-header__shop.site-header__block.shop 
            a.shop__item(href="javascript:void(0)")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#compare`)
                span 5

            a.shop__item(href="javascript:void(0)")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#basket`)
                span 5

        +btn({
            classes: 'site-header__callback',
            size: "content",
            name: 'Заказать звонок',
            icon: 'arrow_enter',
        })(data-modal="#callbackModal")








