.product-intro {
    &__container {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 32px;

        @include max(laptop) {
            gap: 24px;
        }

        @include max(tablet) {
            flex-direction: column;
        }
    }

    &__notice {
        position: fixed;
        right: 40px;
        top: 87px;
        background-color: $c-text-dark;
        border-radius: 4px;
        color: $c-white;
        padding: 8px 10px;
        z-index: 30;
        font-size: 14px;
        line-height: 1.4em;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        @include max(large) {
            right: 20px;
        }

        @include max(laptop) {
            top: 70px;
        }

        @include max(mobile) {
            right: 15px;
            font-size: 12px;
            padding: 4px 8px;
        }

        img {
            width: 24px;
            height: 24px;

            @include max(mobile) {
                width: 20px;
                height: 20px;
            }
        }

        .add,
        .remove {
            display: none;
            align-items: center;
            gap: 8px;

            @include max(mobile) {
                gap: 4px;
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &--add .add {
            display: flex;
        }

        &--remove .remove {
            display: flex;
        }
    }

    &__media {
        position: relative;
        flex: 0 0 40.5%;
        max-width: 40.5%;

        @include max(laptop) {
            flex-basis: 37%;
            max-width: 37%;
        }

        @include max(tablet) {
            flex-basis: auto;
            width: 100%;
            max-width: 100%;
        }
    }

    &__tags--mob {
        display: none;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 5;

        @include max(laptop) {
            display: flex;
        }
    }

    &__tags--desk {
        @include max(laptop) {
            display: none;
        }
    }

    &__controls {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 14px;
    }

    &__body {
        margin-top: 16px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 32px;

        @include max(laptop) {
            flex-direction: column;
            gap: 24px;
        }
    }

    &__main {
        flex: 1 1 auto;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 16px;
    }

    &__block {
        padding-top: 16px;
        border-top: 1px solid $c-border;

        &--noborder {
            border: none;
            padding-top: 0;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;
        color: $c-text;
        margin-bottom: 16px;

        @include max(mobile) {
            font-size: 18px;
            margin-bottom: 8px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.4em;
        color: $c-text
    }

    &__models {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        overflow: hidden;
        transition: max-height $tr-time linear;

        @include max(xs) {
            gap: 4px;
        }
    }

    &__model {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        min-height: 33px;
        padding: 4.5px 8px 4px;
        font-size: 16px;
        line-height: 1.4em;
        color: $c-text;
        border: solid 1px $c-bg;
        transition: all $tr-time linear;
        border-radius: 4px;

        @include max(mobile) {
            min-height: 31px;
            padding: 5px 8px 4px;
            font-size: 14px;
        }

        @include max(xs) {
            min-height: 29px;
            font-size: 12px;
        }

        &.active {
            border-color: $c-accent;
        }

        &:hover {
            border-color: $c-accent-hover;
            color: $c-accent-hover;
        }
    }

    &__more {
        font-size: 16px;
        line-height: 1.4em;
        margin-top: 8px;
        color: $c-text-breadcrumbs;
        width: fit-content;
        cursor: pointer;

        @include max(xs) {
            font-size: 14px;
        }

        .show {
            display: block;
        }

        .hide {
            display: none;
        }

        &--opened {
            .show {
                display: none;
            }

            .hide {
                display: block;
            }
        }

    }

    &__links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 16px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 2px 4px;
        font-size: 16px;
        line-height: 1.4em;
        background-color: $c-input-bg;
        color: $c-text;
        border-radius: 2px;
        transition: color $tr-time linear;

        @include max(mobile) {
            font-size: 14px;
        }

        svg {
            width: 16px;
            height: 16px;
            transform: rotate(-90deg);
            color: #4e4e4e;
            transition: color $tr-time linear;
        }

        &:hover {
            color: $c-accent-hover;

            svg {
                color: $c-accent-hover
            }
        }
    }

    &__side {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 0 0 324px;

        @include max(laptop) {
            flex-basis: auto;
            align-items: stretch;
            width: 100%;
        }
    }

    &__order {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        border: solid 1px $c-border;
        border-radius: 4px;

        @include max(xs) {
            padding: 0;
            border: none;
        }
    }

    &__replacements {
        padding: 8px 0 16px;

        @include max(xs) {
            padding: 0 0 8px;
        }
    }

    &__cart svg {
        width: 24px;
        height: 24px;
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__chars-all {
        display: block;
        margin-top: 12px;
        font-size: 14px;
        line-height: 1.4em;
        text-decoration: underline;
        color: $c-text;
        transition: color $tr-time linear;

        &:hover {
            color: $c-accent-hover;
        }
    }


}