.socials-section {
    position: relative;
    background-color: $c-bg-dark;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .section__container {
        padding: 40px 40px 20px;
    }

    &__container {
        position: relative;
        background-color: transparent;
        z-index: 3;
    }

    &__items {
        display: flex;
        align-items: stretch;
        gap: 12px;
        margin-top: 16.3vw;

        @include max(tablet) {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));

            .btn {
                width: 100%;
            }
        }

        @include max(xs) {
            margin-top: 30px;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    &__subscribe {
        margin-left: auto;

        @include max(tablet) {
            margin-left: 0;
        }
    }
}