mixin mixins()
    //- Компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/btn/btn
    include ../../blocks/components/field/field
    include ../../blocks/components/form/form
    include ../../blocks/components/breadcrumbs/breadcrumbs
    include ../../blocks/components/big-menu/big-menu
    include ../../blocks/components/news-card/news-card
    include ../../blocks/components/video/video
    include ../../blocks/components/modal/modal

    //- Модули
    include ../../blocks/modules/socials-section/socials-section