mixin mixins()
	//- Компоненты
	include ../../blocks/components/title/title
	include ../../blocks/components/btn/btn
	include ../../blocks/components/copy-btn/copy-btn
	include ../../blocks/components/download-btn/download-btn
	include ../../blocks/components/field/field
	include ../../blocks/components/form/form
	include ../../blocks/components/amount-input/amount-input
	include ../../blocks/components/form-filter/form-filter
	include ../../blocks/components/breadcrumbs/breadcrumbs
	include ../../blocks/components/big-menu/big-menu
	include ../../blocks/components/news-card/news-card
	include ../../blocks/components/video/video
	include ../../blocks/components/video-btn/video-btn
	include ../../blocks/components/modal/modal
	include ../../blocks/components/spoiler/spoiler
	include ../../blocks/components/pagination/pagination
	include ../../blocks/components/catalog-card/catalog-card
	include ../../blocks/components/catalog-card-s/catalog-card-s
	include ../../blocks/components/vacancy-card/vacancy-card
	include ../../blocks/components/category-card/category-card
	include ../../blocks/components/cart-card/cart-card
	include ../../blocks/components/service-card/service-card
	include ../../blocks/components/product-price/product-price
	include ../../blocks/components/product-tags/product-tags
	include ../../blocks/components/product-articles/product-articles

	//- Модули
	include ../../blocks/modules/home-intro/home-intro
	include ../../blocks/modules/h-advantages/h-advantages
	include ../../blocks/modules/img-section/img-section
	include ../../blocks/modules/h-clients/h-clients
	include ../../blocks/modules/socials-section/socials-section
	include ../../blocks/modules/tabs-block/tabs-block
	include ../../blocks/modules/media-slider/media-slider
	include ../../blocks/modules/cards-slider/cards-slider
	include ../../blocks/modules/help-section/help-section
	include ../../blocks/modules/product-slider/product-slider
	include ../../blocks/modules/product-page-intro/product-intro
	include ../../blocks/modules/img-intro/img-intro
	include ../../blocks/modules/quote-section/quote-section
	include ../../blocks/modules/team-section/team-section
	include ../../blocks/modules/f-factory/f-factory