.city-modal {
    .modal__content {
        padding: 20px;
    }

    .modal__close {
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        border: none;
    }

    &__list {
        columns: 2 16px;
        margin-top: 24px;
        margin-bottom: -12px;
    }

    &__item {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4em;
        color: $c-text;
        margin-bottom: 12px;
        transition: color $tr-time linear;
        cursor: pointer;

        &:hover {
            color: $c-accent-hover;
        }
    }
}

.quick-view-modal {
    .hystmodal__window {
        @include max(laptop) {
            max-width: calc(100% - 32px);
            min-width: calc(100% - 32px);
        }

        @include max(tablet) {
            max-width: 100%;
            min-width: 100%;
        }
    }

    .modal__content {
        max-width: 1408px;
        min-width: auto;

        @include max(laptop) {
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
        }

        @include max(tablet) {
            max-width: 100%;
            width: 100%;
            border-radius: 0;
        }
    }

    .modal__title {
        max-width: 840px;
        text-align: start;
        padding-left: 0;
        padding-right: 64px;

        @include max(mobile) {
            padding-right: 48px;
        }
    }

    .quick-view {
        &__top {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 14px;
        }

        &__grid {
            margin-top: 12px;
            display: grid;
            grid-template-columns: auto 440px 324px;
            gap: 32px;

            @include max(laptop) {
                gap: 24px;
                grid-template-columns: auto 400px 300px;
            }

            @include max(1249) {
                grid-template-columns: 495px auto;
            }

            @include max(tablet) {
                grid-template-columns: 1fr;
            }

            @include max(mobile) {
                gap: 16px;
            }
        }

        &__photo {
            align-self: flex-start;
            aspect-ratio: 1 / 0.935;
            position: relative;
            border: 1px solid $c-border;
            border-radius: 4px;
            overflow: hidden;
            min-width: 430px;

            @include max(laptop) {
                aspect-ratio: 1 / 0.96;
            }

            @include max(1249) {
                min-width: 495px;
            }

            @include max(tablet) {
                aspect-ratio: 1 / 0.5;
            }

            @include max(mobile) {
                aspect-ratio: 1 / 0.9;
                min-width: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__tags {
            position: absolute;
            left: 10px;
            top: 10px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__articles {
            padding-bottom: 16px;
            border-bottom: 1px solid $c-border;
        }

        &__subtitle {
            font-size: 20px;
            line-height: 1.1em;
            letter-spacing: -0.01em;
            color: $c-text;
            margin-bottom: 16px;

            @include max(mobile) {
                font-size: 18px;
                margin-bottom: 8px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 1.4em;
            color: $c-text
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &__controls {
            display: flex;
            flex-direction: column;

            @include max(1249) {
                flex-direction: row;
                justify-content: space-between;
                grid-column-start: 1;
                grid-column-end: 3;
                gap: 24px;
            }

            @include max(tablet) {
                grid-column-end: 2;
                gap: 16px;
                flex-direction: column;
            }
        }

        &__order {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px;
            border: 1px solid $c-border;
            border-radius: 4px;

            @include max(1249) {
                flex: 0 0 493px;
            }

            @include max(tablet) {
                flex-basis: auto;
                width: 100%;
            }
        }

        &__more {
            margin-top: auto;
            min-height: 128px;

            @include max(1249) {
                flex: 0 1 100%;
            }

            @include max(tablet) {
                flex-basis: auto;
                width: 100%;
            }
        }

        &__prices {
            margin-top: auto;
            margin-bottom: 24px;
        }
    }
}

.form-modal {
    .modal__inner {
        margin-top: 0;
    }

    .modal__close {
        width: 24px;
        height: 24px;
        border: none;
        right: 24px;
        top: 24px;

        @include max(xs) {
            right: 16px;
            top: 20px;
        }

        svg {
            @include max(mobile) {
                width: 24px;
                height: 24px;
            }
        }
    }
}