noindex
    div
        //- код модалок сюда

        //- Выбор города
        +modal({modalId:"cityModal", modalTitle:"Укажите ваш город", classes:"city-modal"})(data-js="cityModal")
            +field({
                placeholder: 'Поиск города',
                inputAttr: {
                    "data-js": "citySearchInput"
                },
                resetBtn: true,
                isSearch: true
            })
            ul.city-modal__list
                li.city-modal__item(data-js="cityModalItem" data-value="Москва") Москва
                li.city-modal__item(data-js="cityModalItem" data-value="Пермь") Пермь
                li.city-modal__item(data-js="cityModalItem" data-value="Санкт-Петербург") Санкт-Петербург
                li.city-modal__item(data-js="cityModalItem" data-value="Уфа") Уфа
                li.city-modal__item(data-js="cityModalItem" data-value="Самара") Самара
                li.city-modal__item(data-js="cityModalItem" data-value="Екатеринбург") Екатеринбург
                li.city-modal__item(data-js="cityModalItem" data-value="Челябинск") Челябинск
                li.city-modal__item(data-js="cityModalItem" data-value="Краснодар") Краснодар
                li.city-modal__item(data-js="cityModalItem" data-value="Нижний Новгород") Нижний Новгород

        //- Быстрый просмотр товара
        +modal({modalId:"quickViewModal", modalTitle:"Универсальная испытательная машина ТРМ-О 0,1 А0,5 Tochline", classes:"quick-view-modal"})
            .quick-view
                .quick-view__top 
                    +btn({
                        name: 'Сравнить',
                        icon: 'compare_2',
                        cMode: 'noborder',
                        size: 'link'
                    })
                    +btn({
                        name: 'Поделиться',
                        icon: 'share',
                        cMode: 'noborder',
                        size: 'link'
                    })
                .quick-view__grid
                    .quick-view__photo
                        +product-tags({
                            classes: 'quick-view__tags',
                            tags: [
                                {
                                    img: 'img/catalog/check_icon.svg',
                                    text: 'В наличии',
                                    color: 'green'
                                },
                                {
                                    img: '',
                                    text: 'Новинка',
                                    color: 'blue'
                                },
                                {
                                    img: '',
                                    text: 'Скидка',
                                    color: 'red'
                                },
                                {
                                    img: 'img/catalog/arrow_circle.svg',
                                    text: 'Снято с производства',
                                    note: 'Товар больше не производится. Смотрите аналоги в карточке товара',
                                    color: 'grey'
                                }
                            ]
                        })

                        img(src="img/catalog/product_7.webp")
                    .quick-view__info
                        +product-articles({
                            classes: 'quick-view__articles'
                        })
                        .quick-view__block
                            .quick-view__subtitle Применение
                            .quick-view__text Статические испытания образов из различных материалов на растяжение, сжатие, изгиб, сдвиг, срез, адгезию и прочее
                        .quick-view__block
                            .quick-view__subtitle Характеристики
                            .chars-table
                                .chars-table__row
                                    .chars-table__title Конструктивное исполнение
                                    .chars-table__value настольное
                                .chars-table__row
                                    .chars-table__title Напряжение питания
                                    .chars-table__value  220В, 50Гц
                                .chars-table__row
                                    .chars-table__title Мин. нагрузка, Н
                                    .chars-table__value 0,2
                                .chars-table__row
                                    .chars-table__title Макс. нагрузка, Н
                                    .chars-table__value 100
                                .chars-table__row
                                    .chars-table__title Погрешность по нагрузке на данном диапазоне
                                    .chars-table__value  ±0.5%

                        .quick-view__block
                            .quick-view__subtitle Документы
                            .quick-view__list
                                +download-btn({
                                    classes: 'download-btn--small',
                                    img: 'img/docs-type/pdf.svg',
                                    name: 'Свидетельство об утверждении типа средств измерений ОС.С. 28.070.А №75160',
                                    size: ''
                                })
                                +download-btn({
                                    classes: 'download-btn--small',
                                    img: 'img/docs-type/pdf.svg',
                                    name: 'Методика поверки',
                                    size: ''
                                })
                    .quick-view__controls
                        .quick-view__order
                            +product-price({
                                classes: 'quick-view__prices',
                                price: '550 000 ₽',
                                oldPrice: '680 000 ₽',
                                vMode: 'horizontal',
                                size: '32'
                            })
                            +btn({
                                name: 'Подробнее о товаре',
                                size: 'full',
                                cMode: 'red'
                            })
                            +btn({
                                name: 'Запросить техническое описание',
                                size: 'full',
                                cMode: 'light-red'
                            })(data-modal="#techDescModal")
                            +btn({
                                name: 'Задать вопрос',
                                size: 'full',
                                cMode: 'grey',
                                icon: 'question'
                            })(data-modal="#questionModal")
                        +btn({
                            classes: 'quick-view__more',
                            name: 'Подробнее о товаре',
                            size: 'full',
                            cMode: 'transparent-red',
                            icon: 'arrow_enter'
                        })

        //- Заказать звонок в шапке
        +modal({modalId:"callbackModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Заказать звонок',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваша заявка отправлена',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field({
                    tag: 'textarea',
                    title: 'Комментарий',
                    textareaRows: '1'
                })
                +field-file({
                    placeholder: 'Прикрепить файл',
                    inputAttr: {
                        'data-v-name': 'file',
                        'data-size': '10485760',
                        'accept': 'image/*, text/plain, .docx, .pdf'
                    }
                })

        //- Оставить заявку Футер, Услуги, О заводе
        +modal({modalId:"requestModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Оставить заявку',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваша заявка отправлена',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field({
                    tag: 'textarea',
                    title: 'Комментарий',
                    textareaRows: '1'
                })
                +field-file({
                    placeholder: 'Прикрепить файл',
                    inputAttr: {
                        'data-v-name': 'file',
                        'data-size': '10485760',
                        'accept': 'image/*, text/plain, .docx, .pdf'
                    }
                })

        //- Подписаться на рассылку Новости каталог, Новости категория, Новости детальная, Контакты
        +modal({modalId:"subscribeModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Подписаться на&nbsp;рассылку',
                text: '',
                btnText: 'Оформить подписку',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Подписка оформлена',
                successText: 'Письмо для подтверждения отправлено на указанный адрес электронной почты',
                successBtn: true
            })
                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })

        //- Задать вопрос Карточка товара, Быстрый просмотр, Вопросы и ответы
        +modal({modalId:"questionModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Задать вопрос',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваш вопрос отправлен',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field({
                    tag: 'textarea',
                    title: 'Вопрос',
                    textareaRows: '1',
                    inputAttr: {
                        'required': '',
                    }
                })
                +field-file({
                    placeholder: 'Прикрепить файл',
                    inputAttr: {
                        'data-v-name': 'file',
                        'data-size': '10485760',
                        'accept': 'image/*, text/plain, .docx, .pdf'
                    }
                })

        //- Написать в тех. поддержку Глоссарий каталог, Глоссарий детальная
        +modal({modalId:"supportModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Написать в тех. поддержку',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваше предложение отправлено',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field({
                    tag: 'textarea',
                    title: 'Предложение правки',
                    textareaRows: '1',
                    inputAttr: {
                        'required': '',
                    }
                })

        //- Получить консультацию и Подобрать оборудование Новости детальная, Карточка товара
        +modal({modalId:"selectionModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Не нашли подходящий товар? Поможем подобрать аналог',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваша заявка отправлена',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field({
                    tag: 'textarea',
                    title: 'Применение (комментарий)',
                    textareaRows: '1'
                })

        //- Отправить резюме Вакансия, Наша команда
        +modal({modalId:"vacancyModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Стать частью команды Точприбор',
                text: 'В поисках работы? Оставляй отклик! Рассмотрим, свяжемся.',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваше резюме отправлено',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                +field({
                    title: 'ФИО <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field({
                    tag: 'textarea',
                    title: 'Комментарий / Сопроводительное письмо',
                    textareaRows: '1'
                })
                +field-file({
                    placeholder: 'Прикрепить резюме',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'file',
                        'data-size': '10485760',
                        'accept': 'image/*, text/plain, .docx, .pdf'
                    }
                })

        //- Зказать в один клик или Запросить КП Главная, Новости детальная, Карточка товара
        +modal({modalId:"oneClickOrderModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Получить коммерческое предложение',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваша заявка отправлена',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                .form-product-card
                    .form-product-card__photo
                        img(src="img/catalog/product_9.webp" alt="")
                    .form-product-card__title Разрывная машина ИР 5143-200
                    .form-product-card__order
                        +product-price({
                            classes: 'form-product-card__price',
                            size: '18',
                            price: '1 550 000 ₽',
                            oldPrice: '1 680 000 ₽'
                        })
                        +amount-input({
                            classes: 'amount-input--white'
                        })

                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field({
                    tag: 'textarea',
                    title: 'Комментарий к заказу',
                    textareaRows: '1'
                })
                +field-file({
                    placeholder: 'Прикрепить файл',
                    inputAttr: {
                        'data-v-name': 'file',
                        'data-size': '10485760',
                        'accept': 'image/*, text/plain, .docx, .pdf'
                    }
                })

        //- Запросить техническое описание Быстрый просмотр
        +modal({modalId:"techDescModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Запросить техническое описание',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваша заявка отправлена',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                .form-product-card
                    .form-product-card__photo
                        img(src="img/catalog/product_9.webp" alt="")
                    .form-product-card__title Разрывная машина ИР 5143-200
                    .form-product-card__order
                        +product-price({
                            classes: 'form-product-card__price',
                            size: '18',
                            price: '1 550 000 ₽',
                            oldPrice: '1 680 000 ₽'
                        })

                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field-file({
                    placeholder: 'Прикрепить файл',
                    inputAttr: {
                        'data-v-name': 'file',
                        'data-size': '10485760',
                        'accept': 'image/*, text/plain, .docx, .pdf'
                    }
                })

        //- Запросить КП Корзина
        +modal({modalId:"getOfferModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Получить коммерческое предложение',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваша заявка отправлена',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })

                .form-spoiler(data-js="formSpoiler")
                    .form-spoiler__header(data-js="formSpoilerHeader")
                        .form-spoiler__title Список товаров
                        .form-spoiler__icon
                            svg
                                use(xlink:href="img/sprites/sprite.svg#arrow_angle")
                    .form-spoiler__content(data-js="formSpoilerContent")
                        .form-spoiler__items
                            .form-spoiler__item
                                .form-spoiler__name Разрывная машина ИР 5143‑200
                                .form-spoiler__amount 1шт
                            .form-spoiler__item
                                .form-spoiler__name FU DLC 200 кН испытательная машина
                                .form-spoiler__amount 1шт
                            .form-spoiler__item
                                .form-spoiler__name Испытательная машина для пневморессор (пневмобаллоннов) DVT LZ
                                .form-spoiler__amount 1шт
                            .form-spoiler__item
                                .form-spoiler__name ИР 5061-0,05
                                .form-spoiler__amount 1шт
                            .form-spoiler__item
                                .form-spoiler__name ИХ 5111
                                .form-spoiler__amount 1шт
                        .form-spoiler__item.form-spoiler__item--total
                            span Итого:
                            span 7 750 000 ₽

                +field({
                    tag: 'textarea',
                    title: 'Комментарий к заказу',
                    textareaRows: '1'
                })

        //- Проверить изделие О компании, Безопасность изделия
        +modal({modalId:"checkModal", modalTitle:"", classes:"form-modal"})
            +form({
                classes: 'form--modal',
                title: 'Проверить изделие',
                text: '',
                btnText: 'Отправить',
                privacyText: 'Я согласен на обработку моих персональных данных согласно <a href="#" target="_blank">Политики конфиденциальности</a>',
                successTitle: 'Ваша заявка отправлена',
                successText: 'Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время',
                successBtn: true
            })
                +field({
                    title: 'Имя <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-type': 'letters'
                    },
                })
                +field({
                    title: 'Номер телефона <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'phone',
                        'data-type': 'phoneNumber'
                    },
                })
                +field({
                    title: 'Электронная почта <sup>*</sup>',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                })
                +field({
                    tag: 'select',
                    placeholder: 'Выбрать товар',
                    inputAttr: {
                        'required': '',
                    },
                    selectOptions: [
                        "",
                        "Разрывная машина ИР 5143‑200",
                        "FU DLC 200 кН испытательная машина",
                        "Испытательная машина для пневморессор (пневмобаллоннов) DVT LZ",
                        "ИР 5061-0,05",
                        "ИХ 5111",
                    ]
                })
                +field({
                    tag: 'textarea',
                    title: 'Уникальный номер товара',
                    textareaRows: '1'
                })
                +field-file({
                    placeholder: 'Прикрепить файл',
                    inputAttr: {
                        'data-v-name': 'file',
                        'data-size': '10485760',
                        'accept': 'image/*, text/plain, .docx, .pdf'
                    }
                })