.home-intro {
    position: relative;
    background-color: $c-bg-dark;
    overflow: hidden;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: calc(100vh - 80px);
        min-height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);

        @include max(laptop) {
            height: calc(100vh - 61px);
            min-height: calc(100vh - 61px);
            max-height: calc(100vh - 61px);
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);

        }

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__slider {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &__seq {
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        canvas {
            width: 100%;
            height: 100%;
        }

        &.swiper-slide-active {
            visibility: visible;
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: relative;
        z-index: 7;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 90px;
    }

    &__left {
        max-width: 670px;
        flex: 0 0 670px;
    }

    &__title {
        margin-top: 24px;
        margin-bottom: 20px;
    }

    &__right {
        flex: 1 1 auto;
        max-width: 625px;
    }

}

.home-info {
    width: 370px;
    padding: 8px;
    margin-left: auto;
    color: $c-white;
    background-color: #292929;
    border-radius: 4px;

    &__slider,
    &__tabs {
        overflow: hidden;
    }

    &__slider {
        margin-top: 40px;
    }

    &__tabs {
        margin: 8px 8px 0;
    }

    &__tab {
        font-size: 10px;
        line-height: 1.4em;
        border-bottom: 1px solid $c-white;
        padding-bottom: 8px;
        opacity: 0.4;
        transition: opacity $tr-time linear;
        cursor: pointer;

        &.swiper-slide-thumb-active {
            opacity: 1;
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
        gap: 16px;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        &.swiper-slide-active {
            visibility: visible;
            opacity: 1;
        }

        .btn {
            margin-top: auto;
        }
    }

    &__icon {
        opacity: 0.4;
        height: 80px;

        svg {
            height: 100%;
        }
    }

    &__text {
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 4.2em;
        font-size: 14px;
        line-height: 1.4em;
        opacity: 0.4;

    }

    &__icon,
    &__title,
    &__text {
        padding: 0 16px;
    }


}