.home-intro {
    position: relative;
    overflow: hidden;

    &__container {
        background-color: $c-bg-dark;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: calc(100vh - 80px);
        min-height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);

        @include max(laptop) {
            height: calc(100vh - 61px);
            min-height: calc(100vh - 61px);
            max-height: calc(100vh - 61px);
        }

    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @include max(tablet) {
            display: none;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);

        }

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__slider {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;

        @include max(tablet) {
            height: auto;
            aspect-ratio: 1 / 0.5625;
            top: 50%;
            transform: translateY(-70%);
        }

        @include max(mobile) {
            min-width: 640px;
            left: 50%;
            transform: translate(-50%, -70%)
        }

        @include max(xs) {
            min-width: auto;
            aspect-ratio: auto;
            width: calc((100vh - 500px) * 1.778);
            height: calc(100vh - 500px);
            top: 120px;
            transform: translate(-50%, 0)
        }
    }

    .home-chart {
        width: 357px;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 16px;
        background-color: #1A1A1A;
        color: $c-white;
        font-size: 14px;
        line-height: 1em;
        letter-spacing: -0.03em;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time-long linear;
        z-index: 3;

        @include max(laptop) {
            width: 200px;
            font-size: 12px;
            padding: 8px;
            border-radius: 2px;
        }

        @include max(mobile) {
            width: 150px;
            font-size: 9px;
            padding: 4px;
            right: calc((100% - 100vw) / 2 + 10px);
            top: -120px;
        }

        @include max(xs) {
            top: -10px;
            width: 100px;
            font-size: 8px;
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &__chart {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            aspect-ratio: 1 / 1;
            padding: 14px;

            @include max(laptop) {
                padding: 7px;
            }
        }

        &__grid,
        &__line {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__line {
            padding-top: 9%;
            width: 0;
            overflow: hidden;

            img {
                width: auto;
                max-width: none;
            }
        }

        &__text {
            opacity: 0.4;
            max-width: 115px;

            @include max(laptop) {
                max-width: 85px;
            }

            @include max(mobile) {
                max-width: 70px;
            }
        }

        &__text--bottom {
            opacity: 1;
            max-width: 80px;
            align-self: flex-end;
            text-align: end;

            @include max(laptop) {
                max-width: 60px;
            }

            @include max(mobile) {
                max-width: 45px;
            }
        }

        &__table {
            margin-top: 19px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include max(laptop) {
                margin-top: 12px;
                gap: 5px;
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
        }

        &__param {
            opacity: 0.4;
        }
    }

    &__seq {
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        canvas {
            width: 100%;
            height: 100%;
        }

        &.swiper-slide-active {
            visibility: visible;
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: relative;
        z-index: 7;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 90px;

        @include max(tablet) {
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
        }
    }

    &__left {
        max-width: 670px;
        flex: 0 0 670px;

        @include max(laptop) {
            max-width: 560px;
            flex-basis: 560px;
        }

        @include max(tablet) {
            flex-basis: auto;
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__title {
        margin-top: 24px;
        margin-bottom: 20px;

        @include max(tablet) {
            margin-top: 0;
        }
    }

    &__right {
        position: relative;
        flex: 1 1 auto;

        @include max(tablet) {
            flex: 0 0 auto;
            align-self: stretch;
        }
    }

    .progressbar {
        width: 100%;
        max-width: 625px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time-long linear;

        @include max(tablet) {
            display: none;
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &__skip {
            font-size: 14px;
            line-height: 1.2em;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.4);
            transition: color $tr-time linear;
            cursor: pointer;

            &:hover {
                color: $c-white;
            }
        }

        &__body {
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
        }

        &__fill {
            width: 0;
            height: 1px;
            background-color: $c-white;
            transition: width 0.1s linear;
        }

    }

}

.home-info {
    position: relative;
    width: 370px;
    padding: 8px;
    margin-left: auto;
    color: $c-white;
    background-color: #292929;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    left: 100%;
    transition: all $tr-time-long linear;

    @include max(laptop) {
        width: 335px;
    }

    @include max(tablet) {
        width: 100%;
        opacity: 1;
        left: 0;
        visibility: visible;
    }

    &.active {
        opacity: 1;
        left: 0;
        visibility: visible;
    }

    &__controls {
        position: absolute;
        display: flex;
        align-items: center;
        height: fit-content;
        gap: 16px;
        bottom: 0;
        right: calc(100% + 16px);

        @include max(tablet) {
            right: 0;
            top: -40px;
        }

        @include max(mobile) {
            top: -30px;
        }
    }

    &__control {
        flex-direction: row-reverse;

        @include max(tablet) {
            color: $c-white;
        }

        svg {
            width: 12px;
            height: 12px;
            transform: rotate(90deg);
        }
    }

    &__control--video {
        display: none;

        @include max(tablet) {
            display: flex;
        }

        svg {
            transform: rotate(0);
        }
    }

    &__slider,
    &__tabs {
        overflow: hidden;
    }

    &__slider {
        margin-top: 40px;

        @include max(tablet) {
            margin-top: 24px;
        }
    }

    &__tabs {
        margin: 8px 8px 0;
    }

    &__tab {
        position: relative;
        font-size: 10px;
        line-height: 1.4em;
        padding-bottom: 9px;
        transition: opacity $tr-time linear;
        cursor: pointer;

        span {
            opacity: 0.4;
        }

        &.swiper-slide-thumb-active span {
            opacity: 1;
        }

        .tab-progress {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.4);

            &__overlay {
                width: 0;
                height: 1px;
                background-color: $c-white;
            }
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
        gap: 16px;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        @include max(tablet) {
            gap: 12px;
        }

        &.swiper-slide-active {
            visibility: visible;
            opacity: 1;
        }

        .btn {
            margin-top: auto;
        }
    }

    &__icon {
        opacity: 0.4;
        height: 80px;

        @include max(tablet) {
            height: 60px;
        }

        @include max(mobile) {
            height: 50px;
        }

        img {
            height: 100%;
        }
    }

    &__text {
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 4.2em;
        font-size: 14px;
        line-height: 1.4em;
        opacity: 0.4;

    }

    &__icon,
    &__title,
    &__text {
        padding: 0 16px;
    }


}