-
    const defaultHomeIntroProps = {
        classes: ''
    }

mixin home-intro(props= defaultHomeIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultHomeIntroProps.classes
        }

    section.section.section--full.home-intro(class= checkProps.classes data-js="homeIntro")&attributes(attributes)
        .section__container.home-intro__container
            .home-intro__bg
                video(autoplay muted loop playsinline webkit-playsinline data-js="autoplayVideo")
                    source(src="public/video/home_intro.mp4" media="(min-width: 1024px)" type="video/mp4")
            .home-intro__slider(data-js="homeIntroSlider")
                .home-intro__chart.home-chart(data-js="homeIntroChart")
                    .home-chart__chart
                        .home-chart__text Испытание на растяжение металла
                        .home-chart__text.home-chart__text--bottom ТРМ-П Tochline
                        .home-chart__grid
                            img(src="img/home/chart_grid.svg" alt="")
                        .home-chart__line(data-js="homeIntroChartLine")
                            img(src="img/home/chart_line.svg" alt="")
                    .home-chart__table
                        .home-chart__row
                            .home-chart__param Усилие
                            .home-chart__value <span data-js="homeIntroChartVal" data-min="6000" data-max="18454">6 000</span> Н
                        .home-chart__row
                            .home-chart__param Перемещение
                            .home-chart__value <span data-js="homeIntroChartVal" data-min="0" data-max="21324">0</span> мм
                        .home-chart__row
                            .home-chart__param Скорость
                            .home-chart__value -20.4 мм/мин
                .swiper-wrapper
                    .swiper-slide.home-intro__seq(data-js="homeIntroAnim")
                    .swiper-slide.home-intro__seq(data-js="homeIntroAnim")
                    .swiper-slide.home-intro__seq(data-js="homeIntroAnim")
                    .swiper-slide.home-intro__seq(data-js="homeIntroAnim")
                    .swiper-slide.home-intro__seq(data-js="homeIntroAnim")
            .home-intro__content
                .home-intro__left
                    .section__tag.home-intro__tag [Производим с 1958 года]
                    +title({
                        classes: 'home-intro__title',
                        tag: 'h1',
                        size: '83',
                        text: 'Ведущий завод приборостроения',
                        cMode: 'light'
                    })
                .home-intro__right
                    .home-intro__info.home-info(data-js="homeIntroInfo")
                        +btn({
                            classes: 'home-info__scroll',
                            name: 'Вниз',
                            cMode: 'transparent-grey',
                            size: 'link',
                            icon: 'arrow_classic'
                        })(data-js="homeIntroSkipAll")
                        .home-info__tabs(data-js="homeIntroTabs")
                            .swiper-wrapper
                                .swiper-slide.home-info__tab(data-js="homeIntroTab") 
                                    span 01
                                    .tab-progress(data-js="tabProgress")
                                        .tab-progress__overlay(data-js="tabProgressOverlay")
                                .swiper-slide.home-info__tab(data-js="homeIntroTab") 
                                    span 02
                                    .tab-progress(data-js="tabProgress")
                                        .tab-progress__overlay(data-js="tabProgressOverlay")
                                .swiper-slide.home-info__tab(data-js="homeIntroTab") 
                                    span 03
                                    .tab-progress(data-js="tabProgress")
                                        .tab-progress__overlay(data-js="tabProgressOverlay")
                                .swiper-slide.home-info__tab(data-js="homeIntroTab") 
                                    span 04
                                    .tab-progress(data-js="tabProgress")
                                        .tab-progress__overlay(data-js="tabProgressOverlay")
                                .swiper-slide.home-info__tab(data-js="homeIntroTab") 
                                    span 05
                                    .tab-progress(data-js="tabProgress")
                                        .tab-progress__overlay(data-js="tabProgressOverlay")
                        .home-info__slider(data-js="homeIntroInfoSlider")
                            .swiper-wrapper
                                .swiper-slide.home-info__slide
                                    .home-info__icon
                                        img(src="img/home/home_intro_icon_1.svg")
                                    .home-info__title.title--26.title--light Разрывные машины
                                    .home-info__text Универсальная испытательная машина применяется для&nbsp;проведения исследований различных материалов в&nbsp;производственной и&nbsp;научной сфере
                                    +btn({
                                        name: 'В каталог',
                                        icon: "arrow_enter",
                                        cMode: 'red',
                                        size: 'full'
                                    })
                                .swiper-slide.home-info__slide
                                    .home-info__icon
                                        img(src="img/home/home_intro_icon_1.svg")
                                    .home-info__title.title--26.title--light Разрывные машины 2
                                    .home-info__text Универсальная испытательная машина применяется для&nbsp;проведения исследований различных материалов в&nbsp;производственной и&nbsp;научной сфере
                                    +btn({
                                        name: 'В каталог',
                                        icon: "arrow_enter",
                                        cMode: 'red',
                                        size: 'full'
                                    })
                                .swiper-slide.home-info__slide
                                    .home-info__icon
                                        img(src="img/home/home_intro_icon_1.svg")
                                    .home-info__title.title--26.title--light Разрывные машины 3
                                    .home-info__text Универсальная испытательная машина применяется для&nbsp;проведения исследований различных материалов в&nbsp;производственной и&nbsp;научной сфере
                                    +btn({
                                        name: 'В каталог',
                                        icon: "arrow_enter",
                                        cMode: 'red',
                                        size: 'full'
                                    })
                                .swiper-slide.home-info__slide
                                    .home-info__icon
                                        img(src="img/home/home_intro_icon_1.svg")
                                    .home-info__title.title--26.title--light Разрывные машины 4
                                    .home-info__text Универсальная испытательная машина применяется для&nbsp;проведения исследований различных материалов в&nbsp;производственной и&nbsp;научной сфере
                                    +btn({
                                        name: 'В каталог',
                                        icon: "arrow_enter",
                                        cMode: 'red',
                                        size: 'full'
                                    })
                                .swiper-slide.home-info__slide
                                    .home-info__icon
                                        img(src="img/home/home_intro_icon_1.svg")
                                    .home-info__title.title--26.title--light Разрывные машины 5
                                    .home-info__text Универсальная испытательная машина применяется для&nbsp;проведения исследований различных материалов в&nbsp;производственной и&nbsp;научной сфере
                                    +btn({
                                        name: 'В каталог',
                                        icon: "arrow_enter",
                                        cMode: 'red',
                                        size: 'full'
                                    })
                    .home-intro__progress.progressbar.active(data-js="homeIntroProgressBar")
                        button.section__tag.progressbar__skip(type="button" data-js="homeIntroProgressBarSkip") [Пропустить]
                        .progressbar__body
                            .progressbar__fill(data-js="homeIntroProgressBarFill")

