.catalog-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid $c-border;
    border-color: $c-border;
    background-color: $c-white;
    border-radius: 4px;
    transition: all $tr-time linear;
    cursor: pointer;

    &:hover {
        background-color: $c-bg;
        border-color: #4e4e4e;
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tags {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__tagblock.hovered {
        position: relative;
    }

    &__tag {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4em;
        max-width: fit-content;

        @include max(mobile) {
            font-size: 10px;
        }

        img {
            width: 14px;
            height: 14px;
            object-fit: contain;

            @include max(mobile) {
                width: 12px;
                height: 12px;
            }
        }

        &--green {
            color: #019F3C;
            background-color: #E6F5EC;
        }

        &--blue {
            color: #1998FF;
            background-color: #E8F5FF;
        }

        &--red {
            color: $c-accent;
            background-color: #FAE6E6;
        }

        &--grey {
            color: $c-text-light;
            background-color: $c-border;
        }
    }

    &__note {
        position: absolute;
        top: 100%;
        left: 0;
        max-width: 200px;
        width: max-content;
        padding: 8px 10px;
        border-radius: 4px;
        background-color: $c-text;
        color: $c-white;
        font-size: 12px;
        line-height: 1.4em;
        opacity: 0;
        visibility: hidden;
        transition: all $tr-time linear;

        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            height: 4px;
        }

        @include max(mobile) {
            font-size: 10px;
            max-width: 170px;
        }
    }

    &__tag:hover+&__note,
    &__note:hover {
        opacity: 1;
        top: calc(100% + 4px);
        visibility: visible;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-left: auto;
    }

    &__control {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-text-breadcrumbs;
        transition: color $tr-time linear;

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: minmax(0, 47%) minmax(0, 53%);
        gap: 10px;
        padding-bottom: 16px;
        //border-bottom: 1px solid $c-border;
        flex-grow: 1;
        flex-basis: auto;

        @include max(large) {
            grid-template-columns: minmax(0, 35%) minmax(0, 65%);
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        height: auto;

        @include max(mobile) {
            height: 44vw;
        }

        @include max(xs) {
            max-width: 160px;
            margin: 0 auto;
            height: 160px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;

            @include max(mobile) {
                height: 100%;
            }
        }
    }

    &__title {
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;
        color: $c-text;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 24px;
        font-size: 14px;
        line-height: 1.4em;
        color: $c-text-breadcrumbs;

        @include max(large) {
            font-size: 10px;
        }

        @include max(mobile) {
            margin-top: 16px;
        }

        h2,
        h3,
        h4 {
            font-size: 16px;
            color: $c-text;

            @include max(large) {
                font-size: 14px;
            }
        }

        ul li {
            position: relative;
            padding-left: 1.5em;

            &:before {
                content: '';
                position: absolute;
                left: 0.75em;
                top: 0.7em;
                transform: translate(-50%, -50%);
                width: 0.33em;
                height: 0.33em;
                background-color: $c-text-light;
                border-radius: 100%;
            }

        }

    }

    &__prices {
        margin-top: auto;
        margin-bottom: 6px;
        display: flex;
        align-items: flex-start;
        gap: 14px;
        line-height: 1em;
        font-size: 26px;
        line-height: 1em;
        padding-top: 16px;
        border-top: 1px solid $c-border;

        @include max(laptop) {
            font-size: 24px;
        }

        @include max(mobile) {
            font-size: 22px;
        }

        @include max(xs) {
            font-size: 20px;
        }
    }

    &__price {
        letter-spacing: -0.02em;
        color: $c-text;

        &--old {
            color: $c-text-breadcrumbs;
            text-decoration: line-through;
            line-height: 1.4em;
            font-size: 0.54em;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @include max(xs) {
            flex-direction: column;
            align-items: stretch;
        }

        .btn {
            flex: 0 1 50%;
            position: relative;
            z-index: 3;
        }
    }

    &__footer &__full-btn {
        flex-basis: 100%;
    }
}

.catalog-card {
    &--catalog {
        border-color: transparent;
    }

    &--catalog:hover {
        border-color: #4e4e4e;
    }

    &--catalog &__body {
        flex-grow: 0;
        margin-bottom: auto;
    }
}