extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Корзина"

block content
	.page-layout
		.breadcrumbs-section.section.section--transparent
			.section__container
				+breadcrumbs({
					items: [
						{
							name: 'Главная',
							link: 'javascript:void(0);'
						},
						{
							name: 'Корзина',
							link: 'javascript:void(0);'
						}
					],
				})

		section.section.cart-empty
			.section__container.cart-empty__container
				.cart-empty__content
					.cart-empty__title Корзина пуста
					.cart-empty__text Перейдите в каталог или воспользуйтесь поиском
					+btn({
						name: 'В каталог',
						cMode: 'red',
						icon: 'arrow_enter',
						size: 'full'
					})