extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Каталог (разводящая)"

block content
    .page-layout
        .breadcrumbs-section.section.section--transparent
            .section__container
                +breadcrumbs({
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Каталог',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        section.section.catalog-common
            .section__container
                .section__header
                    +title({
                        tag: 'h1',
                        size: '53',
                        text: 'Каталог'
                    })
                .catalog-common__cards
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Универсальные испытательные <br>машины (разрывные машины)',
                        image: 'img/catalog/category_1.webp',
                        count: '5 моделей',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Аксессуары для испытательных машин',
                        image: 'img/catalog/category_2.webp',
                        count: '3 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Копры маятниковые и&nbsp;вертикальные',
                        image: 'img/catalog/category_3.webp',
                        count: '3 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Приборы для измерения твердости (твердомеры)',
                        image: 'img/catalog/category_4.webp',
                        count: '3 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Меры твердости эталонные',
                        image: 'img/catalog/category_5.webp',
                        count: '16 моделей',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Динамометры',
                        image: 'img/catalog/category_6.webp',
                        count: '3 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Оборудование для пробоподготовки (металлография и т.д.)',
                        image: 'img/catalog/category_7.webp',
                        count: '5 моделей',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Оборудование для технологических испытаний',
                        image: 'img/catalog/category_8.webp',
                        count: '5 моделей',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Системы температурных испытаний',
                        image: 'img/catalog/category_9.webp',
                        count: '3 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Машины трения (для испытания на&nbsp;трение и&nbsp;износ)',
                        image: 'img/catalog/category_10.webp',
                        count: '3 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Испытательные пресса',
                        image: 'img/catalog/category_11.webp',
                        count: '16 моделей',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Экстензометры',
                        image: 'img/catalog/category_12.webp',
                        count: '16 моделей',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Видеоизмерительные системы Girmax',
                        image: 'img/catalog/category_13.webp',
                        count: '33 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Приборы  для измерения цвета',
                        image: 'img/catalog/category_14.webp',
                        count: '33 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Микроскопы',
                        image: 'img/catalog/category_15.webp',
                        count: '16 моделей',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Серия ТРМ <br>Универсальные испытательные машины <br>(производство «ЗИП»)',
                        image: 'img/catalog/category_16.webp',
                        count: '5 моделей',
                        sticker: {
                            first: 'Новая линейка',
                            second: '',
                            color: 'blue',
                            icon: '' 
                        }
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'Серия ТРМЦ <br>Машины для динамических испытаний <br>(производство «ЗИП»)',
                        image: 'img/catalog/category_17.webp',
                        count: '3 модели',
                        sticker: {
                            first: 'Снято с производства',
                            second: 'Производство «ЗИП» / «Точприбор»)',
                            color: 'grey',
                            icon: 'img/catalog/arrow_circle.svg'
                        }
                    })

                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'DVT BP 1-колонные настольные',
                        image: 'img/catalog/category_18.webp',
                        count: '5 моделей',
                        sticker: {
                            first: 'Новая линейка',
                            second: '',
                            color: 'blue',
                            icon: ''
                        }
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'DVT GP 2х&nbsp;колонные настольные',
                        image: 'img/catalog/category_19.webp',
                        count: '3 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'DVT FU 2х&nbsp;колонные напольные',
                        image: 'img/catalog/category_20.webp',
                        count: '3 модели',
                    })
                    +category-card({
                        classes: 'catalog-common__card',
                        title: 'DVT S6 4х&nbsp;колонные напольные',
                        image: 'img/catalog/category_21.webp',
                        count: '16 моделей',
                    })

