extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Каталог (категория)"

block content
    .page-layout
        .breadcrumbs-section.section.section--transparent
            .section__container
                +breadcrumbs({
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Каталог',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название категории',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название подкатегории',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Название подкатегории 2',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        section.section
            .section__container
                +title({
                    classes: 'catalog-category__title',
                    tag: 'h1',
                    size: '53',
                    text: 'Серия ТРМ / универсальные испытательные машины (производство «ЗИП»)'
                })
                .catalog-category__sort
                    +form-filter
                        .form-filter__select.filter-select(data-js='filterSelect')
                            .filter-select__header(data-js="filterSelectHeader")
                                select(data-js="filterSelectInput")
                                    option(value="popular" selected) По популярности
                                    option(value="price_asc") Сначала дешевле
                                    option(value="price_desc") Сначала дороже
                                .filter-select__fake(data-js="filterSelectFake") По популярности
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                            .filter-select__content
                                .filter-select__option.active(data-js="filterSelectOption" data-name="По популярности" data-value="popular") По популярности
                                .filter-select__option(data-js="filterSelectOption" data-name="Сначала дешевле" data-value="price_asc") Сначала дешевле
                                .filter-select__option(data-js="filterSelectOption" data-name="Сначала дороже" data-value="price_desc") Сначала дороже


        section.section.section--transparent.catalog-category__section
            .section__container.catalog-category__layout
                .catalog-category__filter
                    +form-filter({
                        vMode: 'sidebar'
                    })
                        .form-filter__block
                            .form-filter__subtitle Исполнение
                            .form-filter__list(data-js="filterList")
                                .form-filter__items(data-js="filterListItems")
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='execution' value="Одноколонные")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Одноколонные <span>(23)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='execution' value="2-х колонные настольные")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text 2-х колонные настольные <span>(15)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='execution' value="2-х колонные напольные")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text 2-х колонные напольные <span>(11)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='execution' value="4-х колонные напольные")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text 4-х колонные напольные <span>(9)</span>

                        .form-filter__block
                            .form-filter__subtitle Рабочий ход траверсы <span>мм</span>
                            .filter-range(data-js="filterRange" data-min="45" data-max="2500" data-step="5")
                                input.filter-range__input.filter-range__input--min(type='number' min="45" max="2500" data-js="filterRangeMin")
                                input.filter-range__input.filter-range__input--max(type='number' min="45" max="2500" data-js="filterRangeMax")
                                .filter-range__range(data-js="filterRangeSlider")

                        .form-filter__block
                            .form-filter__subtitle Наибольший предел измерений (НПИ, нагрузка) <span>кН</span>
                            .filter-range(data-js="filterRange" data-min="0" data-max="100" data-step="1")
                                input.filter-range__input(type='number' min="0" max="100" data-js="filterRangeMin")
                                input.filter-range__input(type='number' min="0" max="100" data-js="filterRangeMax")
                                .filter-range__range(data-js="filterRangeSlider")

                        .form-filter__block
                            .form-filter__subtitle Двухзонные / однозонные
                            .form-filter__list(data-js="filterList")
                                .form-filter__items(data-js="filterListItems")
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='zoning' value="Двухзонные")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Двухзонные <span>(23)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='zoning' value="Однозонные")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Однозонные <span>(15)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='zoning' value="Для тестирования")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Для тестирования <span>(11)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='zoning' value="Для тестирования")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Для тестирования <span>(9)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='zoning' value="Для тестирования")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Для тестирования <span>(6)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='zoning' value="Для тестирования")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Для тестирования <span>(11)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='zoning' value="Для тестирования")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Для тестирования <span>(9)</span>
                                    .filter-checkbox(data-js="filterListItem")
                                        label.filter-checkbox__inner
                                            input(type="checkbox" name='zoning' value="Для тестирования")
                                            span.filter-checkbox__fake
                                            span.filter-checkbox__text Для тестирования <span>(6)</span>

                        .form-filter__btns
                            +btn({
                                name: 'Применить',
                                cMode: 'red',
                                type: 'button',
                                buttonType: 'submit',
                            })
                            +btn({
                                name: 'Сбросить фильтры',
                                cMode: 'transparent',
                                type: 'button',
                                buttonType: 'reset',
                            })

                .catalog-category__content
                    .catalog-category__cards
                        +catalog-card({
                            title: 'ИР 5047-50 разрывная машина универсальная',
                            desc: `
                                <h3>Технические характеристики</h3>
                                <ul>
                                    <li>Конструктивное исполнение: установка на виброопоры</li>
                                    <li>Наибольший предел измерений (НПИ): 100</li>
                                    <li>Ход подвижной траверсы без захватов, мм: 700</li>
                                </ul>
                                <h3>Базовая комплектация</h3>
                                <ul>
                                    <li>Захваты для образцов: тип IV, ГОСТ 1497</li>
                                    <li>НИзмеритель силы тензорезисторный: 1 компл.</li>
                                    <li>ПТК:  ноутбук, принтер + ПО (1 компл.)</li>
                                </ul>
                                `,
                            image: 'img/catalog/product_3.webp',
                            tags: [
                                {
                                    img: 'img/catalog/check_icon.svg',
                                    text: 'В наличии',
                                    color: 'green'
                                },
                                {
                                    img: '',
                                    text: 'Новинка',
                                    color: 'blue'
                                },
                                {
                                    img: '',
                                    text: 'Скидка',
                                    color: 'red'
                                }
                            ],
                            prices: [
                                '550 000 ₽',
                                '680 000 ₽'
                            ],
                            vMode: 'catalog'
                        })

                        +catalog-card({
                            title: 'ИР 5047-50 разрывная машина универсальная',
                            desc: `
                                <h3>Технические характеристики</h3>
                                <ul>
                                    <li>Конструктивное исполнение: установка на виброопоры</li>
                                    <li>Наибольший предел измерений (НПИ): 100</li>
                                    <li>Ход подвижной траверсы без захватов, мм: 700</li>
                                </ul>
                                <h3>Базовая комплектация</h3>
                                <ul>
                                    <li>Захваты для образцов: тип IV, ГОСТ 1497</li>
                                    <li>НИзмеритель силы тензорезисторный: 1 компл.</li>
                                    <li>ПТК:  ноутбук, принтер + ПО (1 компл.)</li>
                                </ul>
                                `,
                            image: 'img/catalog/product_4.webp',
                            tags: [
                                {
                                    img: 'img/catalog/arrow_circle.svg',
                                    text: 'Снято с производства',
                                    note: 'Товар больше не производится. Смотрите аналоги в карточке товара',
                                    color: 'grey'
                                }
                            ],
                            prices: [],
                            vMode: 'catalog',
                            notForSale: true
                        })

                        +catalog-card({
                            title: 'FU DLC 50 кН Испытательная машина ',
                            desc: `
                                <h3>Технические характеристики</h3>
                                <ul>
                                    <li>Конструктивное исполнение: установка на виброопоры</li>
                                    <li>Наибольший предел измерений (НПИ): 100</li>
                                    <li>Ход подвижной траверсы без захватов, мм: 700</li>
                                </ul>
                                <h3>Базовая комплектация</h3>
                                <ul>
                                    <li>Захваты для образцов: тип IV, ГОСТ 1497</li>
                                    <li>НИзмеритель силы тензорезисторный: 1 компл.</li>
                                    <li>ПТК:  ноутбук, принтер + ПО (1 компл.)</li>
                                </ul>
                                `,
                            image: 'img/catalog/product_5.webp',
                            tags: [
                                {
                                    img: 'img/catalog/arrow_circle.svg',
                                    text: 'Под заказ',
                                    color: 'grey'
                                }
                            ],
                            prices: [
                                'Цена по запросу',
                                ''
                            ],
                            vMode: 'catalog'
                        })

                        +catalog-card({
                            title: 'FU DLC 200 кН испытательная машина',
                            desc: `
                                <h3>Технические характеристики</h3>
                                <ul>
                                    <li>Конструктивное исполнение: установка на виброопоры</li>
                                    <li>Наибольший предел измерений (НПИ): 100</li>
                                    <li>Ход подвижной траверсы без захватов, мм: 700</li>
                                </ul>
                                <h3>Базовая комплектация</h3>
                                <ul>
                                    <li>Захваты для образцов: тип IV, ГОСТ 1497</li>
                                    <li>НИзмеритель силы тензорезисторный: 1 компл.</li>
                                    <li>ПТК:  ноутбук, принтер + ПО (1 компл.)</li>
                                </ul>
                                `,
                            image: 'img/catalog/product_5.webp',
                            tags: [
                                {
                                    img: 'img/catalog/arrow_circle.svg',
                                    text: 'Под заказ',
                                    color: 'grey'
                                }
                            ],
                            prices: [
                                '1 550 000 ₽',
                                ''
                            ],
                            vMode: 'catalog'
                        })

                        +catalog-card({
                            title: 'FU DLC 50 кН Испытательная машина ',
                            desc: `
                                <h3>Технические характеристики</h3>
                                <ul>
                                    <li>Конструктивное исполнение: установка на виброопоры</li>
                                    <li>Наибольший предел измерений (НПИ): 100</li>
                                    <li>Ход подвижной траверсы без захватов, мм: 700</li>
                                </ul>
                                <h3>Базовая комплектация</h3>
                                <ul>
                                    <li>Захваты для образцов: тип IV, ГОСТ 1497</li>
                                    <li>НИзмеритель силы тензорезисторный: 1 компл.</li>
                                    <li>ПТК:  ноутбук, принтер + ПО (1 компл.)</li>
                                </ul>
                                `,
                            image: 'img/catalog/product_6.webp',
                            tags: [
                                {
                                    img: 'img/catalog/check_icon.svg',
                                    text: 'В наличии',
                                    color: 'green'
                                }
                            ],
                            prices: [
                                'Цена по запросу',
                                ''
                            ],
                            vMode: 'catalog'
                        })

                        +catalog-card({
                            title: 'Машины универсальные ТРМЦ Tochline',
                            desc: `
                                <h3>Технические характеристики</h3>
                                <ul>
                                    <li>Модификация, кол-во: 52</li>
                                </ul>
                                `,
                            image: 'img/catalog/product_5.webp',
                            tags: [
                                {
                                    img: 'img/catalog/arrow_circle.svg',
                                    text: 'Под заказ',
                                    color: 'grey'
                                }
                            ],
                            prices: [
                                '1 550 000 ₽',
                                ''
                            ],
                            vMode: 'catalog'
                        })

                    +pagination