extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Контакты"

block content
	.page-layout.page-layout--bottom
		.breadcrumbs-section.section.section--transparent
			.section__container
				+breadcrumbs({
					items: [
						{
							name: 'Главная',
							link: 'javascript:void(0);'
						},
						{
							name: 'Контакты',
							link: 'javascript:void(0);'
						}
					],
				})

		section.section.contacts-intro
			.section__container
				+title({
					tag: 'h1',
					size: '67',
					text: 'Контакты'
				})

				.contacts-intro__content(data-js="contactsBlock")
					.contacts-intro__tabs
						.field.contacts-intro__select.active(data-js="contactsTabsSelect")
							select.field__select(data-js="formSelect")
								option(data-js='contactsTabsOption' data-coords="59.938784,30.314997" data-id="0" value="г. Санкт-Петербург" selected) г. Санкт-Петербург
								option(data-js='contactsTabsOption' data-coords="55.755864,37.617698" data-id="1" value="г. Москва") г. Москва
								option(data-js='contactsTabsOption' data-coords="56.838011,60.597474" data-id="2" value="г. Екатеринбург") г. Екатеринбург
								option(data-js='contactsTabsOption' data-coords="53.195878,50.100202" data-id="3" value="г. Самара") г. Самара
								option(data-js='contactsTabsOption' data-coords="55.159902,61.402554" data-id="4" value="г. Челябинск") г. Челябинск
								option(data-js='contactsTabsOption' data-coords="45.035470,38.975313" data-id="5" value="г. Краснодар") г. Краснодар
								option(data-js='contactsTabsOption' data-coords="56.326797,44.006516" data-id="6" value="г. Нижний Новгород") г. Нижний Новгород

						.contacts-intro__tab(data-js='contactsTabsTab' data-id="7" data-coords="53.902735,27.555691") Официальный дилер ГК «Точприбор» на территории Республики Беларусь: ООО «НамиЛекс
						.contacts-intro__tab(data-js='contactsTabsTab' data-id="8" data-coords="56.999799, 40.973014") Производственный комплекс ООО ЗИП, г Иваново
						a.contacts-intro__route(href="javascript:void(0)") 
							span.text План проезда
							span.icon
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_enter`)

					.contacts-intro__map(data-js="contactsMap")

					.contacts-intro__info
						.contacts-intro__item.active(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Санкт-Петербург, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

						.contacts-intro__item(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Москва, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

						.contacts-intro__item(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Екатеринбург, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

						.contacts-intro__item(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Самара, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

						.contacts-intro__item(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Челябинск, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

						.contacts-intro__item(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Краснодар, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

						.contacts-intro__item(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Нижний Новгород, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

						.contacts-intro__item(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Минск, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

						.contacts-intro__item(data-js="contactsInfoItem")
							.contacts-intro__block 
								.contacts-intro__contact 
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-intro__contact 
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru
								.contacts-intro__contact 
									.contacts__title.title--26 Адрес
									a.contacts__text 190121, г. Иваново, пер. Дровяной, д. 20, пом. 4-Н
							.contacts-intro__block 
								.contacts-intro__contact
									.contacts__title.title--26 Режим работы
									.contacts-intro__modes
										.contacts-intro__mode
											span Понедельник - Четверг
											span с 9:00 до 18:00 (Мск)
										.contacts-intro__mode
											span Пятница
											span с 8.30 до 16.00 (Мск)
							.contacts-intro__socials
								a.social-link(href="https://web.whatsapp.com/")
									span.social-link__text Написать в WhatsApp
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#wa`)
								a.social-link(href="https://telegram.org/")
									span.social-link__text Написать в Telegram
									span.social-link__icon
										svg
											use(xlink:href=`img/sprites/sprite.svg#tg`)

		section.section.contacts-details
			.section__container.contacts-details__container
				.section__header.contacts-details__header
					+title({
						tag: 'h2',
						size: '53',
						text: 'Реквизиты'
					})

				+tabs-block({
					classes: 'contacts-details__tabs',
					tabs: [
						{
							name: 'ООО ЗИП',
							icon: ''
						},
						{
							name: 'ООО ТД Точприбор',
							icon: ''
						},
						{
							name: 'ООО НПО Точприбор',
							icon: ''
						},
						{
							name: 'ООО Гирмакс',
							icon: ''
						}
					],
				})
					.tabs-block__slide.active(data-js="tabsBlockSlide")
						+btn({
							classes: 'contacts-details__btn',
							name: 'Карточка организации',
							size: '182',
							icon: 'arrow_enter',
							cMode: 'transparent-red'
						})
						.contacts-details__content
							.contacts-details__side
								.contacts-details__item
									.contacts__title.title--26 Полное наименование:
									.contacts__text Общество с ограниченной ответственностью «ЗИП»
								.contacts-details__item
									.contacts__title.title--26 Юридический адрес:
									.contacts__text 153032, Ивановская Область, г.о. Иваново, г Иваново, ул Станкостроителей, д. 11
								.contacts-details__item
									.contacts__title.title--26 Почтовый адрес:
									.contacts__text 153032, Ивановская Область, г.о. Иваново, г Иваново, ул Станкостроителей, д. 11
							.contacts-details__side
								.contacts-details__columns
									.contacts__subtitle ИНН <span class="contacts__text">3702649056</span>
									.contacts__subtitle КПП <span class="contacts__text">370201001</span>
									.contacts__subtitle ОГРН <span class="contacts__text">1113702014447</span>
									.contacts__subtitle ОКПО <span class="contacts__text">69363963</span>
									.contacts__subtitle ОКОГУ  <span class="contacts__text">4210014</span>
									.contacts__subtitle ОКАТО <span class="contacts__text">24401370000</span>
								.contacts-details__item
									.contacts__subtitle Р/с <span class="contacts__text">40702810555130003482 в СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК</span>
									.contacts__subtitle К/с <span class="contacts__text">30101810500000000653, БИК 044030653</span>
								.contacts-details__item
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-details__item
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru

					.tabs-block__slide(data-js="tabsBlockSlide")
						+btn({
							classes: 'contacts-details__btn',
							name: 'Карточка организации',
							size: '182',
							icon: 'arrow_enter',
							cMode: 'transparent-red'
						})
						.contacts-details__content
							.contacts-details__side
								.contacts-details__item
									.contacts__title.title--26 Полное наименование:
									.contacts__text Общество с ограниченной ответственностью «ТД Точприбор»
								.contacts-details__item
									.contacts__title.title--26 Юридический адрес:
									.contacts__text 153032, Ивановская Область, г.о. Иваново, г Иваново, ул Станкостроителей, д. 11
								.contacts-details__item
									.contacts__title.title--26 Почтовый адрес:
									.contacts__text 153032, Ивановская Область, г.о. Иваново, г Иваново, ул Станкостроителей, д. 11
							.contacts-details__side
								.contacts-details__columns
									.contacts__subtitle ИНН <span class="contacts__text">3702649056</span>
									.contacts__subtitle КПП <span class="contacts__text">370201001</span>
									.contacts__subtitle ОГРН <span class="contacts__text">1113702014447</span>
									.contacts__subtitle ОКПО <span class="contacts__text">69363963</span>
									.contacts__subtitle ОКОГУ <span class="contacts__text">4210014</span>
									.contacts__subtitle ОКАТО <span class="contacts__text">24401370000</span>
								.contacts-details__item
									.contacts__subtitle Р/с <span class="contacts__text">40702810555130003482 в СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК</span>
									.contacts__subtitle К/с <span class="contacts__text">30101810500000000653, БИК 044030653</span>
								.contacts-details__item
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-details__item
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru

					.tabs-block__slide(data-js="tabsBlockSlide")
						+btn({
							classes: 'contacts-details__btn',
							name: 'Карточка организации',
							size: '182',
							icon: 'arrow_enter',
							cMode: 'transparent-red'
						})
						.contacts-details__content
							.contacts-details__side
								.contacts-details__item
									.contacts__title.title--26 Полное наименование:
									.contacts__text Общество с ограниченной ответственностью «НПО Точприбор»
								.contacts-details__item
									.contacts__title.title--26 Юридический адрес:
									.contacts__text 153032, Ивановская Область, г.о. Иваново, г Иваново, ул Станкостроителей, д. 11
								.contacts-details__item
									.contacts__title.title--26 Почтовый адрес:
									.contacts__text 153032, Ивановская Область, г.о. Иваново, г Иваново, ул Станкостроителей, д. 11
							.contacts-details__side
								.contacts-details__columns
									.contacts__subtitle ИНН <span class="contacts__text">3702649056</span>
									.contacts__subtitle КПП <span class="contacts__text">370201001</span>
									.contacts__subtitle ОГРН <span class="contacts__text">1113702014447</span>
									.contacts__subtitle ОКПО <span class="contacts__text">69363963</span>
									.contacts__subtitle ОКОГУ <span class="contacts__text">4210014</span>
									.contacts__subtitle ОКАТО <span class="contacts__text">24401370000</span>
								.contacts-details__item
									.contacts__subtitle Р/с <span class="contacts__text">40702810555130003482 в СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК</span>
									.contacts__subtitle К/с <span class="contacts__text">30101810500000000653, БИК 044030653</span>
								.contacts-details__item
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-details__item
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru

					.tabs-block__slide(data-js="tabsBlockSlide")
						+btn({
							classes: 'contacts-details__btn',
							name: 'Карточка организации',
							size: '182',
							icon: 'arrow_enter',
							cMode: 'transparent-red'
						})
						.contacts-details__content
							.contacts-details__side
								.contacts-details__item
									.contacts__title.title--26 Полное наименование:
									.contacts__text Общество с ограниченной ответственностью «Гирмакс»
								.contacts-details__item
									.contacts__title.title--26 Юридический адрес:
									.contacts__text 153032, Ивановская Область, г.о. Иваново, г Иваново, ул Станкостроителей, д. 11
								.contacts-details__item
									.contacts__title.title--26 Почтовый адрес:
									.contacts__text 153032, Ивановская Область, г.о. Иваново, г Иваново, ул Станкостроителей, д. 11
							.contacts-details__side
								.contacts-details__columns
									.contacts__subtitle ИНН <span class="contacts__text">3702649056</span>
									.contacts__subtitle КПП <span class="contacts__text">370201001</span>
									.contacts__subtitle ОГРН <span class="contacts__text">1113702014447</span>
									.contacts__subtitle ОКПО <span class="contacts__text">69363963</span>
									.contacts__subtitle ОКОГУ <span class="contacts__text">4210014</span>
									.contacts__subtitle ОКАТО <span class="contacts__text">24401370000</span>
								.contacts-details__item
									.contacts__subtitle Р/с <span class="contacts__text">40702810555130003482 в СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК</span>
									.contacts__subtitle К/с <span class="contacts__text">30101810500000000653, БИК 044030653</span>
								.contacts-details__item
									.contacts__title.title--26 Телефон
									a.contacts__text.contacts__link(href="tel:+78126123003") +7 (812) 612-30-03
								.contacts-details__item
									.contacts__title.title--26 Email
									a.contacts__text.contacts__link(href="mailto:spb@tochpribor-nw.ru") spb@tochpribor-nw.ru

		+socials-section




