extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Документы для сделок"

block content
    .page-layout
        .breadcrumbs-section.section.section--transparent
            .section__container
                +breadcrumbs({
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Документы для сделок',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        section.section.glossary-list__intro
            .section__container
                .glossary-list__header
                    +title({
                        tag: 'h1',
                        size: '67',
                        text: 'Документы для сделок'
                    })
                    .glossary-list__desc Мы объединили здесь всю необходимую информацию, чтобы избавить Вас от необходимости искать ее по разным источникам.

                .glossary-list__filter
                    .glossary-list__block
                        .glossary-list__radios
                            .glossary-list__radio
                                label 
                                    input(type="radio" name="glossary-list-section" value="Все" checked)
                                    span Все
                            .glossary-list__radio
                                label 
                                    input(type="radio" name="glossary-list-section" value="Общие документы")
                                    span Общие документы
                            .glossary-list__radio
                                label 
                                    input(type="radio" name="glossary-list-section" value="ООО ЗИП")
                                    span ООО ЗИП
                            .glossary-list__radio
                                label 
                                    input(type="radio" name="glossary-list-section" value="ООО ТД Точприбор")
                                    span ООО ТД Точприбор
                            .glossary-list__radio
                                label 
                                    input(type="radio" name="glossary-list-section" value="ООО НПО Точприбор")
                                    span ООО НПО Точприбор
                            .glossary-list__radio
                                label 
                                    input(type="radio" name="glossary-list-section" value="ООО Гирмакс")
                                    span ООО Гирмакс

                    .glossary-list__block
                        .glossary-list__left
                            .glossary-list__search
                                +field({
                                    placeholder: 'Поиск',
                                    resetBtn: true,
                                    isSearch: true
                                })
                            .glossary-list__radios          
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Все документы компании" checked)
                                        span Все документы компании
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Шаблон договора")
                                        span Шаблон договора
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Шаблон счета")
                                        span Шаблон счета
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Пользовательское соглашение")
                                        span Пользовательское соглашение
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Политика обработки персональных данных")
                                        span Политика обработки персональных данных
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Согласие на обработку персональных данных")
                                        span Согласие на обработку персональных данных
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Согласие на получение рекламы")
                                        span Согласие на получение рекламы
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Публичная оферта")
                                        span Публичная оферта
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Устав")
                                        span Устав
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section-t" value="Политика Cookie")
                                        span Политика Cookie
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section" value="Прайс-лист")
                                        span Прайс-лист
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section" value="Безопасность изделия")
                                        span Безопасность изделия
                                .glossary-list__radio
                                    label 
                                        input(type="radio" name="glossary-list-section" value="Свидетельство в налоговом органе")
                                        span Свидетельство в налоговом органе

                        .glossary-list__error.banner
                            .banner__bg
                                img(src="img/glossary/glossary_support.webp" alt="")
                            .banner__content
                                .banner__title.title--26 Не нашли документ?
                                .banner__text Напишите нам
                                +btn({
                                    classes: '',
                                    size: "246",
                                    name: 'Задать вопрос',
                                    icon: 'arrow_enter',
                                })(data-modal="#questionModal")

        section.section
            .section__container.glossary-list__faq
                .glossary-list__docs
                    +download-btn({
                        classes: '',
                        img: 'img/docs-type/pdf.svg',
                        name: 'Свидетельство в налоговом органе',
                        size: '1 Мб'
                    })
                    +download-btn({
                        classes: '',
                        img: 'img/docs-type/pdf.svg',
                        name: 'Прайс',
                        size: '10 Кб'
                    })
                    +download-btn({
                        classes: '',
                        img: 'img/docs-type/pdf.svg',
                        name: 'Шаблон договора',
                        size: '40 Кб'
                    })
                    +download-btn({
                        classes: '',
                        img: 'img/docs-type/pdf.svg',
                        name: 'Устав компании «ООО ЗИП»',
                        size: '1 Мб'
                    })
                    +download-btn({
                        classes: '',
                        img: 'img/docs-type/pdf.svg',
                        name: 'Шаблон счета',
                        size: '40 Кб'
                    })
                +pagination