extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "О заводе"

block content
    .page-layout.page-layout--bottom(data-js="pageLayout")
        +factory-model
        +img-intro({
            classes: 'img-intro--factory',
            img: 'img/factory/factory_intro_bg.png',
            breadcrumbs: {
                cMode: 'grey',
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'О заводе',
                        link: 'javascript:void(0);'
                    }
                ]
            },
            title: 'Производим и поставляем испытатальное оборудование',
            tag: '[Основан в 1950 году]',
            text: 'Основу производства Группы компаний “Точприбор” составляет ООО “Завод испытательных приборов” Мы являемся правоприемником известного завода ОАО “Точприбор” в г.Иваново',
            cMode: 'dark'
        })(data-js="factoryIntro")
            +btn({
                size: 'middle',
                name: 'Советская кинохроника',
                icon: 'play_t'
            })(data-js="historyModalOpen")
            .factory-model__open.section__tag(data-js="factoryModelOpen") [3D-модель завода]

        +h-advantages({
            title: 'На сегодняшний день предприятие имеет все необходимое оборудование и&nbsp;большой штат высококвалифицированных специалистов для осуществления полного цикла производства',
            tag: '[Цифры и факты]',
            subtitle: 'Профессионализм, индивидуальный подход, исключительные производственные и&nbsp;кадровые ресурсы позволяют нам выполнять любые предпочтения заказчика'
        })

        +f-factory

        +help-section({
            img: 'img/help_section_bg.webp',
            title: 'Хотите стать партнером или заключить сотрудничество?',
            btnText: 'Оставить заявку',
            modalLink: '#requestModal'
        })