extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Глоссарий"

block content
    .page-layout
        .breadcrumbs-section
            +breadcrumbs({
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Глоссарий',
                        link: 'javascript:void(0);'
                    }
                ],
            })

        section.section.glossary-list__intro
            .glossary-list__header
                +title({
                    tag: 'h1',
                    size: '67',
                    text: 'Глоссарий'
                })
                .glossary-list__desc В этом словаре вы найдёте компактные и понятные пояснения терминов&nbsp;— из обозначений в товарах и в целом на нашем сайте. Используйте глоссарий в любое время&nbsp;— если столкнулись с незнакомыми словами во время изучения сайта или забыли значение термина при решении рабочих задач. Делитесь словарём со всеми, кому он будет полезен.

            form.glossary-list__filter
                .glossary-list__block
                    .glossary-list__radios
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Все направления" checked)
                                span Все направления
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Универсальные испытательные машины (разрывные машины)")
                                span Универсальные испытательные машины (разрывные машины)
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Приборы для измерения твердости (твердомеры)")
                                span Приборы для измерения твердости (твердомеры)
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Меры твердости эталонные")
                                span Меры твердости эталонные
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Приборы для измерения цвета")
                                span Приборы для измерения цвета
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Микроскопы")
                                span Микроскопы
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Динамометры")
                                span Динамометры
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Видеоизмерительные системы Girmax")
                                span Видеоизмерительные системы Girmax
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Молотки Шмитта")
                                span Молотки Шмитта
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Гири Girmax")
                                span Гири Girmax
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Испытательные пресса")
                                span Испытательные пресса
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Копры маятниковые и вертикальные")
                                span Копры маятниковые и вертикальные
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Оборудование для технологических испытаний")
                                span Оборудование для технологических испытаний
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Экстензометры")
                                span Экстензометры
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Системы температурных испытаний")
                                span Системы температурных испытаний
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Машины трения (для испытания на трение и износ)")
                                span Машины трения (для испытания на трение и износ)
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Приборы для неразрушающего контроля")
                                span Приборы для неразрушающего контроля
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Оборудование для пробоподготовки (металлография и т.д.)")
                                span Оборудование для пробоподготовки (металлография и т.д.)
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Шлифовальные станки")
                                span Шлифовальные станки
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Полировальные станки")
                                span Полировальные станки
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Шлифовально-полировальные станки")
                                span Шлифовально-полировальные станки
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Станки для запрессовки")
                                span Станки для запрессовки
                        .glossary-list__radio
                            label 
                                input(type="radio" name="glossary-list-section" value="Весы лабораторные, весы крановые")
                                span Весы лабораторные, весы крановые

                .glossary-list__block
                    .glossary-list__left
                        .glossary-list__search
                            +field({
                                placeholder: 'Поиск',
                                resetBtn: true,
                                isSearch: true
                            })
                            .glossary-list__radios
                                .glossary-list__tabs
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Все")
                                            span Все
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="А")
                                            span А
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Б" checked)
                                            span Б
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="В")
                                            span В
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Г")
                                            span Г
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Д")
                                            span Д
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Е")
                                            span Е
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Ж")
                                            span Ж
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="З")
                                            span З
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="И")
                                            span И
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="К")
                                            span К
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Л")
                                            span Л
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="М")
                                            span М
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Н")
                                            span Н
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="О")
                                            span О
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="П")
                                            span П
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Р")
                                            span Р
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="С")
                                            span С
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Т")
                                            span Т
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="У")
                                            span У
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Ф")
                                            span Ф
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Х")
                                            span Х
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Ц")
                                            span Ц
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Ч")
                                            span Ч
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Ш")
                                            span Ш
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Э")
                                            span Э
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Ю")
                                            span Ю
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="Я")
                                            span Я
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label 
                                            input(type="radio" name="glossary-list-letter" value="0-9")
                                            span 0-9

                                .glossary-list__tabs
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="A")
                                            span A
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="B")
                                            span B
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="C")
                                            span C
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="D")
                                            span D
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="E")
                                            span E
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="F")
                                            span F
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="G")
                                            span G
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="H")
                                            span H
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="I")
                                            span I
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="J")
                                            span J
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="K")
                                            span K
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="L")
                                            span L
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="V")
                                            span V
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="N")
                                            span N
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="O")
                                            span O
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="P")
                                            span P
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="Q")
                                            span Q
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="R")
                                            span R
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="S")
                                            span S
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="T")
                                            span T
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="U")
                                            span U
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="V")
                                            span V
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="W")
                                            span W
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="X")
                                            span X
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="Y")
                                            span Y
                                    .glossary-list__radio.glossary-list__radio--letter
                                        label
                                            input(type="radio" name="glossary-list-letter" value="Z")
                                            span Z
                    .glossary-list__error
                        .glossary-list__subtitle Нашли ошибку? Есть слова которых нет в глоссарии?
                        .glossary-list__text Напишите нам
                        +btn({
                            classes: '',
                            size: "content",
                            name: 'Написать в тех поддержку',
                            icon: 'arrow_enter',
                        })

        section.section.glossary-list__letters
            .glossary-list__result
                .glossary-list__letter Б
                .glossary-list__links
                    a.glossary-list__link(href="javascript:void(0)") Баги
                    a.glossary-list__link(href="javascript:void(0)") Бадди
                    a.glossary-list__link(href="javascript:void(0)") Баден-Баден
                    a.glossary-list__link(href="javascript:void(0)") База (для рассылок)
                    a.glossary-list__link(href="javascript:void(0)") База данных (БД)
                    a.glossary-list__link(href="javascript:void(0)") База ретаргетинга
                    a.glossary-list__link(href="javascript:void(0)") Базовая динамика
                    a.glossary-list__link(href="javascript:void(0)") Базовая частотность
                    a.glossary-list__link(href="javascript:void(0)") Базовые классы
                    a.glossary-list__link(href="javascript:void(0)") Базовые классы движка
                    a.glossary-list__link(href="javascript:void(0)") Базовые компоненты Игровой Механики 
                    a.glossary-list__link(href="javascript:void(0)") Базовые моды
                    a.glossary-list__link(href="javascript:void(0)") Базовые типы переменных
                    a.glossary-list__link(href="javascript:void(0)") Базовые функции
                    a.glossary-list__link(href="javascript:void(0)") Баланс
                    a.glossary-list__link(href="javascript:void(0)") Баланс (BS)
                    a.glossary-list__link(href="javascript:void(0)") Баланс игровой экономики
                    a.glossary-list__link(href="javascript:void(0)") Баланс игры
                    a.glossary-list__link(href="javascript:void(0)") Балансировать игру
                    a.glossary-list__link(href="javascript:void(0)") Балансируемые сущности
                    a.glossary-list__link(href="javascript:void(0)") Балансные значения
                    a.glossary-list__link(href="javascript:void(0)") Балансные таблицы
                    a.glossary-list__link(href="javascript:void(0)") Балансный
                    a.glossary-list__link(href="javascript:void(0)") Бан
                    a.glossary-list__link(href="javascript:void(0)") Банковская тайна
                    a.glossary-list__link(href="javascript:void(0)") Баннер
                    a.glossary-list__link(href="javascript:void(0)") Баннерная реклама
                    a.glossary-list__link(href="javascript:void(0)") Баннерная слепота
                    a.glossary-list__link(href="javascript:void(0)") Баннерообменная сеть
                    a.glossary-list__link(href="javascript:void(0)") Барьер
                    a.glossary-list__link(href="javascript:void(0)") Батл-пасс
                    a.glossary-list__link(href="javascript:void(0)") Бегун
                    a.glossary-list__link(href="javascript:void(0)") Безанкорные ссылки
                    a.glossary-list__link(href="javascript:void(0)") Безопасность АС (автоматизированных систем)
                    a.glossary-list__link(href="javascript:void(0)") Безопасность СВТ (средств вычислительной техники)
                    a.glossary-list__link(href="javascript:void(0)") Безштамбовые деревья
                    a.glossary-list__link(href="javascript:void(0)") Бейдж
                    a.glossary-list__link(href="javascript:void(0)") Беседка
                    a.glossary-list__link(href="javascript:void(0)") Бета-версия игры
                    a.glossary-list__link(href="javascript:void(0)") Бета-тестирование
                    a.glossary-list__link(href="javascript:void(0)") Библиотека (library)
                    a.glossary-list__link(href="javascript:void(0)") Библиотека Scikit-learn (Sklearn)
                    a.glossary-list__link(href="javascript:void(0)") Библия героев (паспорт персонажей)
                    a.glossary-list__link(href="javascript:void(0)") Библия мира
                    a.glossary-list__link(href="javascript:void(0)") Бид (Bid)
                    a.glossary-list__link(href="javascript:void(0)") Бизнес-архитектура
                    a.glossary-list__link(href="javascript:void(0)") Бизнес-модель
                    a.glossary-list__link(href="javascript:void(0)") Бизнес-проблема
                    a.glossary-list__link(href="javascript:void(0)") Бизнес-процесс
                    a.glossary-list__link(href="javascript:void(0)") Бизнес-процессы
                    a.glossary-list__link(href="javascript:void(0)") Бизнес-стратегия
                    a.glossary-list__link(href="javascript:void(0)") Бизнес-эффект
                    a.glossary-list__link(href="javascript:void(0)") Биллинг
                    a.glossary-list__link(href="javascript:void(0)") Бинарный оператор
                    a.glossary-list__link(href="javascript:void(0)") Биометрические персональные данные (биометрические ПДн)
                    a.glossary-list__link(href="javascript:void(0)") Биометрия
                    a.glossary-list__link(href="javascript:void(0)") Биоразнообразие
                    a.glossary-list__link(href="javascript:void(0)") Биржа ссылок
                    a.glossary-list__link(href="javascript:void(0)") Битмэт (Bitmap)
                    a.glossary-list__link(href="javascript:void(0)") Битые ссылки
                    a.glossary-list__link(href="javascript:void(0)") Блендинг (Blending)
                    a.glossary-list__link(href="javascript:void(0)") Блог
                    a.glossary-list__link(href="javascript:void(0)") Блог-платформа
                    a.glossary-list__link(href="javascript:void(0)") Блогохостинг
                    a.glossary-list__link(href="javascript:void(0)") Блок (в визуальном конструкторе)
                    a.glossary-list__link(href="javascript:void(0)") Блок-схемы
                    a.glossary-list__link(href="javascript:void(0)") Блокаут
                    a.glossary-list__link(href="javascript:void(0)") Блокинг
                    a.glossary-list__link(href="javascript:void(0)") Блокирование персональных данных
                    a.glossary-list__link(href="javascript:void(0)") Блочная верстка
                    a.glossary-list__link(href="javascript:void(0)") Блочная структура
                    a.glossary-list__link(href="javascript:void(0)") Блочный тег
                    a.glossary-list__link(href="javascript:void(0)") Блуперсы
                    a.glossary-list__link(href="javascript:void(0)") Боковая панель, sidebar
                    a.glossary-list__link(href="javascript:void(0)") Бокс Гача
                    a.glossary-list__link(href="javascript:void(0)") Большая идея бренда или рекламной кампании
                    a.glossary-list__link(href="javascript:void(0)") Большие значения
                    a.glossary-list__link(href="javascript:void(0)") Бонус
                    a.glossary-list__link(href="javascript:void(0)") Бот
                    a.glossary-list__link(href="javascript:void(0)") Бот (сокращение от «робот»)
                    a.glossary-list__link(href="javascript:void(0)") Браузер
                    a.glossary-list__link(href="javascript:void(0)") Браузерные события
                    a.glossary-list__link(href="javascript:void(0)") Бренд
                    a.glossary-list__link(href="javascript:void(0)") Бренд-код
                    a.glossary-list__link(href="javascript:void(0)") Бренд-лайн
                    a.glossary-list__link(href="javascript:void(0)") Бренд-менеджер
                    a.glossary-list__link(href="javascript:void(0)") Бренд-стратегия (стратегия бренда)
                    a.glossary-list__link(href="javascript:void(0)") Бренд-трекинг, трекинг здоровья бренда
                    a.glossary-list__link(href="javascript:void(0)") Брендбук
                    a.glossary-list__link(href="javascript:void(0)") Брендинг
                    a.glossary-list__link(href="javascript:void(0)") Брендированный трафик
                    a.glossary-list__link(href="javascript:void(0)") Брендовые запросы
                    a.glossary-list__link(href="javascript:void(0)") Бритком
                    a.glossary-list__link(href="javascript:void(0)") Бриф
                    a.glossary-list__link(href="javascript:void(0)") Бриф (логлайн)
                    a.glossary-list__link(href="javascript:void(0)") Бриф (от англ. brief — задание)