extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Глоссарий (статья)"

block content
	.page-layout
		.breadcrumbs-section
			+breadcrumbs({
				items: [
					{
						name: 'Главная',
						link: 'javascript:void(0);'
					},
					{
						name: 'Глоссарий',
						link: 'javascript:void(0);'
					},
					{
						name: 'Название статьи',
						link: 'javascript:void(0);'
					}
				],
			})

		.sidebar-layout
			.sidebar-layout__content
				section.section.glossary-detailed__header
					+title({
						tag: 'h1',
						size: '67',
						text: 'Твердость по Бринеллю'
					})
					.glossary-detailed__btns
						+btn({
							classes: '',
							name: 'Поделиться',
							cMode: 'transparent',
							size: 'content',
							link: 'javascript:void(0)',
							icon: 'share'
						})
						+btn({
							classes: '',
							name: 'Комментарии <span>(13)</span>',
							cMode: 'transparent',
							size: 'content',
							link: '#comments',
							icon: 'message'
						})

				section.section.glossary-detailed__body
					.text-editor
						h2 Общие знания относительно определения твердости по Бринеллю
						.text-flex-block
							.text-flex-block__left
								img(src="img/glossary/article_1.webp" alt="")
							.text-flex-block__right
								p При методе испытания по Бринеллю индентор представляет собой твердосплавный шарик диаметром D = 10; 5; 2,5 или 1 мм. 
								p Он вдавливается в образец с усилием испытания (по стандарту от 1 кг до 3000 кг) и удерживается там в течение определенного времени.
								p Для расчета твердости по Бринеллю измеряются два расположенные вертикально друг к другу диаметра отпечатка на поверхности образца. 
								p Кроме того, используются усилие испытания в Н и диаметр сферического индентора.

						.text-note
							.text-note__icon
								svg
									use(xlink:href=`img/sprites/sprite.svg#info`)
							.text-note__content
								p Твердость - свойство материала оказывать сопротивление упругой и пластической деформации или разрушению при внедрении в поверхностный слой материала другого, более твердого и не получающего остаточной деформации тела - индентора.

						.text-note
							.text-note__icon
								svg
									use(xlink:href=`img/sprites/sprite.svg#info`)
							.text-note__content
								p Твердость по Бринеллю (HB) - метод основан на том, что в плоскую поверхность под нагрузкой внедряют стальной шарик. Число твердости НВ определяется отношением нагрузки к сферической поверхности отпечатка.

						.text-note
							.text-note__icon
								svg
									use(xlink:href=`img/sprites/sprite.svg#info`)
							.text-note__content
								h3 Что означает твердость по Бринеллю?
								p Твердость по Бринеллю - это единица измерения, которая показывает твердость материала. Она измеряется по методу определения твердости по Бринеллю, при котором твердосплавный шарик вдавливается в материал. Размер полученного отпечатка измеряется оптически, чтобы определить твердость материала.
								p Твердость по Бринеллю обычно определяют у крупно зернистых материалов, материалов с шероховатой поверхностью или неоднородных материалов (например, отливки, сплавы и кованые изделия). Ее определяют как отношение приложенного усилия к площади отпечатка. Единица измерения твердости по Бринеллю - HBW (твердость по Бринеллю с использованием шарика из карбида вольфрама).

						h2 Процесс определения твердости по Бринеллю согласно ISO 6506
						.text-flex-block
							.text-flex-block__left
								img(src="img/glossary/article_2.webp" alt="")
							.text-flex-block__right
								p При определении твердости по Бринеллю, оптическом методе, измеряют величину отпечатка, оставляемого индентором. В отличие от аналогичного оптического метода по Виккерсу, при котором в образец вдавливается индентор в форме пирамиды, при методе по Бринеллю используется сферический индентор.

								p Чем глубже отпечаток, оставляемый индентором по Бринеллю с определенным диаметром шарика и при определенном усилии испытания на поверхности заготовки (образца), тем мягче испытываемый материал.

								p Согласно стандарту ISO 6506 для определения твердости по Бринеллю (HBW) сферический индентор из твердого сплава (карбид вольфрама) с определенной нагрузкой (от 1 кгс до 3000 кгс) вдавливается в образец (заготовку).

						h3 Метеорологические характеристики
						table
							tr 
								th Шкала твердости
								th Диапазон измерений
								th Пределы допускаемой абсолютной погрешности твердомера
							tr 
								td Шкала "С" Роквелла
								td (20-70) HRC
								td ±2 HRC
							tr 
								td Шкала Бринелля
								td (20-70) HRC
								td ±2 HRC
							tr 
								td Шкала Виккерса
								td (20-70) HRC
								td ±2 HRC
							tr 
								td Шкала Шора
								td (20-70) HRC
								td ±2 HRC

						h3 Технические характеристики
						table
							tr
								th Принцип измерений
								td UCI-метод (принцип ультразвукового контактного импеданса)
							tr 
								th Типы датчиков
								td 
									table 
										tr 
											td y10
											td y15
											td y50
											td y50
											td y50
											td y50
							tr 
								th Измерительное усиление датчика, H
								td
									table 
										tr 
											td 9,8
											td 14,7
											td 49,0
											td 98,0
											td 14,7
											td 49,0
							tr 
								th Шероховатость поверхности образца
								td &lt;Ra 2,5 (для усилия 10 Н и 14,7 Н) <br>&lt;Ra 4,5 (для усилия 50 Н) <br>&lt;Ra 8,0 (для усилия 100 Н)
							tr 
								th Радиус кривизны поверхности образца
								td &gt;5 мм

						h2 Расчет твердости по Бринеллю
						p Твердость по Бринеллю HBW определяется как частное из приложенного усилия испытания F (в ньютонах (Н)) и площади оставшегося отпечатка на образце (проекции отпечатка) после сброса усилия испытания (см. формулу Бринелля). Для расчета площади оставшегося сферического отпечатка привлекается среднее арифметическое d двух вертикальных диагоналей d1 и d2 (в мм), т.к. основание отпечатков по Бринеллю зачастую не является точно круглым.

						img(src="img/glossary/article_3.webp" alt="")

						p На практике для определения значения твердости не для каждого отдельного испытания проводится расчет по формуле. В качестве альтернативы значение твердости можно взять из таблиц или специального программного обеспечения, где для всех нормативных диаметров шарика и испытательных нагрузок приводится значение твердости, в зависимости от среднего диаметра отпечатка d.
						p Усилие испытание следует выбирать таким образом, чтобы средний диаметр отпечатка d составлял от 0,24 D до 0,6 D.
						p Для соблюдения этих границ необходимо согласовать друг с другом усилие испытания и диаметр шарика. На основании этого возникают различные степени нагружения (их также называют коэффициенты нагрузки) в пределах метода по Бринеллю, при которых частное из усилия испытания и квадрата диаметра шарика остается постоянным: B = 0,102*F/D2. Пять актуальных степеней нагружения: 1, 2.5, 5, 10 и 30. Испытание одного материала с различными диаметрами шарика и усилиями испытания следует проводить в пределах одной степени нагружения для сходимости результатов измерений (см. обзорную таблицу "Методы и области применения определения твердости по Бринеллю").

						h3 Метеорологические характеристики
						table
							tr 
								th Шкала твердости
								th Диапазон измерений
								th Пределы допускаемой абсолютной погрешности твердомера
							tr 
								td Шкала "С" Роквелла
								td (20-70) HRC
								td ±2 HRC
							tr 
								td Шкала Бринелля
								td (20-70) HRC
								td ±2 HRC
							tr 
								td Шкала Виккерса
								td (20-70) HRC
								td ±2 HRC
							tr 
								td Шкала Шора
								td (20-70) HRC
								td ±2 HRC

						p На практике для определения значения твердости не для каждого отдельного испытания проводится расчет по формуле. В качестве альтернативы значение твердости можно взять из таблиц или специального программного обеспечения, где для всех нормативных диаметров шарика и испытательных нагрузок приводится значение твердости, в зависимости от среднего диаметра отпечатка d.
						p Усилие испытание следует выбирать таким образом, чтобы средний диаметр отпечатка d составлял от 0,24 D до 0,6 D.
						p Для соблюдения этих границ необходимо согласовать друг с другом усилие испытания и диаметр шарика. На основании этого возникают различные степени нагружения (их также называют коэффициенты нагрузки) в пределах метода по Бринеллю, при которых частное из усилия испытания и квадрата диаметра шарика остается постоянным: B = 0,102*F/D2. Пять актуальных степеней нагружения: 1, 2.5, 5, 10 и 30. Испытание одного материала с различными диаметрами шарика и усилиями испытания следует проводить в пределах одной степени нагружения для сходимости результатов измерений (см. обзорную таблицу "Методы и области применения определения твердости по Бринеллю").



			.sidebar-layout__sidebar