extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Главная"

block content
	.page-layout

		+home-intro

		section.section.section--full.section--transparent.home-numbers
			.section__container
				.home-numbers__header
					+title({
						classes: "home-numbers__title",
						tag: 'h2',
						size: '53',
						text: 'Производитель оборудования для&nbsp;физико-механических испытаний материалов ГК «Точприбор»'
					})
					.home-numbers__bottom
						.home-tag [Наша миссия в цифрах и фактах]
						.home-subtitle Разработка, производство и поставки оборудования для физико-механических испытаний. Производим и поставляем лабораторное оборудование

				.home-numbers__cards
					.home-numbers__card
						.home-numbers__num 3 200
							span м<sup>2</sup>
						.home-numbers__text У нас имеются собственные помещения для производства продукции, общая площадь которых составляет свыше


		//- full-bg component

		//-section.section.section--full.home-catalog
			.section__container
				+title({
					classes: 'home-catalog__title',
					tag: 'h2',
					size: '53',
					text: 'Аксессуары для испытательных машин',
					sup: ''
				})
				+btn({
					classes: 'home-catalog__btn',
					name: 'Все аксессуары',
					cMode: 'transparent-red',
					icon: 'arrow_enter',
					size: '272'
				})

				+cards-slider({
					classes: 'home-catalog__slider',
					title: '',
					slidesCount: '4'
				})
					.swiper-slide
						+catalog-card-s({
							title: 'Приспособление для определения прочности крепления ранта и стельки (до 3 кН)',
							image: 'img/catalog/product_18.png',
							tags: [
								{
									img: 'img/catalog/check_icon.svg',
									text: 'В наличии',
									color: 'green'
								},
								{
									img: '',
									text: 'Новинка',
									color: 'blue'
								},
								{
									img: '',
									text: 'Скидка',
									color: 'red'
								}
							],
							prices: [
								'550 000 ₽',
								'680 000 ₽'
							],
						})
					.swiper-slide
						+catalog-card-s({
							title: 'Самозажимной роликовый захват (до 1 кН)',
							image: 'img/catalog/product_19.png',
							tags: [
								{
									img: 'img/catalog/check_icon.svg',
									text: 'В наличии',
									color: 'green'
								},
								{
									img: '',
									text: 'Скидка',
									color: 'red'
								}
							],
							prices: [
								'550 000 ₽',
								'680 000 ₽'
							],
						})

					.swiper-slide
						+catalog-card-s({
							title: 'Цанговый захват для стальных канатов (до 600 кН)',
							image: 'img/catalog/product_20.png',
							tags: [
								{
									img: 'img/catalog/check_icon.svg',
									text: 'В наличии',
									color: 'green'
								},
								{
									img: '',
									text: 'Скидка',
									color: 'red'
								}
							],
							prices: [
								'550 000 ₽',
								'680 000 ₽'
							],
						})

					.swiper-slide
						+catalog-card-s({
							title: 'Приспособление для определения прочности крепления ранта и стельки (до 3 кН)',
							image: 'img/catalog/product_21.png',
							tags: [
								{
									img: 'img/catalog/arrow_circle.svg',
									text: 'Под заказ',
									color: 'grey',
									note: 'Изготавливаем по индивидуальному заказу'
								}
							],
							prices: [
								'550 000 ₽',
								''
							],
						})

					.swiper-slide
						+catalog-card-s({
							title: 'Приспособление для определения прочности крепления ранта и стельки (до 3 кН)',
							image: 'img/catalog/product_18.png',
							tags: [
								{
									img: 'img/catalog/check_icon.svg',
									text: 'В наличии',
									color: 'green'
								},
								{
									img: '',
									text: 'Новинка',
									color: 'blue'
								},
								{
									img: '',
									text: 'Скидка',
									color: 'red'
								}
							],
							prices: [
								'550 000 ₽',
								'680 000 ₽'
							],
						})
					.swiper-slide
						+catalog-card-s({
							title: 'Самозажимной роликовый захват (до 1 кН)',
							image: 'img/catalog/product_19.png',
							tags: [
								{
									img: 'img/catalog/check_icon.svg',
									text: 'В наличии',
									color: 'green'
								},
								{
									img: '',
									text: 'Скидка',
									color: 'red'
								}
							],
							prices: [
								'550 000 ₽',
								'680 000 ₽'
							],
						})

					.swiper-slide
						+catalog-card-s({
							title: 'Цанговый захват для стальных канатов (до 600 кН)',
							image: 'img/catalog/product_20.png',
							tags: [
								{
									img: 'img/catalog/check_icon.svg',
									text: 'В наличии',
									color: 'green'
								},
								{
									img: '',
									text: 'Скидка',
									color: 'red'
								}
							],
							prices: [
								'550 000 ₽',
								'680 000 ₽'
							],
						})

					.swiper-slide
						+catalog-card-s({
							title: 'Приспособление для определения прочности крепления ранта и стельки (до 3 кН)',
							image: 'img/catalog/product_21.png',
							tags: [
								{
									img: 'img/catalog/arrow_circle.svg',
									text: 'Под заказ',
									color: 'grey',
									note: 'Изготавливаем по индивидуальному заказу'
								}
							],
							prices: [
								'550 000 ₽',
								''
							],
						})

		//- home-clients
		//- full-bg component
		//- home-services
		//- home-news
