extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Категория новостей"

block content
    .page-layout.page-layout--bottom
        .breadcrumbs-section.section.section--transparent
            .section__container
                +breadcrumbs({
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Новости',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Категория новостей',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        section.section.c-news-intro
            .section__container
                .section__header
                    +title({
                        tag: 'h1',
                        size: '67',
                        text: 'Мы в СМИ'
                    })
                    form.c-news-intro__search
                        +field({
                            placeholder: 'Поиск по разделу',
                            isSearch: true
                        })

                .c-news-intro__filter
                    +form-filter
                        .form-filter__side
                            .form-filter__tabs
                                .filter-tab
                                    label.filter-tab__label
                                        input(type="checkbox" name='category' value="vk")
                                        .filter-tab__inner
                                            span.filter-tab__text VK
                                            span.filter-tab__reset
                                                svg
                                                    use(xlink:href=`img/sprites/sprite.svg#close`)

                                .filter-tab
                                    label.filter-tab__label
                                        input(type="checkbox" name='category' value="видео")
                                        .filter-tab__inner
                                            span.filter-tab__text Видео
                                            span.filter-tab__reset
                                                svg
                                                    use(xlink:href=`img/sprites/sprite.svg#close`)

                                .filter-tab
                                    label.filter-tab__label
                                        input(type="checkbox" name='category' value="РБК")
                                        .filter-tab__inner
                                            span.filter-tab__text РБК
                                            span.filter-tab__reset
                                                svg
                                                    use(xlink:href=`img/sprites/sprite.svg#close`)

                                .filter-tab
                                    label.filter-tab__label
                                        input(type="checkbox" name='category' value="первый канал")
                                        .filter-tab__inner
                                            span.filter-tab__text Первый канал
                                            span.filter-tab__reset
                                                svg
                                                    use(xlink:href=`img/sprites/sprite.svg#close`)

                                .filter-tab
                                    label.filter-tab__label
                                        input(type="checkbox" name='category' value="телевидение")
                                        .filter-tab__inner
                                            span.filter-tab__text Телевидение
                                            span.filter-tab__reset
                                                svg
                                                    use(xlink:href=`img/sprites/sprite.svg#close`)

                                .filter-tab
                                    label.filter-tab__label
                                        input(type="checkbox" name='category' value="радио")
                                        .filter-tab__inner
                                            span.filter-tab__text Радио
                                            span.filter-tab__reset
                                                svg
                                                    use(xlink:href=`img/sprites/sprite.svg#close`)

                                .filter-tab.filter-tab--select(data-js="filterTabSelect")
                                    .filter-tab__inner(data-js="filterTabSelectInner")
                                        span.filter-tab__text Все фильтры
                                        span.filter-tab__icon
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#filter`)
                                        span.filter-tab__reset
                                            svg
                                                use(xlink:href=`img/sprites/sprite.svg#close`)

                                    .filter-tab__list(data-js="filterTabSelectList")
                                        .filter-tab__checkboxes.scrollbar
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="РБК")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text РБК
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="Первый канал")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Первый канал
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="радио")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Радио
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="vk")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text VK
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="интервью")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Интервью
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="подкаст")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Подкаст
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="vk")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text VK
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="интервью")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Интервью
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="подкаст")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Подкаст
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="РБК")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text РБК
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="Первый канал")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Первый канал
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="радио")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Радио
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="vk")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text VK
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="интервью")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Интервью
                                            .filter-checkbox
                                                label.filter-checkbox__inner
                                                    input(type="checkbox" name='category' value="подкаст")
                                                    span.filter-checkbox__fake
                                                    span.filter-checkbox__text Подкаст
                                        .filter-tab__btns
                                            +btn({
                                                name: 'Применить',
                                                cMode: 'red',
                                                size: 'small'
                                            })(data-js="filterTabSelectSet")
                                            +btn({
                                                name: 'Сбросить',
                                                cMode: 'grey',
                                                size: 'small'
                                            })(data-js="filterTabSelectClear")

                        .form-filter__side
                            .form-filter__select.filter-select(data-js='filterSelect')
                                .filter-select__header(data-js="filterSelectHeader")
                                    select(data-js="filterSelectInput")
                                        option(value="Сначала новое" selected) Сначала новое
                                        option(value="Сначала старое") Сначала старое
                                    .filter-select__fake(data-js="filterSelectFake") Сначала новое
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                                .filter-select__content
                                    .filter-select__option.active(data-js="filterSelectOption" data-value="Сначала новое") Сначала новое
                                    .filter-select__option(data-js="filterSelectOption" data-value="Сначала старое") Сначала старое
                            .form-filter__select.filter-select(data-js='filterSelect')
                                .filter-select__header(data-js="filterSelectHeader")
                                    select(data-js="filterSelectInput")
                                        option(value="За все время" selected) За все время
                                        option(value="За неделю") За неделю
                                        option(value="За месяц") За месяц
                                        option(value="" data-js="filterSelectCustomDate")
                                    .filter-select__fake(data-js="filterSelectFake") За все время
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                                .filter-select__content
                                    .filter-select__option.active(data-js="filterSelectOption" data-value="За все время") За все время
                                    .filter-select__option(data-js="filterSelectOption" data-value="За неделю") За неделю
                                    .filter-select__option(data-js="filterSelectOption" data-value="За месяц") За месяц
                                    .filter-select__option.date-select(data-js="dateSelect") 
                                        .date-select__header(data-js="dateSelectHeader") Выбрать период
                                        .date-select__calendar(data-js="dateSelectCalendar")
                                            .date-select__field
                                                input.date-select__input(data-js="dateSelectInput" placeholder='Выбрать даты' readonly)
                                                .date-select__reset(data-js="dateSelectReset")
                                                    svg
                                                        use(xlink:href=`img/sprites/sprite.svg#close`)
                                            .date-select__btns
                                                +btn({
                                                    name: 'Отменить',
                                                    cMode: 'grey',
                                                    size: '108',
                                                })(data-js="dateSelectClose")
                                                +btn({
                                                    name: 'Применить',
                                                    cMode: 'red',
                                                    size: '108',
                                                })(data-js="dateSelectSet")

        section.section.c-news-cards
            .section__container
                .c-news-cards__content
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_17.webp',
                        title: 'Подписан договор на производство и поставку прибора ТМВ 1000',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_18.webp',
                        title: 'Подписан договор на производство и поставку  машины на базе BP DLC 0,2 кN',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_2.webp',
                        title: 'Подписан договор на производство и поставку прибора ТРC 5009',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_19.webp',
                        title: 'Подписан договор на производство и поставку универсальной машины',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_20.webp',
                        title: 'Подписан договор на производство и поставку  машины на базе BP DLC 0,2 кN',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_17.webp',
                        title: 'Подписан договор на производство и поставку универсальной машины',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_19.webp',
                        title: 'Подписан договор на производство и поставку прибора ТМВ 1000',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_2.webp',
                        title: 'Подписан договор на производство и поставку прибора ТРC 5009',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_19.webp',
                        title: 'Подписан договор на производство и поставку универсальной машины',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_17.webp',
                        title: 'Подписан договор на производство и поставку прибора ТРC 5009',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_18.webp',
                        title: 'Подписан договор на производство и поставку  машины на базе BP DLC 0,2 кN',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_20.webp',
                        title: 'Подписан договор на производство и поставку прибора ТМВ 1000',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_17.webp',
                        title: 'Подписан договор на производство и поставку прибора ТМВ 1000',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_18.webp',
                        title: 'Подписан договор на производство и поставку  машины на базе BP DLC 0,2 кN',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_19.webp',
                        title: 'Подписан договор на производство и поставку универсальной машины',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })
                    +news-card({
                        classes: 'c-news-cards__card',
                        vMode: 'classic',
                        media: 'img/news/news_2.webp',
                        title: 'Подписан договор на производство и поставку прибора ТРC 5009',
                        date: '20.10.2024',
                        category: 'Мы в СМИ'
                    })

                +pagination

        +socials-section
