extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Карточка товара детальная"

block content
	.page-layout.page-layout--bottom
		.breadcrumbs-section.section.section--transparent
			.section__container
				+breadcrumbs({
					items: [
						{
							name: 'Главная',
							link: 'javascript:void(0);'
						},
						{
							name: 'Каталог',
							link: 'javascript:void(0);'
						},
						{
							name: 'Название категории',
							link: 'javascript:void(0);'
						},
						{
							name: 'Название подкатегории',
							link: 'javascript:void(0);'
						},
						{
							name: 'Название товара',
							link: 'javascript:void(0);'
						}
					],
				})

		section.section.product-intro
			.section__container.product-intro__container
				.product-intro__media
					+product-slider
				.product-intro__info
					+title({
						classes: 'product-intro__title',
						tag: 'h1',
						size: '53',
						text: 'Универсальная испытательная машина ТРМ-О 0,1 А1 Tochline'
					})
					.product-intro__controls
						+btn({
							name: 'Сравнить',
							icon: 'compare_2',
							cMode: 'noborder',
							size: 'link'
						})
						+btn({
							name: 'Поделиться',
							icon: 'share',
							cMode: 'noborder',
							size: 'link'
						})
					.product-intro__body
						.product-intro__main
						.product-intro__side
							.product-intro__order
								+product-price({
									price: '550 000 ₽',
									oldPrice: '680 000 ₽',
									vMode: 'horizontal',
									size: '32'
								})
								+product-tags({
									tags: [
										{
											img: 'img/catalog/check_icon.svg',
											text: 'В наличии',
											color: 'green'
										},
										{
											img: '',
											text: 'Новинка',
											color: 'blue'
										},
										{
											img: '',
											text: 'Скидка',
											color: 'red'
										}
									]
								})
								+btn({
									classes: 'product-intro__cart',
									name: 'В корзину',
									size: 'full',
									cMode: 'red',
									icon: 'basket',
								})
								+btn({
									name: 'Запросить коммерческое предложение',
									size: 'full',
									cMode: 'transparent-red'
								})
								+btn({
									name: 'Задать вопрос',
									size: 'full',
									cMode: 'grey',
									icon: 'question'
								})

		.sidebar-layout
			.sidebar-layout__content
				section.section.section--full.product-detailed
					.section__container

			.sidebar-layout__sidebar
				.section.section--full.section--transparent.product-sidebar
					.product-sidebar__container

		section.section.section--full.product-accry
			.section__container

		section.section.section--full.product-accry
			.section__container

		+help-section


