extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Безопасность изделия"

block content
	.page-layout
		.breadcrumbs-section.section.section--transparent
			.section__container
				+breadcrumbs({
					items: [
						{
							name: 'Главная',
							link: 'javascript:void(0);'
						},
						{
							name: 'Безопасность изделия',
							link: 'javascript:void(0);'
						}
					],
				})

		section.section.product-safety-intro
			.section__container
				+title({
					tag: 'h1',
					size: '67',
					text: 'Безопасность изделия'
				})
				.section__columns.product-safety-intro__content
					.section__text.text-editor
						p Компания «ТОЧПРИБОР» дорожит мнением клиентов и своей собственной репутацией. Мы реализуем качественный товар и отвечаем за его бесперебойную работу.
						p К сожалению, в последнее время участились случаи поставки поддельного оборудования якобы от нашей компании. 
					.section__text.text-editor
						p Мы приняли решение ввести номерные защитные голограммы для всей приборной продукции, чтобы обезопасить вас от контрафакта, а себя — от репутационного ущерба. 
						p Обращаем ваше внимание, что с 26.02.2020 на каждую единицу приборной продукции устанавливаются специальные индивидуальные голограммы.На данной странице можно заполнить форму и проверить подлинность оборудования «ТОЧПРИБОР».

		section.section.product-safety-fake
			.section__container
				.section__columns
					+title({
						tag: 'h2',
						size: '53',
						text: 'Предупреждение о&nbsp;контрафакте'
					})
					.section__text.text-editor В последнее время участились случаи появления на рынке как контрафактных приборов, так и позиционирование отдельными организациями себя на своих сайтах как производителей испытательной техники, которая на самом деле разработана и может быть произведена только на нашем заводе. 
				.product-safety-fake__slider.safety-slider(data-js="productSafetySliderBlock")
					.safety-slider__header
						+btn({
							name: 'Проверить изделие',
							size: '246',
							cMode: 'red',
							icon: 'arrow_enter'
						})
						.slider-controls
							button.slider-control.slider-control--prev(type="button" data-js='sliderPrev')
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_classic`)
							button.slider-control.slider-control--next(type="button" data-js='sliderNext')
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_classic`)

					.safety-slider__slider(data-js="productSafetySlider")
						.swiper-wrapper
							.swiper-slide
								.safety-slider__card
									.safety-slider__num.title--83 01
									.safety-slider__title.title--32 Правообладатель 
									.safety-slider__text ООО «ЗИП» никому не предоставлял прав на производство техники, представленной на этом сайте.
							.swiper-slide
								.safety-slider__card
									.safety-slider__num.title--83 02
									.safety-slider__title.title--32 Признаки обмана 
									.safety-slider__text Все случаи расследования показали, что приборы прошлых лет выпуска, выведенные из эксплуатации по критериям предельного состояния или окончания срока службы, после проведения «косметического» ремонта и оформления поддельных паспортов предлагались покупателям по достаточно низким ценам. Такая продукция может быть только восстановленной или выпущенной нелегально.
							.swiper-slide
								.safety-slider__card
									.safety-slider__num.title--83 03
									.safety-slider__title.title--32 Проверка изделия 
									.safety-slider__text Если у Вас возникли сомнения в подлинности документации или изделия, обратитесь на наше предприятие для получения полной информации о происхождении продукта.
							.swiper-slide
								.safety-slider__card
									.safety-slider__num.title--83 04
									.safety-slider__title.title--32 Правообладатель 
									.safety-slider__text ООО «ЗИП» никому не предоставлял прав на производство техники, представленной на этом сайте.
							.swiper-slide
								.safety-slider__card
									.safety-slider__num.title--83 05
									.safety-slider__title.title--32 Признаки обмана 
									.safety-slider__text Все случаи расследования показали, что приборы прошлых лет выпуска, выведенные из эксплуатации по критериям предельного состояния или окончания срока службы, после проведения «косметического» ремонта и оформления поддельных паспортов предлагались покупателям по достаточно низким ценам. Такая продукция может быть только восстановленной или выпущенной нелегально.
							.swiper-slide
								.safety-slider__card
									.safety-slider__num.title--83 06
									.safety-slider__title.title--32 Проверка изделия 
									.safety-slider__text Если у Вас возникли сомнения в подлинности документации или изделия, обратитесь на наше предприятие для получения полной информации о происхождении продукта.

		section.section.product-safety-brand
			.section__container
				.section__columns
					+title({
						tag: 'h2',
						size: '53',
						text: 'Бренд, которому можно доверять'
					})
					.section__text.text-editor Наши торговые знаки, знаки соответствия и обозначения на продукции

				.product-safety-brand__list
					.product-safety-brand__title.title--32 Наши признаки
					.product-safety-brand__cards
						.product-safety-brand__card
							.product-safety-brand__icon
								img(src='img/product-safety/brand_1.webp')
							.product-safety-brand__subtitle.title--32 Товарный знак Tochline
							.product-safety-brand__text TOCHLINE — зарегистрированная торговая марка с идентификационным номером 605917
						.product-safety-brand__card
							.product-safety-brand__icon
								img(src='img/product-safety/brand_2.webp')
							.product-safety-brand__subtitle.title--32 ООО «ЗИП»
							.product-safety-brand__text
								p Товарный знак, используемый ООО «ЗИП», зарегистрирован в Государственном реестре товарных знаков и знаков обслуживания
								p Свидетельство на товарный знак № 756316 <br>Правообладатель – ООО «Завод испытательных приборов» (ООО «ЗИП»)
						.product-safety-brand__card
							.product-safety-brand__icon
								img(src='img/product-safety/brand_3.webp')
							.product-safety-brand__subtitle.title--32 Метрологическая лаборатория ООО «ЗИП»
							.product-safety-brand__text
								p Аккредитована Федеральной службой по аккредитации (Росакредитация) на право осуществлять деятельность по проведению работ и (или) оказанию услуг по поверке средств измерений.
								p Организация ООО «ЗИП» занесена в реестр аккредитованных лиц. <br><a href="javascript:void(0)">Аттестат аккредитации RA.RU.312915</a> <br>Правообладатель – ООО «Завод испытательных приборов» (ООО «ЗИП»).

						.product-safety-brand__card
							.product-safety-brand__icon
								img(src='img/product-safety/brand_4.webp')
							.product-safety-brand__subtitle.title--32 Сертификат соотвествия
							.product-safety-brand__text 
								p Знак соответствия требованиям ГОСТ Р ИСО 9001-2015 (ISO 9001:2015) системы менеджмента качества, распространяющейся на производство приборов и инструментов для испытания, выпускаемых предприятием ООО «ЗИП»
								p Сертификат соответствия №&nbsp;СДС.ФР.СМ.00504.21
								p Правообладатель – ООО «Завод испытательных приборов» (ООО «ЗИП»).

						.product-safety-brand__card.product-safety-brand__card--full
							.product-safety-brand__icon
								img(src='img/product-safety/brand_5.webp')
							.product-safety-brand__subtitle.title--32 Голограмма бренда
							.product-safety-brand__text
								p Голограммы с одним и тем же номером устанавливаются на оборудование, вклеиваются в Журнал регистрации готовой продукции ООО "ЗИП", а также в паспорт каждого выпускаемого изделия. 
								p Товарная марка Tochline, нанесённая на голограмму, зарегистрирована в Федеральной службе по интеллектуальной собственности (РОСПАТЕНТ) №605917.
								p При получении продукции без голограмм с датой выпуска после 26.02.2020г. продукцию считать контрафактной и обращаться по тел. <a href="tel:+78126123003">+7(812) 612-30-03</a>.

		section.section.product-safety-cases
			.section__container
				+title({
					classes: 'title--center',
					tag: 'h2',
					size: '53',
					text: 'Выявленные случаи поставки поддельного оборудования'
				})
				.product-safety-cases__list
					.product-safety-cases__card
						.product-safety-cases__text Поставщик контрафакта
						.product-safety-cases__title ООО «Рога и копыта»
						.product-safety-cases__block
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Карточка организации
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Решение суда
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Список изделий
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

						.product-safety-cases__block.product-safety-cases__block--last
							.product-safety-cases__text Покупатели
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 1
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 2
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 3
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

					.product-safety-cases__card
						.product-safety-cases__text Поставщик контрафакта
						.product-safety-cases__title ООО «Ромашка»
						.product-safety-cases__block
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Карточка организации
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Решение суда
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Список изделий
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

						.product-safety-cases__block.product-safety-cases__block--last
							.product-safety-cases__text Покупатели
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 1
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 2
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 3
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

					.product-safety-cases__card
						.product-safety-cases__text Поставщик контрафакта
						.product-safety-cases__title ООО «Компания»
						.product-safety-cases__block
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Карточка организации
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Решение суда
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Список изделий
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

						.product-safety-cases__block.product-safety-cases__block--last
							.product-safety-cases__text Покупатели
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 1
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 2
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 3
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

					.product-safety-cases__card
						.product-safety-cases__text Поставщик контрафакта
						.product-safety-cases__title ООО «Фирма»
						.product-safety-cases__block
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Карточка организации
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Решение суда
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Список изделий
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

						.product-safety-cases__block.product-safety-cases__block--last
							.product-safety-cases__text Покупатели
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 1
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 2
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
							a.product-safety-cases__link(href="javascript:void(0)") 
								span Покупатель 3
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

				+btn({
					name: 'Показать ещё',
					size: 'full',
					cMode: 'transparent',
					icon: 'arrow_enter'
				})

