extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Карточка товара детальная"

block content
	.page-layout.page-layout--bottom
		.breadcrumbs-section.section.section--transparent
			.section__container
				+breadcrumbs({
					items: [
						{
							name: 'Главная',
							link: 'javascript:void(0);'
						},
						{
							name: 'Каталог',
							link: 'javascript:void(0);'
						},
						{
							name: 'Название категории',
							link: 'javascript:void(0);'
						},
						{
							name: 'Название подкатегории',
							link: 'javascript:void(0);'
						},
						{
							name: 'Название товара',
							link: 'javascript:void(0);'
						}
					],
				})

		include ../../blocks/modules/product-page-intro/product-intro

		.sidebar-layout
			.sidebar-layout__content
				section.section.section--full.product-detailed
					.section__container
						+tabs-block({
							tabs: [
								{
									name: 'Описание',
								},
								{
									name: 'Технические характеристики',
								},
								{
									name: 'Документы',
								},
								{
									name: 'Доставка с ДЛ',
								}
							],
						})

			.sidebar-layout__sidebar
				.section.section--full.section--transparent.product-sidebar
					.product-sidebar__container

		section.section.section--full.product-accry
			.section__container

		section.section.section--full.product-accry
			.section__container

		+help-section



