extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Референции"

block content
    .page-layout(data-js="pageLayout")
        .breadcrumbs-section.section.section--transparent
            .section__container
                +breadcrumbs({
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Референции',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        section.section.ref-intro(data-js='refIntro')
            .section__container
                +title({
                    tag: 'h1',
                    size: '67',
                    text: 'Референции'
                })
                .ref-intro__content
                    .ref-intro__top
                        .ref-intro__text Поставки оборудования группы компании “Точприбор” осуществляются по РФ и другим странам мира
                        .ref-intro__filters(data-js="formFilter")
                            .filter-select(data-js='filterSelect' data-name="country")
                                .filter-select__header(data-js="filterSelectHeader")
                                    select(data-js="filterSelectInput")

                                    .filter-select__fake(data-js="filterSelectFake") Выбрать страну
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                                .filter-select__content(data-js="filterSelectContent")

                            .filter-select(data-js='filterSelect' data-name="region")
                                .filter-select__header(data-js="filterSelectHeader")
                                    select(data-js="filterSelectInput")

                                    .filter-select__fake(data-js="filterSelectFake") Выбрать субъект РФ
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)

                                .filter-select__content(data-js="filterSelectContent")

                    .ref-intro__tabs(data-js="refIntroTabs")

        section.section.section--transparent.ref-map(data-js='refMap')
            .section__container.ref-map__container
                .ref-map__map(data-js='refMapMap')
                .ref-map__content.ref-info(data-js='refInfo')
                    .ref-info__header
                        .ref-info__region.title--26(data-js='refInfoRegion') Москва
                        .ref-info__close(data-js='refInfoClose')
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)
                    .ref-info__body.scrollbar.scrollbar--small
                        .ref-info__current(ata-js='refInfoCurrent')
                            .icon(style="background-color: #BDBDBD;")
                                img(src="img/ref_logo.svg")
                            .name Разрывные машины
                        .ref-info__tabs(data-js='refInfoTabs')
                            .ref-info__tab.active Разрывные машины
                            .ref-info__tab Микроскопы
                            .ref-info__tab Меры твердости эталонные
                            .ref-info__tab Экстензометры
                        .ref-info__items(data-js='refInfoItems')
                            .ref-item
                                .ref-item__img
                                    img(src="img/catalog/product_9.webp")
                                .ref-item__info
                                    .ref-item__name Разрывная машина ИР 5143-200
                                    .ref-item__buyers
                                        .ref-item__buyer Московская ГЭС
                                        .ref-item__buyer ООО «ЛКС»
                                +btn({
                                    classes: 'ref-item__btn',
                                    name: 'Подробнее',
                                    cMode: 'transparent-red'
                                })
                            .ref-item
                                .ref-item__img
                                    img(src="img/catalog/product_8.webp")
                                .ref-item__info
                                    .ref-item__name Разрывная машина ИР 5143-201
                                    .ref-item__buyers
                                        .ref-item__buyer Московская ГЭС
                                        .ref-item__buyer ООО «ЛКС»
                                +btn({
                                    classes: 'ref-item__btn',
                                    name: 'Подробнее',
                                    cMode: 'transparent-red'
                                })
                            .ref-item
                                .ref-item__img
                                    img(src="img/catalog/product_11.webp")
                                .ref-item__info
                                    .ref-item__name Разрывная машина ИР 5143-202
                                    .ref-item__buyers
                                        .ref-item__buyer Московская ГЭС
                                        .ref-item__buyer ООО «ЛКС»
                                +btn({
                                    classes: 'ref-item__btn',
                                    name: 'Подробнее',
                                    cMode: 'transparent-red'
                                })