extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Поиск"

block content
    .page-layout
        .breadcrumbs-section.section.section--transparent
            .section__container
                +breadcrumbs({
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Поиск',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        section.section.search-intro
            .section__container
                .search-intro__header
                    +title({
                        tag: 'h1',
                        size: '67',
                        text: 'Поиск'
                    })
                    +search-form({
                        classes: 'search-intro__form',
                        btnText: 'Искать'
                    })

        section.section.search-results
            .section__container
                .search-results__header
                    +title({
                        text: 'Результаты поиска',
                        tag: 'h2',
                        size: '32'
                    })
                    .search-results__sort
                        +form-filter
                            .form-filter__select.filter-select(data-js='filterSelect')
                                .filter-select__header(data-js="filterSelectHeader")
                                    select(data-js="filterSelectInput")
                                        option(value="popular" selected) По популярности
                                        option(value="price_asc") Сначала дешевле
                                        option(value="price_desc") Сначала дороже
                                    .filter-select__fake(data-js="filterSelectFake") По популярности
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                                .filter-select__content
                                    .filter-select__option.active(data-js="filterSelectOption" data-name="По популярности" data-value="popular") По популярности
                                    .filter-select__option(data-js="filterSelectOption" data-name="Сначала дешевле" data-value="price_asc") Сначала дешевле
                                    .filter-select__option(data-js="filterSelectOption" data-name="Сначала дороже" data-value="price_desc") Сначала дороже

                .search-results__list
                    +search-card({
                        breadcrumbs: {
                            items: [
                                {
                                    name: 'Главная',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Каталог',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Универсальные испытательные машины (Разрывные машины)',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Электромеханические',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Универсальные испытательные машины ТРМ-О Tochline',
                                    link: 'javascript:void(0);'
                                }
                            ]
                        },
                        img: 'img/catalog/product_7.webp',
                        title: 'Универсальная испытательная машина ТРМ-О Tochline ТРМ',
                        tags: ['Товар', '52 модификации'],
                        desc: `<p>Технические характеристики</p><ul><li>Конструктивное исполнение: установка на виброопоры</li><li>Наибольший предел измерений (НПИ): 50</li><li>Ход подвижной траверсы без захватов, мм: 800</li></ul>`,
                        prices:{
                            price: '999 550 000 ₽',
                            oldPrice: '1 680 000 ₽'
                        },
                    })

                    +search-card({
                        classes: 'search-card--cover-img',
                        breadcrumbs: {
                            items: [
                                {
                                    name: 'Главная',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Вакансии',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Специалист по сертификации разрывных машин',
                                    link: 'javascript:void(0);'
                                }
                            ]
                        },
                        img: 'img/news/news_2.webp',
                        title: 'Специалист по сертификации разрывных машин',
                        tags: ['Вакансия'],
                        desc: `Центральный офис<br>г. Санкт-Петербург, пер.&nbsp;Дровяной, д.&nbsp;20,&nbsp;пом.&nbsp;4&#8209;Н`,
                        prices:{
                            price: 'от 59 000 ₽',
                            oldPrice: ''
                        },
                    })

                    +search-card({
                        breadcrumbs: {
                            items: [
                                {
                                    name: 'Главная',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Новости',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Новая разрывная машина ТРМ-О Tochline ТРМ 62',
                                    link: 'javascript:void(0);'
                                }
                            ]
                        },
                        img: 'img/catalog/product_7.webp',
                        title: 'Новая разрывная машина ТРМ-О Tochline ТРМ 62',
                        tags: ['Новость'],
                        desc: `Добавили в реестр новую модификацию нашего популярного изделия`,
                    })

                    +search-card({
                        breadcrumbs: {
                            items: [
                                {
                                    name: 'Главная',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Новости',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Разрывные машины: устройство, принципы работы и виды',
                                    link: 'javascript:void(0);'
                                }
                            ]
                        },
                        img: 'img/catalog/product_7.webp',
                        title: 'Разрывные машины: устройство, принципы работы и виды',
                        tags: ['Новость'],
                        desc: `Внутри машины имеется механизм соединенных друг с другом зубчатых колёс и пружин. Когда к машине прикладывается сила, она передается через зубчатые. Внутри машины имеется механизм соединенных друг с другом зубчатых колёс и пружин. Когда к машине прикладывается сила, она передается через зубчатые. Внутри машины имеется механизм соединенных друг с другом зубчатых колёс и пружин. Когда к машине прикладывается сила, она передается через зубчатые. Внутри машины имеется механизм соединенных друг с другом зубчатых колёс и пружин. Когда к машине прикладывается сила, она передается через зубчатые. Внутри машины имеется механизм соединенных друг с другом зубчатых колёс и пружин. Когда к машине прикладывается сила, она передается через зубчатые. Внутри машины имеется механизм соединенных друг с другом зубчатых колёс и пружин. Когда к машине прикладывается сила, она передается через зубчатые.`,
                    })

                    +search-card({
                        breadcrumbs: {
                            items: [
                                {
                                    name: 'Главная',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Новости',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Презентовали на выставке  ТРМ-О Tochline',
                                    link: 'javascript:void(0);'
                                }
                            ]
                        },
                        img: 'img/catalog/product_7.webp',
                        title: 'Презентовали на выставке  ТРМ-О Tochline ',
                        tags: ['Новость'],
                        desc: `Презентовали на выставке  ТРМ-О Tochline `,
                    })

                    +search-card({
                        breadcrumbs: {
                            items: [
                                {
                                    name: 'Главная',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Новости',
                                    link: 'javascript:void(0);'
                                },
                                {
                                    name: 'Подписан контракт на поставку универсальной испытательной машины ТРМ-О Tochline для нужд ОАО «Щегловский вал»',
                                    link: 'javascript:void(0);'
                                }
                            ]
                        },
                        img: 'img/catalog/product_7.webp',
                        title: 'Подписан контракт на поставку универсальной испытательной машины ТРМ-О Tochline для нужд ОАО «Щегловский вал»',
                        tags: ['Новость'],
                        desc: `Подписан контракт на поставку универсальной испытательной машины ТРМ-О Tochline для нужд ОАО «Щегловский вал»`,
                    })
