extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Поиск"

block content
    .page-layout
        .breadcrumbs-section.section.section--transparent
            .section__container
                +breadcrumbs({
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Поиск',
                            link: 'javascript:void(0);'
                        }
                    ],
                })

        section.section.search-intro
            .section__container
                .search-intro__header
                    +title({
                        tag: 'h1',
                        size: '67',
                        text: 'Поиск'
                    })
                    +search-form({
                        classes: 'search-intro__form',
                        btnText: 'Искать'
                    })

        section.section.search-results
            .section__container
                .search-results__header
                    +title({
                        text: 'Результаты поиска',
                        tag: 'h2',
                        size: '32'
                    })
                    .search-results__sort
                        +form-filter
                            .form-filter__select.filter-select(data-js='filterSelect')
                                .filter-select__header(data-js="filterSelectHeader")
                                    select(data-js="filterSelectInput")
                                        option(value="По популярности" selected) По популярности
                                        option(value="Сначала дешевле") Сначала дешевле
                                        option(value="Сначала дороже") Сначала дороже
                                    .filter-select__fake(data-js="filterSelectFake") По популярности
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
                                .filter-select__content
                                    .filter-select__option.active(data-js="filterSelectOption" data-value="По популярности") По популярности
                                    .filter-select__option(data-js="filterSelectOption" data-value="Сначала дешевле") Сначала дешевле
                                    .filter-select__option(data-js="filterSelectOption" data-value="Сначала дороже") Сначала дороже