extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Услуги"

block content
	.page-layout
		.breadcrumbs-section.section.section--transparent
			.section__container
				+breadcrumbs({
					items: [
						{
							name: 'Главная',
							link: 'javascript:void(0);'
						},
						{
							name: 'Услуги',
							link: 'javascript:void(0);'
						}
					],
				})

		.services
			.services__container
				section.section.section--full.services__left
					.section__container.services__sidebar
						.services__header
							+title({
								tag: 'h1',
								size: '83',
								text: 'Услуги'
							})
							+btn({
								name: 'Оставить заявку',
								cMode: 'red',
								size: '246',
								icon: 'arrow_enter'
							})
						.services__tabs.scrollbar.scrollbar--small
							a.services__tab.active(href="javascript:void(0)")
								span.name.title--26 Услуги по металлообработке
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_enter`)
								span.count.title--26 13
							a.services__tab(href="javascript:void(0)")
								span.name.title--26 Поверка инструментов измерений
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_enter`)
								span.count.title--26 5
							a.services__tab(href="javascript:void(0)")
								span.name.title--26 Пуско-наладка
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_enter`)
								span.count.title--26 4
							a.services__tab(href="javascript:void(0)")
								span.name.title--26 Наладка средств измерений
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_enter`)
								span.count.title--26 3
							a.services__tab(href="javascript:void(0)")
								span.name.title--26 Доставка
								svg
									use(xlink:href=`img/sprites/sprite.svg#arrow_enter`)
								span.count.title--26 2

				section.section.section--full.services__right
					.section__container
						.services__accordion(data-js="accordion")
							+spoiler({
								title: 'Ленточнопильная резка металла'
							})
								.services__textblock
									+media-slider({
										fancyGroup: 'servicesSlider1'
									})

									h2 Токарные станки с наклонной станиной с ЧПУ

									.services__textbg
										h3 IRONMAC ITX-408 HCNC
										p Плазмогазорез с портальным столом ЧПУ:
										ul 
											li Макс. диаметр вращения, мм 400,
											li Макс. диаметр точения, мм 340,
											li Макс. длина точения, мм 450,
											li Макс. диаметр прутка, мм 52,
											li Точность позиционирования, мм 0,007 / 0,007,
											li Повторяемость, мм 0,003 / 0,003.
										h3 IRONMAC ITX-510 HCNC
										ul
											li Макс. диаметр вращения, мм 500,
											li Макс. диаметр точения, мм 360,
											li Макс. длина точения, мм 650,
											li Макс. диаметр прутка, мм 74,
											li Точность позиционирования, мм 0,007 / 0,007,
											li Повторяемость, мм 0,003 / 0,003.

									h2 Вертикально-обрабатывающие фрезерные центры

									.services__textbg
										h3 Фрезерный центр с ЧПУ KMT 1000
										ul
											li Система ЧПУ Fanuc Размер стола, мм 1100 x 520,
											li T-образные пазы, мм 5 x 18 x 100,
											li Макс. нагрузка на стол, кг 750,
											li Перемещение по оси X, мм 1000,
											li Перемещение по оси Y, мм 520,
											li Перемещение по оси Z, мм 560,
											li Точность позиционирования по осям X / Y / Z, мм ± 0,004,
											li Повторяемость X / Y / Z, мм ± 0,0025.
										h3 Фрезерный центр с ЧПУ KMT 650
										ul
											li Система ЧПУ Fanuc Размер стола, мм 750x420,
											li T-образные пазы, мм 5 x 14 x 125,
											li Макс. нагрузка на стол, кг 350,
											li Перемещение по оси X, мм 650,
											li Перемещение по оси Y, мм 420,
											li Перемещение по оси Z, мм 500,
											li Точность позиционирования по осям X / Y / Z, мм ± 0,004,
											li Повторяемость X / Y / Z, мм ± 0,0025.
									+download-btn({
										classes: 'download-btn--textblock',
										img: 'img/docs-type/doc.svg',
										name: 'Полный перечень услуги',
										size: '3,5 Мб'
									})
									+download-btn({
										classes: 'download-btn--textblock',
										img: 'img/docs-type/xls.svg',
										name: 'Прайс-лист',
										size: '2,7 Мб'
									})

							+spoiler({
								title: 'Плазмо-газовая резка металла'
							})
								.services__textblock
									+media-slider({
										fancyGroup: 'servicesSlider2'
									})

							+spoiler({
								title: 'Токарные и фрезерные работы ЧПУ'
							})
								.services__textblock
									.services__textbg
										h3 IRONMAC ITX-408 HCNC
										p Плазмогазорез с портальным столом ЧПУ:
										ul 
											li Макс. диаметр вращения, мм 400,
											li Макс. диаметр точения, мм 340,
											li Макс. длина точения, мм 450,
											li Макс. диаметр прутка, мм 52,
											li Точность позиционирования, мм 0,007 / 0,007,
											li Повторяемость, мм 0,003 / 0,003.

							+spoiler({
								title: 'Электро-эрозионная резка'
							})
								.services__textblock
									+download-btn({
										classes: 'download-btn--textblock',
										img: 'img/docs-type/doc.svg',
										name: 'Полный перечень услуги',
										size: '3,5 Мб'
									})
									+download-btn({
										classes: 'download-btn--textblock',
										img: 'img/docs-type/xls.svg',
										name: 'Прайс-лист',
										size: '2,7 Мб'
									})

							+spoiler({
								title: 'Зубофрезерные работы'
							})
								.services__textblock
									h2 Вертикально-обрабатывающие фрезерные центры
									.services__textbg
										h3 IRONMAC ITX-408 HCNC
										ul 
											li Макс. диаметр вращения, мм 400,
											li Макс. диаметр точения, мм 340,
											li Макс. длина точения, мм 450,
											li Макс. диаметр прутка, мм 52,
											li Точность позиционирования, мм 0,007 / 0,007,
											li Повторяемость, мм 0,003 / 0,003.

							+spoiler({
								title: 'Расточные работы'
							})
								.services__textblock
									h2 Вертикально-обрабатывающие фрезерные центры
									.services__textbg
										h3 IRONMAC ITX-408 HCNC
										ul 
											li Макс. диаметр вращения, мм 400,
											li Макс. диаметр точения, мм 340,
											li Макс. длина точения, мм 450,
											li Макс. диаметр прутка, мм 52,
											li Точность позиционирования, мм 0,007 / 0,007,
											li Повторяемость, мм 0,003 / 0,003.

							+spoiler({
								title: 'Сверловка отверстий в металле'
							})
								.services__textblock
									h2 Вертикально-обрабатывающие фрезерные центры
									.services__textbg
										h3 IRONMAC ITX-408 HCNC
										ul 
											li Макс. диаметр вращения, мм 400,
											li Макс. диаметр точения, мм 340,
											li Макс. длина точения, мм 450,
											li Макс. диаметр прутка, мм 52,
											li Точность позиционирования, мм 0,007 / 0,007,
											li Повторяемость, мм 0,003 / 0,003.

							+spoiler({
								title: 'Шлифовальные работы'
							})
								.services__textblock
									h2 Вертикально-обрабатывающие фрезерные центры
									.services__textbg
										h3 IRONMAC ITX-408 HCNC
										p Макс. диаметр вращения, мм 400, Макс. диаметр точения, мм 340, Макс. длина точения, мм 450, Макс. диаметр прутка, мм 52, Точность позиционирования, мм 0,007 / 0,007, Повторяемость, мм 0,003 / 0,003.

							+spoiler({
								title: 'Прессовое оборудование'
							})
								.services__textblock
									h2 Вертикально-обрабатывающие фрезерные центры
									.services__textbg
										ul 
											li Макс. диаметр вращения, мм 400,
											li Макс. диаметр точения, мм 340,
											li Макс. длина точения, мм 450,
											li Макс. диаметр прутка, мм 52,
											li Точность позиционирования, мм 0,007 / 0,007,
											li Повторяемость, мм 0,003 / 0,003.

							+spoiler({
								title: 'Термическая обработка (отжиг, закалка)'
							})
								.services__textblock
									h2 Вертикально-обрабатывающие фрезерные центры
									.services__textbg
										ul 
											li Макс. диаметр вращения, мм 400,
											li Макс. диаметр точения, мм 340,
											li Макс. длина точения, мм 450,
											li Макс. диаметр прутка, мм 52,
											li Точность позиционирования, мм 0,007 / 0,007,
											li Повторяемость, мм 0,003 / 0,003.

							+spoiler({
								title: 'Сварочные работы'
							})
								.services__textblock
									+media-slider({
										fancyGroup: 'servicesSlider4'
									})
									+download-btn({
										classes: 'download-btn--textblock',
										img: 'img/docs-type/doc.svg',
										name: 'Полный перечень услуги',
										size: '3,5 Мб'
									})
									+download-btn({
										classes: 'download-btn--textblock',
										img: 'img/docs-type/xls.svg',
										name: 'Прайс-лист',
										size: '2,7 Мб'
									})

						+btn({
							class: 'services__more',
							name: 'Смотреть еще',
							cMode: 'transparent-red'
						})


