extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Наша команда"

block content
    .page-layout(data-js="pageLayout")

        +img-intro({
            img: 'img/about/about_intro.webp',
            breadcrumbs: {
                cMode: 'light',
                items: [
                    {
                        name: 'Главная',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Наша команда',
                        link: 'javascript:void(0);'
                    }
                ]
            },
            title: 'Наша команда',
            tag: '[Надёжные руки, создающие будущее промышленности]',
            text: 'Каждый из нас вносит свой вклад в создание качественных и надёжных продуктов',
        })
            +btn({
                size: 'middle',
                name: 'Фильм о заводе',
                link: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239202&hd=2&autoplay=1',
                icon: 'arrow_enter'
            })(data-fancybox data-type='iframe')


        section.section.section--transparent.section--full.team-photos
            .section__container.team-photos__container
                +title({
                    classes: 'team-photos__title',
                    tag: 'h2',
                    text: 'Люди, которые делают больше, чем просто работу',
                    size: '53',
                })
                .team-photos__cards
                    .team-photos__card
                        a.team-photos__img(href="img/team/team_1.webp" data-fancybox="teamPhotos" data-thumb="img/team/team_1.webp")
                            img(src="img/team/team_1.webp" alt="")
                    .team-photos__card.team-photos__card--center
                        a.team-photos__img(href="img/team/team_2.webp" data-fancybox="teamPhotos" data-thumb="img/team/team_2.webp")
                            img(src="img/team/team_2.webp" alt="")
                        +btn({
                            classes: 'team-photos__btn',
                            size: 'middle',
                            name: 'Все фото',
                            link: 'img/team/team_1.webp',
                            icon: 'arrow_enter'
                        })(data-fancybox-trigger="teamPhotos")
                    .team-photos__card
                        a.team-photos__img(href="img/team/team_3.webp" data-fancybox="teamPhotos" data-thumb="img/team/team_3.webp")
                            img(src="img/team/team_3.webp" alt="")
                    .team-photos__card
                        a.team-photos__img(href="img/team/team_4.webp" data-fancybox="teamPhotos" data-thumb="img/team/team_4.webp")
                            img(src="img/team/team_4.webp" alt="")
                    .team-photos__card
                        a.team-photos__img(href="img/team/team_5.webp" data-fancybox="teamPhotos" data-thumb="img/team/team_5.webp")
                            img(src="img/team/team_5.webp" alt="")
                .gallery-list
                    a(href="img/about/about_cooperation.webp" data-fancybox="teamPhotos" data-thumb="img/about/about_cooperation.webp")
                    a(href="img/about/about_team.webp" data-fancybox="teamPhotos" data-thumb="img/about/about_team.webp")

        +quote-section({
            text: 'Наш коллектив — это команда единомышленников, которая движется к&nbsp;общей цели. Я благодарен каждому сотруднику за его вклад в&nbsp;развитие завода.'
        })

        +team-section({
            tag: '[Руководящий состав завода]',
            title: 'Топ-менеджмент',
            img: 'img/team/team_6.webp'
        })

        +team-section({
            tag: '[Менеджеры в торговых домах]',
            title: 'Менеджмент',
            img: 'img/team/team_7.webp'
        })

        +team-section({
            tag: '[Линейные сотрудники завода]',
            title: 'Производственная линия',
            img: 'img/team/team_8.webp',
            noCards: true
        })

        section.section.team-vacancies
            .section__container.team-vacancies__container
                +title({
                    classes: 'team-vacancies__title',
                    tag: 'h2',
                    text: 'Вакансии',
                    size: '53',
                    note: ' (43)'
                })

                +form-filter({
                    classes: 'team-vacancies__form'
                })
                    +field({
                        classes: 'team-vacancies__search',
                        placeholder: 'Поиск вакансии',
                        resetBtn: true,
                        isSearch: true
                    })
                    .vacancies-filter(data-js="vacanciesFilter")
                        .vacancies-filter__inner(data-js="vacanciesFilterInner")
                            span.vacancies-filter__text Фильтры
                            span.vacancies-filter__icon
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#filter`)
                            span.vacancies-filter__reset
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#close`)

                        .vacancies-filter__list
                            .form-filter__block
                                .form-filter__subtitle Зарплата <span>(руб)</span>
                                .filter-range(data-js="filterRange" data-min="0" data-max="150000" data-step="1000")
                                    input.filter-range__input.filter-range__input--min(type='number' min="0" max="150000" data-js="filterRangeMin")
                                    input.filter-range__input.filter-range__input--max(type='number' min="0" max="150000" data-js="filterRangeMax")
                                    .filter-range__range(data-js="filterRangeSlider")

                            .form-filter__block
                                .form-filter__subtitle Образование
                                .form-filter__list(data-js="filterList")
                                    .form-filter__items(data-js="filterListItems")
                                        .filter-checkbox(data-js="filterListItem")
                                            label.filter-checkbox__inner
                                                input(type="checkbox" name='education' value="Не требуется или не указано")
                                                span.filter-checkbox__fake
                                                span.filter-checkbox__text Не требуется или не указано
                                        .filter-checkbox(data-js="filterListItem")
                                            label.filter-checkbox__inner
                                                input(type="checkbox" name='education' value="Среднее (полное)")
                                                span.filter-checkbox__fake
                                                span.filter-checkbox__text Среднее общее
                                        .filter-checkbox(data-js="filterListItem")
                                            label.filter-checkbox__inner
                                                input(type="checkbox" name='education' value="Среднее профессиональное")
                                                span.filter-checkbox__fake
                                                span.filter-checkbox__text Среднее профессиональное
                                        .filter-checkbox(data-js="filterListItem")
                                            label.filter-checkbox__inner
                                                input(type="checkbox" name='education' value="Высшее")
                                                span.filter-checkbox__fake
                                                span.filter-checkbox__text Высшее

                            .form-filter__block
                                .form-filter__subtitle Опыт работы
                                .form-filter__list(data-js="filterList")
                                    .form-filter__items(data-js="filterListItems")
                                        .filter-radio(data-js="filterListItem")
                                            label.filter-radio__inner
                                                input(type="radio" checked name='experience' value="Не имеет значения")
                                                span.filter-radio__fake
                                                span.filter-radio__text Не имеет значения
                                        .filter-radio(data-js="filterListItem")
                                            label.filter-radio__inner
                                                input(type="radio" name='experience' value="Нет опыта")
                                                span.filter-radio__fake
                                                span.filter-radio__text Нет опыта
                                        .filter-radio(data-js="filterListItem")
                                            label.filter-radio__inner
                                                input(type="radio" name='experience' value="От 1 года до 3 лет")
                                                span.filter-radio__fake
                                                span.filter-radio__text От 1 года до 3 лет
                                        .filter-radio(data-js="filterListItem")
                                            label.filter-radio__inner
                                                input(type="radio" name='experience' value="От 3 до 6 лет")
                                                span.filter-radio__fake
                                                span.filter-radio__text От 3 до 6 лет
                                        .filter-radio(data-js="filterListItem")
                                            label.filter-radio__inner
                                                input(type="radio" name='experience' value="Более 6 лет")
                                                span.filter-radio__fake
                                                span.filter-radio__text Более 6 лет

                    +btn({
                        name: 'Искать',
                        icon: 'arrow_enter',
                        type: 'button',
                        buttonType: 'submit'
                    })
                .team-vacancies__body
                    .team-vacancies__cards
                        +vacancy-card({
                            media: 'img/news/news_2.webp',
                            salary: 'от 60 000 ₽',
                            title: 'Слесарь-ремонтник',
                            category: 'Слесарь',
                            date: '20.10.2024'
                        })
                        +vacancy-card({
                            media: 'img/news/news_2.webp',
                            salary: 'от 70 000 ₽',
                            title: 'Слесарь механосборочных работ',
                            category: 'Слесарь',
                            date: '20.10.2024'
                        })
                        +vacancy-card({
                            media: 'img/news/news_2.webp',
                            salary: 'от 45 000 до 60 000 ₽',
                            title: 'Контролер ОТК',
                            category: 'Контролер',
                            date: '20.10.2024'
                        })
                        +vacancy-card({
                            media: 'img/news/news_2.webp',
                            salary: 'от 60 000 ₽',
                            title: 'Инженер КИПиА',
                            category: 'Инженер',
                            date: '20.10.2024'
                        })
                        +vacancy-card({
                            media: 'img/news/news_2.webp',
                            salary: 'от 60 000 ₽',
                            title: 'Слесарь-ремонтник',
                            category: 'Слесарь',
                            date: '20.10.2024'
                        })
                        +vacancy-card({
                            media: 'img/news/news_2.webp',
                            salary: 'от 70 000 ₽',
                            title: 'Слесарь механосборочных работ',
                            category: 'Слесарь',
                            date: '20.10.2024'
                        })
                        +vacancy-card({
                            media: 'img/news/news_2.webp',
                            salary: 'от 45 000 до 60 000 ₽',
                            title: 'Контролер ОТК',
                            category: 'Контролер',
                            date: '20.10.2024'
                        })
                        +vacancy-card({
                            media: 'img/news/news_2.webp',
                            salary: 'от 60 000 ₽',
                            title: 'Инженер КИПиА',
                            category: 'Инженер',
                            date: '20.10.2024'
                        })
                    +btn({
                        classes: 'team-vacancies__more',
                        cMode: 'transparent-red',
                        name: 'Показать еще',
                        icon: 'arrow_enter'
                    })

        +help-section({
            img: 'img/home/bg_1.webp',
            title: 'Не нашли <br>подходящую <br>вакансию?',
            text: 'Отправьте нам резюме, мы всегда в&nbsp;поиске молодых и&nbsp;активных специалистов',
            btnText: 'Отправить резюме',
            modalLink: '#vacancyModal',
            isTransparent: true
        })

