extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Вакансия"

block content
	.page-layout.page-layout--bottom
		.breadcrumbs-section.section.section--transparent
			.section__container
				+breadcrumbs({
					items: [
						{
							name: 'Главная',
							link: 'javascript:void(0);'
						},
						{
							name: 'Наша команда',
							link: 'javascript:void(0);'
						},
						{
							name: 'Вакансии',
							link: 'javascript:void(0);'
						},
						{
							name: 'Название вакансии',
							link: 'javascript:void(0);'
						}
					],
				})

		.sidebar-layout
			.sidebar-layout__content
				section.section.section--full.vacancy-header
					.section__container
						+title({
							tag: 'h1',
							size: '53',
							text: 'Слесарь механического участка'
						})

						.vacancy-header__top
							.vacancy-header__item
								.vacancy-header__title Доход
								.vacancy-header__price
									.vacancy-header__amount.title--32 от 40 000 ₽
									.vacancy-header__tax до вычета НДФЛ
							.vacancy-header__item
								.vacancy-header__title Опыт
								.vacancy-header__amount.title--32 1–3 года
							.vacancy-header__item
								.vacancy-header__title График работы
								.vacancy-header__text.vacancy-header__schedule понедельник — пятница с&nbsp;9:00&nbsp;до&nbsp;18:00

						.vacancy-header__bottom
							.vacancy-header__side
								.vacancy-header__info
									svg
										use(xlink:href=`img/sprites/sprite.svg#calendar`)
									span 12 июля 2024
								.vacancy-header__info
									svg
										use(xlink:href=`img/sprites/sprite.svg#folder`)
									span Категория: Новости 
							.vacancy-header__side.vacancy-header__side--last
								+btn({
									classes: '',
									name: 'Поделиться',
									cMode: 'transparent',
									size: '182',
									icon: 'share'
								})
								a.btn.btn--transparent.btn--182(href="javascript:void(0)")
									img(src="img/hh_icon.png")
									span.btn__text Вакансия на hh

				section.section.section--full.vacancy-body
					.section__container
						.vacancy-body__section
							.vacancy-body__title.title--26 Обязанности
							.vacancy-body__desc.text-editor 
								ul
									li Слесарная и механическая обработка деталей
									li Выполнение работ в соответствии с заданной технологией и характеристиками работ

						.vacancy-body__section
							.vacancy-body__title.title--26 Требования
							.vacancy-body__desc.text-editor 
								ul
									li Среднее техническое образование
									li Умение читать чертежи
									li Ответственность, внимательность, дисциплинированность, желание профессионального роста
									li Опыт работы приветствуется

						.vacancy-body__section
							.vacancy-body__title.title--26 Условия
							.vacancy-body__desc.text-editor 
								ul
									li Трудоустройство согласно ТК РФ
									li Все выплаты официальные
									li График работы: 5/2
									li Социальный пакет
									li Оплачиваемые переработки в 2-м размере
									li Хорошие условия труда, обеспечение спецодеждой
									li Хорошие условия труда, обеспечение спецодеждой
									li Теплая раздевалка, душ, холодильник, СВЧ печь
									li Есть централизованная развозка, а так же, возможность парковки у завода

				section.section.section--full.vacancy-contacts
					.section__container
						.vacancy-contacts__top
							// если нужно показать несколько точек, то перечислить массивы координат через дефис, например, data-coords="[56.960471,40.940674], [56.950352, 40.970129], [57.134609, 40.335625]"
							.vacancy-contacts__map(data-js="simpleMap" data-coords="[56.960471,40.940674]")
							.vacancy-contacts__info
								.vacancy-contacts__item
									.vacancy-contacts__title.title--26 Телефон
									.vacancy-contacts__text 
										a(href="tel:+78126123003") +7 (812) 612-30-03
								.vacancy-contacts__item
									.vacancy-contacts__title.title--26 Email
									.vacancy-contacts__text 
										a(href="mailto:ivanovo@tochpribor-nw.ru") ivanovo@tochpribor-nw.ru
								.vacancy-contacts__item
									.vacancy-contacts__title.title--26 Адрес
									.vacancy-contacts__text 
										span Иваново, улица Станкостроителей, 11к5
								.vacancy-contacts__item
									.vacancy-contacts__title.title--26 Режим работы отдела кадров
									.vacancy-contacts__text 
										span Понедельник - Пятница
										span с 8:00 до 16:30 (Мск)

						.vacancy-contacts__socials
							a.social-link(href="https://telegram.org/")
								span.social-link__text Написать в Telegram
								span.social-link__icon
									svg
										use(xlink:href=`img/sprites/sprite.svg#tg`)
							a.social-link(href="https://web.whatsapp.com/")
								span.social-link__text Написать в WhatsApp
								span.social-link__icon
									svg
										use(xlink:href=`img/sprites/sprite.svg#wa`)



			.sidebar-layout__sidebar
				.section.section--full.tags
					.section__container
						.tags__title Ключевые навыки
						.tags__list
							.tags__tag Работоспособность
							.tags__tag Работа в команде

				.vacancy-sidebar__banner.banner.banner--notext
					.banner__bg
						img(src="img/news/news_banner_1.webp" alt="")
					.banner__content
						.banner__title.title--26 Стань частью нашего коллектива
						+btn({
							classes: '',
							size: "content",
							name: 'Отправить резюме',
							icon: 'arrow_enter',
							size: '246'
						})

				.section.section--full.vacancy-sidebar
					.section__container
						.vacancy-sidebar__title Новые вакансии
						.vacancy-sidebar__list
							+vacancy-card({
								vMode: 'small',
								media: 'img/news/news_2.webp',
								title: 'Слесарь механического участка',
								category: 'Слесарь'
							})
							+vacancy-card({
								vMode: 'small',
								media: 'img/news/news_2.webp',
								salary: 'от 60 000 ₽',
								title: 'Инженер КИПиА',
								category: 'Инженер'
							})
							+vacancy-card({
								vMode: 'small',
								media: 'img/news/news_2.webp',
								salary: 'от 60 000 ₽',
								title: 'Оператор станков с ЧПУ (токарный станок)',
								category: 'Оператор'
							})
							+vacancy-card({
								vMode: 'small',
								media: 'img/news/news_2.webp',
								salary: 'от 60 000 ₽',
								title: 'Контролер ОТК',
								category: 'Контролер'
							})


		section.section.section--full
			.section__container
				+cards-slider({
					title: 'Другие вакансии',
					slidesCount: '4'
				})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 60 000 ₽',
							title: 'Слесарь-ремонтник',
							date: '20.10.2024',
							category: 'Слесарь'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 70 000 ₽',
							title: 'Слесарь механосборочных работ',
							date: '20.10.2024',
							category: 'Слесарь'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 45 000 до 60 000 ₽',
							title: 'Контролер ОТК',
							date: '20.10.2024',
							category: 'Контролер'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 60 000 ₽',
							title: 'Инженер КИПиА',
							date: '20.10.2024',
							category: 'Инженер'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: '',
							title: 'Слесарь механического участка',
							date: '20.10.2024',
							category: 'Слесарь'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 60 000 ₽',
							title: 'Оператор станков с ЧПУ (токарный станок)',
							date: '20.10.2024',
							category: 'Оператор'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 60 000 ₽',
							title: 'Слесарь-ремонтник',
							date: '20.10.2024',
							category: 'Слесарь'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 70 000 ₽',
							title: 'Слесарь механосборочных работ',
							date: '20.10.2024',
							category: 'Слесарь'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 45 000 до 60 000 ₽',
							title: 'Контролер ОТК',
							date: '20.10.2024',
							category: 'Контролер'
						})
					.swiper-slide
						+vacancy-card({
							classes: 'cards-slider__card',
							media: 'img/news/news_2.webp',
							salary: 'от 60 000 ₽',
							title: 'Инженер КИПиА',
							date: '20.10.2024',
							category: 'Инженер'
						})