.compare {
    &__actions {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-top: 16px;
        flex: 0 0 auto;

        @include max(tablet) {
            align-self: flex-end;
            margin-top: 0;
        }

        @include max(mobile) {
            flex-wrap: wrap;
        }
    }

    &__header {
        @include max(tablet) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }
    }

    &__body {
        margin-top: 24px;

        @include max(tablet) {
            margin-top: 16px;
        }
    }

}

.compare-block {

    &__header {
        padding: 12px 12px 12px 24px;
        display: flex;
        justify-content: space-between;
        gap: 16px;

        @include max(mobile) {
            padding: 12px 15px;
        }
    }

    &__actions {
        width: fit-content;
        margin-top: 0;
        flex-shrink: 1;

        @include max(tablet) {
            align-self: center;
        }
    }

    &__prodwrap {
        margin-left: 328px;
        padding-right: 12px;

        @include max(laptop) {
            margin-left: 282px;
        }

        @include max(tablet) {
            margin-left: 0;
            padding-left: 12px;
        }

    }

    &__paramwrap {
        position: relative;
        margin-left: 0;
        margin-top: 2px;
    }

    &__prods {
        overflow: hidden;
        margin-right: -12px;
        padding-right: 12px;
        padding-bottom: 6px;
        position: relative;
    }

    &__scrollbar {
        width: 100%;
        height: 6px;
        position: absolute;
        bottom: 0;
        top: auto;
        z-index: 5;
        border-radius: 2px;
        background-color: #E9E9E9;
    }

    &__scrollbar .swiper-scrollbar-drag {
        border-radius: 2px;
        border: 1px solid $c-border;
        background-color: $c-bg;
    }

    &__params {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 0;
        overflow: visible;
    }

    &__row {
        display: flex;
        align-items: stretch;
        gap: 16px;
        border-top: 1px solid $c-border;

        &:nth-child(odd) {
            background-color: $c-main-bg;

            @include max(tablet) {
                background-color: $c-white;
            }
        }

        @include max(laptop) {
            gap: 12px;
        }

        @include max(tablet) {
            flex-direction: column;
            gap: 0;
        }
    }

    &__list {
        flex: 0 0 calc(100% - 328px);
        max-width: calc(100% - 328px);
        overflow: hidden;
        margin-right: -12px;
        padding-right: 12px;

        @include max(laptop) {
            flex: 0 0 calc(100% - 282px);
            max-width: calc(100% - 282px);
        }

        @include max(tablet) {
            flex-basis: auto;
            max-width: 100%;
        }
    }

    &__prod,
    &__cell {
        flex: 0 0 215px;
        width: 215px;

        @include max(laptop) {
            flex-basis: 180px;
            width: 180px;
        }

        @include max(mobile) {
            flex-basis: 120px;
            width: 120px;
        }
    }

    &__cell {
        font-size: 16px;
        line-height: 1.4em;
        color: $c-text;
        padding: 8px 0 12px;

        @include max(laptop) {
            font-size: 14px;
        }

        @include max(tablet) {
            padding: 8px 0;
            padding-left: 12px;
        }

        @include max(mobile) {
            font-size: 12px;
        }

        &--title {
            flex-basis: 312px;
            font-size: 14px;
            color: $c-text-breadcrumbs;
            padding-left: 16px;

            @include max(laptop) {
                flex-basis: 270px;
                font-size: 12px;
            }

            @include max(tablet) {
                flex-basis: auto;
                width: 100%;
                background-color: $c-main-bg;
            }

            @include max(mobile) {
                flex-basis: auto;
                width: 100%;
            }
        }

    }
}

.compare-prod {
    position: relative;

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1 / 0.99;
        padding: 8.372%;
        border: 1px solid $c-border;
        border-radius: 4px;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    &__controls {
        position: absolute;
        top: 7px;
        right: 9px;
        padding: 4px 8px;
        border-radius: 2px;
        background-color: $c-input-bg;

        @include max(laptop) {
            padding: 2px 4px;
        }
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 32px;
        color: $c-text-light;
        cursor: pointer;
        transition: color $tr-time linear;

        @include max(laptop) {
            width: 24px;
            height: 24px;
        }

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__control+&__control {
        border-top: 1px solid $c-border;
    }

    &__title {
        margin-top: 14px;
        font-size: 18px;
        line-height: 1.4em;
        color: $c-text;
        /*height: 4.2em;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;*/

        @include max(laptop) {
            font-size: 16px;
        }

        @include max(mobile) {
            font-size: 13px;
            margin-top: 6px;
        }
    }
}