.docs-po {
    &__container.section__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        height: calc(100vh - 80px);
        min-height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);
        height: calc(100dvh - 80px);
        min-height: calc(100dvh - 80px);
        max-height: calc(100dvh - 80px);

        @include max(laptop) {
            height: calc(100vh - 61px);
            min-height: calc(100vh - 61px);
            max-height: calc(100vh - 61px);
            height: calc(100dvh - 61px);
            min-height: calc(100dvh - 61px);
            max-height: calc(100dvh - 61px);
        }

        @include max(tablet) {
            height: auto;
            min-height: auto;
        }
    }

    &__title {
        flex: 0 0 auto;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 0;
        flex: 1 1 100vh;

        @include max(tablet) {
            flex: 1 1 50vh;
        }
    }

    &__btn {
        font-size: 24px;
        margin-bottom: 15vh;

        @include max(tablet) {
            margin-bottom: 5vh;
            font-size: 18px;
        }
    }
}