.c-news-intro {}

.c-news-cards {
    &__content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 32px 16px;
        margin-top: 100px;

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            margin-top: 60px;
        }

        @include max(xs) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            margin-top: 32px;
        }
    }
}