.s-news {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        .btn {
            flex: 0 0 auto;
        }
    }
}

.s-news-intro {
    &__top {
        display: flex;
        align-items: stretch;
        gap: 16px;
        padding-top: 16px;
        margin-top: 80px;
        border-top: 1px solid $c-border;
        height: 539px;

        @include max(laptop) {
            flex-direction: column;
            height: auto;
        }
    }

    &__left {
        flex: 1 1 auto;
        width: 69%;
        height: 100%;

        @include max(laptop) {
            width: 100%;
        }

        .news-card {
            height: 100%;
        }

    }

    &__right {
        flex: 0 0 31%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include max(laptop) {
            flex: 0 0 auto;
        }

        .news-card--horizontal:first-child {
            padding-top: 0;
            border-top: none;
        }

    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 1px;
        margin-top: 40px;
        background-color: $c-border;

        @include max(tablet) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

.s-news-smi {
    &__slider {
        margin-top: 100px;
        overflow: hidden;
        padding-right: 24px;
        padding-left: 24px;
        margin-right: -24px;
        margin-left: -24px;

        .swiper-slide {
            width: 323px;
            height: 499px;

            @include max(tablet) {
                width: 250px;
                height: 386px;
            }
        }
    }
}

.s-news-useful {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 100px;
    }
}

.s-news-categories {
    .section__container {
        padding: 40px;

        @include max(large) {
            padding: 40px 20px;
        }
    }

    &__container {
        display: flex;
        align-items: stretch;
        gap: 32px;

        @include max(tablet) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
        flex: 0 0 calc((100% - 64px) / 3);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        margin-bottom: 20px;

        .btn {
            flex-shrink: 0;
        }
    }
}

.s-news-videos {
    .section__container {
        padding: 40px;

        @include max(large) {
            padding: 40px 20px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: $c-bg-dark;
    }

    &__content {
        display: grid;
        grid-template-columns: minmax(0, 54%) minmax(0, 46%);
        gap: 16px;
        margin-top: 100px;

        @include max(laptop) {
            grid-template-columns: minmax(0, 100%);
        }
    }

    .news-card:first-child {
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

.s-news-news {
    &__content {
        display: grid;
        grid-template-columns: minmax(0, 50%) repeat(2, minmax(0, 25%));
        gap: 12px;
        margin-top: 80px;
    }

    .news-card:first-child {
        grid-row-start: 1;
        grid-row-end: 3;
        aspect-ratio: 1 / 0.7;
    }
}

.s-news-products {
    &__content {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 32px 16px;
        margin-top: 100px;

        @include max(laptop) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}