.s-news {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        .btn {
            flex: 0 0 auto;
        }
    }
}

.s-news-intro {
    &__top {
        display: flex;
        align-items: stretch;
        gap: 16px;
        padding-top: 16px;
        margin-top: 80px;
        border-top: 1px solid $c-border;
        height: 539px;
    }

    &__left {
        flex: 1 1 auto;
        width: 69%;
        height: 100%;

        .news-card {
            height: 100%;
        }
    }

    &__right {
        flex: 0 0 31%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .news-card--horizontal:first-child {
            padding-top: 0;
            border-top: none;
        }
    }

    &__bottom {
        display: flex;
        align-items: stretch;
        margin-top: 40px;

        .news-card--small:first-child {
            border-left: none;
        }
    }
}

.s-news-smi {
    &__slider {
        margin-top: 100px;
        overflow: hidden;
        padding-right: 24px;
        padding-left: 24px;
        margin-right: -24px;
        margin-left: -24px;

        .swiper-slide {
            width: 323px;
            height: 499px;
        }
    }
}

.s-news-useful {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 100px;
    }
}

.s-news-categories {
    .section__container {
        padding: 40px;

        @include max(large) {
            padding: 40px 20px;
        }
    }

    &__container {
        display: flex;
        align-items: stretch;
        gap: 32px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
        flex: 0 0 calc((100% - 64px) / 3);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        margin-bottom: 20px;

        .btn {
            flex-shrink: 0;
        }
    }
}

.s-news-videos {
    .section__container {
        padding: 40px;

        @include max(large) {
            padding: 40px 20px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        background-color: $c-bg-dark;
    }

    &__content {
        display: flex;
        align-items: stretch;
        gap: 16px;
    }

    &__left {
        flex: 0 0 54%;

        .news-card {
            height: 100%;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
        flex: 1 1 auto;
        width: 46%;
    }
}