.product-detailed {
    position: relative;

    &__container.section__container {
        padding-top: 0;
        padding-left: 24px;
        padding-right: 24px;
    }

    &__desc.text-editor {
        hr {
            margin: 20px 0;
        }

        a {
            position: relative;
            display: inline-block;
            font-size: 12px;
            line-height: 1.4em;
            padding: 2px 24px 2px 6px;
            background-color: $c-input-bg;
            transition: color $tr-time linear;
            color: $c-text;

            &::after {
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                top: 2px;
                right: 4px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00016 11.8333L9.3335 8.49992L6.00016 5.16659' stroke='%234E4E4E' stroke-linecap='square'/%3E%3C/svg%3E");
                transition: background-image $tr-time linear;
            }

            &:hover {
                color: $c-accent-hover;

                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00016 11.8333L9.3335 8.49992L6.00016 5.16659' stroke='%238E0001' stroke-linecap='square'/%3E%3C/svg%3E");
                }
            }
        }
    }

    &__tech.text-editor {
        table {
            min-width: auto;

            @include max(mobile) {
                margin: 24px 0;
            }

            tr th,
            tr td {
                border-radius: 0 !important;
                background-color: transparent;
                min-width: 150px;

                @include max(mobile) {
                    min-width: 120px;
                }
            }

            thead {
                padding-bottom: 17px;
            }

            thead th,
            thead td {
                border-width: 0;
                padding: 7px 5px 19px;
            }

            thead th {
                font-size: 20px;
                line-height: 1.1em;
                letter-spacing: -0.01em;
                font-weight: 400;
                color: $c-text;

                @include max(mobile) {
                    font-size: 18px;
                }
            }

            thead th b {
                display: inline-block;
                font-size: 16px;
                line-height: 1.4em;
                padding: 1px 4px;
                border: solid 1px $c-bg;
                border-radius: 4px;
                font-weight: 400;
            }

            th.active,
            td.active {
                background-color: $c-pink-hover;
            }

            tbody th,
            tbody td {
                border-width: 0 0 1px 0;
                padding: 14px 5px 7px;
                font-size: 16px;
                font-weight: 400;

                @include max(mobile) {
                    font-size: 14px;
                }
            }

            tr th:first-child,
            tr td:first-child {
                padding-left: 0;
                padding-right: 35px;
                min-width: 250px;

                @include max(mobile) {
                    padding-right: 16px;
                    min-width: 160px;
                }
            }

            tr th:last-child,
            tr td:last-child {
                padding-right: 0;
            }
        }
    }

    &__docs {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }
}

.product-sidebar {
    @include max(mobile) {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__title {
        margin-top: 8px;
        margin-bottom: 24px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: stretch;
    }
}

.p-news-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    min-height: 230px;
    padding: 12px 12px 20px;
    background-color: $c-white;
    color: $c-white;
    border-radius: 4px;
    overflow: hidden;

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 7;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.244) 0%, rgba(0, 0, 0, 0.61) 100%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__header {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
    }

    &__date {
        width: fit-content;
        background-color: #A0A09D;
        padding: 2px 6px;
        border-radius: 2px;
        font-size: 12px;
        line-height: 1.4em;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-white;
        width: 32px;
        height: 32px;
        border: solid 1px $c-bg;
        color: $c-accent-light;
        transition: all $tr-time linear;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__title {
        position: relative;
        z-index: 3;
        line-height: 1em;
        letter-spacing: -0.02em;
        transition: color $tr-time linear;
    }

    &--white {
        color: $c-text;
    }

    &--white &__date {
        background-color: $c-input-bg;
    }

    &:hover {

        .p-news-card__btn {
            border-color: $c-accent-hover;
            color: $c-accent-hover;
        }

        .p-news-card__title {
            color: $c-bg;
        }
    }

    &--white:hover {
        .p-news-card__title {
            color: $c-accent-hover;
        }
    }

    &--sidebar &__title {
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;
    }
}