-
    const defaultNewsCardProps = {
        classes: '',
        vMode: 'horizontal',
        media: '',
        poster: '',
        mediaType: 'img',
        title: '',
        text: '',
        category: '',
        date: '',
        noLazy: false
    }

mixin news-card(props = defaultNewsCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsCardProps.classes,
            vMode: props.vMode ? props.vMode : defaultNewsCardProps.vMode,
            media: props.media ? props.media : defaultNewsCardProps.media,
            poster: props.poster ? props.poster : defaultNewsCardProps.poster,
            mediaType: props.mediaType ? props.mediaType : defaultNewsCardProps.mediaType,
            title: props.title ? props.title : defaultNewsCardProps.title,
            text: props.text ? props.text : defaultNewsCardProps.text,
            category: props.category ? props.category : defaultNewsCardProps.category,
            date: props.date ? props.date : defaultNewsCardProps.date,
            noLazy: props.noLazy ? props.noLazy : defaultNewsCardProps.noLazy,
        }

        let vModeClass = ` news-card--${checkProps.vMode}`

    .news-card(class= checkProps.classes + vModeClass)&attributes(attributes)
        -if(checkProps.mediaType === 'img' && checkProps.media.length > 0)
            .news-card__media
                - if(checkProps.noLazy === true)
                    img(src= checkProps.media)
                -else
                    img(class="lazyload" data-src= checkProps.media)
        -if(checkProps.mediaType === 'video' && checkProps.media.length > 0)
            .news-card__media
                +video({
                    video: checkProps.media,
                    poster: checkProps.poster,
                    noLazy: checkProps.noLazy
                })

        .news-card__content
            a.news-card__title(href="javascript:void(0)")!= checkProps.title
            -if(checkProps.text.length > 0)
                .news-card__text!= checkProps.text
            -if(checkProps.category.length > 0 || checkProps.date.length > 0 || checkProps.vMode === 'right')
                .news-card__tags
                    -if(checkProps.category.length > 0)
                        a.news-card__category(href="javascript:void(0)")!= checkProps.category
                    -if(checkProps.date.length > 0)
                        .news-card__date!= checkProps.date
                    -if(checkProps.vMode === 'right')
                        +btn({
                            classes: 'news-card__btn',
                            name: 'Подробнее',
                            size: '182',
                            icon: 'arrow_enter',
                            cMode: 'transparent-red'
                        })