.news-card {
    display: flex;
    gap: 16px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        color: $c-text;
        transition: color $tr-time linear;
        line-height: 1.4em;
        font-size: 16px;

        @include max(xs) {
            font-size: 14px;
        }

        &:hover {
            color: $c-accent-hover;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.4em;
        margin-top: 16px;

        p {
            margin-bottom: 1.4em;
        }

        ol {
            list-style-type: none;
            counter-reset: num;
            margin-bottom: 1.4em;
        }

        ol li {
            position: relative;
            padding: 0 0 0 4px;
        }

        ol li:before {
            content: counter(num) '.';
            counter-increment: num;
            margin-right: 4px;
        }

        ul {
            margin-bottom: 1.4em;
        }

        ul li {
            position: relative;
            padding: 0 0 0 21px;
        }

        ul li:before {
            content: '';
            position: absolute;
            left: 8px;
            top: 8px;
            width: 4px;
            height: 4px;
            border-radius: 100%;
        }

    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px 16px;
        margin-top: 24px;
        font-size: 12px;
        line-height: 1.4em;
        color: $c-white;

        @include max(xs) {
            gap: 4px 8px;
            margin-top: 16px;
        }
    }

    &__category,
    &__date {
        background-color: $c-text-dark;
        padding: 2px 6px;
        border-radius: 2px;
        width: fit-content;
    }

    &__category {
        transition: background-color $tr-time linear;

        &:hover {
            background-color: $c-accent-hover;
        }
    }

    &__media {
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.2);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__btn {
        margin-left: auto;

        @include max(mobile) {
            flex-basis: 100%;
            margin-top: 16px;
        }
    }
}

.news-card {
    &--left {
        flex-direction: row-reverse;

        @include max(mobile) {
            flex-direction: column;
        }
    }

    &--left &__title {
        font-size: 32px;
        line-height: 1em;
        letter-spacing: -0.02em;

        @include max(laptop) {
            font-size: 28px;
        }

        @include max(mobile) {
            font-size: 26px;
        }

        @include max(xs) {
            font-size: 24px;
        }
    }

    &--left &__media {
        flex: 0 0 52%;
        max-width: 490px;

        @include max(laptop) {
            aspect-ratio: 1 / 1;
        }

        @include max(mobile) {
            max-width: 100%;
            flex-basis: auto;
        }

    }

    &--left &__content {
        flex: 1 1 auto;
        justify-content: flex-start;
    }
}

.news-card {
    &--right {
        background-color: $c-white;
        min-height: 696px;

        @include max(tablet) {
            flex-direction: column;
        }
    }

    &--right &__title {
        font-size: 32px;
        line-height: 1em;
        letter-spacing: -0.02em;

        @include max(laptop) {
            font-size: 28px;
        }

        @include max(mobile) {
            font-size: 26px;
        }

        @include max(xs) {
            font-size: 24px;
        }
    }

    &--right &__text {
        columns: 2;
        gap: 16px;

        @include max(xs) {
            columns: auto;
        }
    }

    &--right &__media {
        flex: 0 0 49%;
        max-width: 696px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        @include max(tablet) {
            aspect-ratio: 1 / 0.67;
            flex-basis: auto;
            max-width: 100%;
            border-radius: 4px 4px 0 0;
        }
    }

    &--right &__content {
        flex: 1 1 auto;
        justify-content: flex-start;
        padding: 24px 16px 12px 8px;

        @include max(tablet) {
            padding: 20px;
        }

        @include max(xs) {
            padding: 10px;
        }
    }

    &--right &__tags {
        margin-top: auto;
    }
}

.news-card {

    &--horizontal {
        align-items: stretch;
        padding-top: 16px;
        border-top: 1px solid $c-border;
    }

    &--horizontal &__title {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include max(xs) {
            margin-bottom: 10px;
            font-size: 14px;
        }
    }

    &--horizontal &__media {
        flex: 0 0 132px;
        height: 132px;

        @include max(xs) {
            flex-basis: 120px;
            height: 120px;
        }
    }

    &--horizontal &__content {
        flex: 1 1 auto;
    }

    &--horizontal &__tags {
        margin-top: auto;
    }
}

.news-card {
    &--small {
        flex-direction: column;
        padding: 14px;
        background-color: $c-white;

        @include max(laptop) {
            padding: 10px;
        }
    }

    &--small &__title {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &--small &__media {
        display: none;
    }

    &--small &__tags {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

.news-card {
    &--slider {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 24px 16px;
    }

    &--slider &__media {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::after {
            background: linear-gradient(179.4deg, rgba(31, 35, 39, 0.4) 0.52%, rgba(31, 35, 39, 0) 20.31%, rgba(31, 35, 39, 0.4) 59.9%, rgba(31, 35, 39, 0.7) 99.48%);
        }
    }

    &--slider &__content {
        position: relative;
        justify-content: flex-end;
        gap: 10px;
    }

    &--slider &__title {
        color: $c-white;
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 16px;
        }

        &:hover {
            color: $c-bg;
        }
    }


    &--slider &__tags {
        display: contents;
    }

    &--slider &__category {
        order: -1;
        padding: 4px 12px;
        background-color: $c-accent;

        &:hover {
            background-color: $c-accent-hover;
        }
    }

    &--slider &__date {
        padding: 0;
        background-color: transparent;
    }
}

.news-card {
    &--category {
        flex-direction: column;
    }

    &--category &__media {
        width: 100%;
        aspect-ratio: 1 / 0.918;
    }

    &--category &__title {
        font-size: 26px;
        line-height: 1em;
        min-height: 3em;
        letter-spacing: -0.02em;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include max(laptop) {
            font-size: 24px;
        }

        @include max(mobile) {
            font-size: 22px;
        }

        @include max(xs) {
            font-size: 20px;
        }
    }
}

.news-card {
    &--video {
        background-color: $c-bg-dark2;
        flex-direction: column;
        gap: 0;
        border-radius: 4px;

        @include max(laptop) {
            flex-direction: row;
        }

        @include max(mobile) {
            flex-direction: column;
        }
    }

    &--video &__media {
        width: 100%;

        @include max(laptop) {
            flex: 0 0 52%;
            max-width: 400px;
        }

        @include max(mobile) {
            flex-basis: auto;
            max-width: 100%;
        }

    }

    &--video &__media::after {
        content: none;
    }

    &--video &__content {
        padding: 16px 20px 25px;
    }

    &--video &__title {
        color: $c-white;
        font-size: 26px;
        line-height: 1em;
        letter-spacing: -0.02em;

        @include max(laptop) {
            font-size: 24px;
        }

        @include max(mobile) {
            font-size: 22px;
        }

        @include max(xs) {
            font-size: 20px;
        }

        &:hover {
            color: $c-accent-hover;
        }
    }

    &--video &__text {
        font-size: 18px;
        color: $c-bg;
        margin-top: 8px;

        @include max(mobile) {
            font-size: 14px;
        }
    }

    &--video ul li {
        padding-left: 27px;
    }

    &--video ul li:before {
        background-color: $c-bg;
        top: 10px;
        left: 10px;
        width: 6px;
        height: 6px;
    }
}

.news-card {
    &--video-h {
        gap: 0;
        background-color: $c-bg-dark2;
        border-radius: 4px;

        @include max(mobile) {
            flex-direction: column;
        }
    }

    &--video-h &__media {
        flex: 0 0 52%;

        @include max(laptop) {
            max-width: 400px;
        }

        @include max(mobile) {
            flex-basis: auto;
            max-width: 100%;
        }
    }

    &--video-h &__media::after {
        content: none;
    }

    &--video-h &__content {
        flex: 1 1 auto;
        width: 48%;
        justify-content: flex-start;
        padding: 12px 16px 16px 20px;
        background-color: $c-bg-dark2;

        @include max(mobile) {
            width: 100%;
        }
    }

    &--video-h &__title {
        color: $c-white;
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 22px;
        }

        @include max(xs) {
            font-size: 20px;
        }

        &:hover {
            color: $c-accent-hover;
        }
    }

    &--video-h &__text {
        margin-top: 14px;
        color: $c-bg;
    }

    &--video-h ul li:before {
        background-color: $c-bg;
    }
}

.news-card {
    &--img {
        position: relative;
    }

    &--img &__media {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &--img &__content {
        justify-content: flex-end;
        position: relative;
        z-index: 3;
        padding: 20px;
        gap: 12px;

        @include max(laptop) {
            padding: 16px;
        }
    }

    &--img &__title {
        color: $c-white;
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 16px;
        }

        @include max(xs) {
            font-size: 22px;
        }

        &:hover {
            color: $c-bg;
        }
    }

    &--img &__tags {
        margin-top: 0;
    }

    &--img &__date,
    &--img &__category {
        background-color: $c-input-bg;
        color: $c-text;
        transition: all $tr-time linear;
    }

    &--img &__category:hover {
        background-color: $c-accent-hover;
        color: $c-white;
    }

    &--img-r &__content {
        flex-direction: column-reverse;
        justify-content: flex-start;

        @include max(xs) {
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &--img-r &__title {
        font-size: 32px;
        line-height: 1em;
        letter-spacing: -0.02em;

        @include max(laptop) {
            font-size: 28px;
        }

        @include max(mobile) {
            font-size: 26px;
        }

        @include max(xs) {
            font-size: 22px;
        }
    }
}

.news-card {
    &--classic {
        flex-direction: column;
        gap: 12px;
        background-color: $c-input-bg;
        border-radius: 4px;
        overflow: hidden;
    }

    &--classic &__media {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 4px 4px 0 0;
        flex: 0 0 auto;
    }

    &--classic &__content {
        padding: 0 10px 16px;
        flex: 1 1 auto;
    }

    &--classic &__title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: -0.01em;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 16px;
        }
    }

    &--classic &__tags {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-top: 10px;
        border-top: 1px solid $c-bg;
        margin-top: auto;
    }
}