.news-card {
    display: flex;
    gap: 16px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        color: $c-text;
        transition: color $tr-time linear;
        line-height: 1.4em;
        font-size: 16px;

        &:hover {
            color: $c-accent-hover
        }
    }

    &__text {
        font-size: 14px;
        margin-top: 16px;
    }

    &__tags {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 8px 16px;
        margin-top: 24px;
        font-size: 12px;
        line-height: 1.4em;
        color: $c-white;
    }

    &__category,
    &__date {
        background-color: $c-text-dark;
        padding: 2px 6px;
        border-radius: 2px;
        width: fit-content;
    }

    &__media {
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.2);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.news-card {
    &--left {
        flex-direction: row-reverse;
    }

    &--left &__title {
        font-size: 32px;
        line-height: 1em;
        letter-spacing: -0.02em;
    }

    &--left &__media {
        flex: 0 0 52%;
        max-width: 490px;
    }

    &--left &__content {
        flex: 1 1 auto;
        justify-content: flex-start;
    }
}

.news-card {

    &--horizontal {
        align-items: stretch;
        padding-top: 16px;
        border-top: 1px solid $c-border;
    }

    &--horizontal &__title {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &--horizontal &__media {
        flex: 0 0 132px;
        height: 132px;
    }

    &--horizontal &__content {
        flex: 1 1 auto;
    }
}

.news-card {
    &--small {
        flex-direction: column;
        padding: 14px;
        border-left: 1px solid $c-border;
    }

    &--small &__title {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &--small &__media {
        display: none;
    }

    &--small &__tags {
        flex-direction: column-reverse;
    }
}

.news-card {
    &--slider {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 24px 16px;
    }

    &--slider &__media {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::after {
            background: linear-gradient(179.4deg, rgba(31, 35, 39, 0.4) 0.52%, rgba(31, 35, 39, 0) 20.31%, rgba(31, 35, 39, 0.4) 59.9%, rgba(31, 35, 39, 0.7) 99.48%);
        }
    }

    &--slider &__content {
        position: relative;
        justify-content: flex-end;
    }

    &--slider &__title {
        color: $c-white;

        &:hover {
            color: $c-accent;
        }
    }


    &--slider &__tags {}
}