.amount-input {
    display: flex;
    align-items: center;
    max-width: 190px;
    min-width: 100px;
    width: 100px;
    height: 48px;
    background-color: $c-input-bg;
    border-radius: 4px;
    overflow: hidden;

    @include max(mobile) {
        height: 40px;
    }

    &__change {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 30px;
        flex-shrink: 0;
        flex-grow: 0;
        height: 100%;
        cursor: pointer;
        transition: all $tr-time linear;
        color: $c-accent;

        &.min,
        &.max {
            pointer-events: none;
            color: $c-bg;
        }

        &:hover {
            background-color: $c-accent-hover;
            color: white;
        }

        svg,
        use {
            width: 18px;
            height: 18px;
        }

    }

    &__value {
        display: block;
        flex-shrink: 0;
        min-width: 40px;
        width: 40px;
        max-width: 130px;
        height: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 1.4em;
        color: $c-text;
        outline: none;
        border: none;
        background: none;

        @include max(mobile) {
            font-size: 16px;
        }
    }

    &__width {
        position: absolute;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4em;
        visibility: hidden;
        opacity: 0;
        z-index: -100;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type='number'],
    input[type="number"]:hover,
    input[type="number"]:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
}

.amount-input {
    &--cartblock {
        display: none;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }

    &--cartblock.active {
        display: flex;
    }

    &__value {
        flex-shrink: 1;
        min-width: auto;
        width: 100%;
        max-width: none;
    }
}