.f-factory {
    &__container.section__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(0, 100%);
        height: calc(100vh - 80px);
        min-height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);
        height: calc(100dvh - 80px);
        min-height: calc(100dvh - 80px);
        max-height: calc(100dvh - 80px);

        @include max(laptop) {
            height: calc(100vh - 61px);
            min-height: calc(100vh - 61px);
            max-height: calc(100vh - 61px);
            height: calc(100dvh - 61px);
            min-height: calc(100dvh - 61px);
            max-height: calc(100dvh - 61px);
        }

        @include max(tablet) {
            height: auto;
            min-height: auto;
        }
    }

    &__grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: minmax(0, 41%) minmax(0, 50%);
        gap: 32px;

        @include max(laptop) {
            grid-template-columns: minmax(0, 41%) minmax(0, 58%);
        }

        @include max(tablet) {
            grid-template-columns: minmax(0, 1fr);
        }

        @include max(mobile) {
            gap: 16px;
        }
    }

    &__flex {
        height: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 32px;

        @include max(tablet) {
            flex-direction: column;
            gap: 16px;
            justify-content: flex-start;
        }
    }

    &__tabs {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 8px;
        max-height: fit-content;

        @include max(large) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @include max(laptop) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding-left: 316px;
            min-height: 300px;
        }

        @include max(mobile) {
            display: flex;
            align-items: stretch;
            padding-left: 0;
            min-height: auto;
            overflow-x: auto;
            padding-bottom: 5px;
            margin-bottom: -5px;
        }
    }

    &__tab {
        height: 100%;
        max-height: fit-content;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4px 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4em;
        color: $c-text;
        border: 1px solid $c-bg;
        border-radius: 4px;
        transition: all $tr-time linear;
        cursor: pointer;

        &.active {
            color: $c-accent;
            border-color: $c-accent;

            .number {
                color: $c-accent-light3;
            }
        }

        .number {
            margin-top: 11px;
            color: $c-border;
            font-weight: 400;
            font-size: 26px;
            line-height: 1em;
            letter-spacing: -0.02em;

            @include max(mobile) {
                margin-top: 0;
                font-size: 16px;
            }

            @include max(xs) {
                font-size: 12px;
            }
        }

        @include max(mobile) {
            white-space: nowrap;
            flex-direction: row;
            align-items: center;
            line-height: 1em;
            gap: 8px;
        }

        @include max(xs) {
            font-size: 12px;
        }
    }

    &__body {
        margin-top: 16px;
        overflow: hidden;

        @include max(tablet) {
            position: relative;
            overflow: visible;
        }
    }

    &__slide {
        display: none;
        height: 100%;

        &.active {
            display: block;
        }
    }

    &__side {
        width: 41%;
        flex: 0 0 41%;
        height: 100%;

        @include max(tablet) {
            position: absolute;
            bottom: calc(100% + 16px);
            left: 0;
            width: 300px;
            height: 300px;
        }

        @include max(mobile) {
            position: relative;
            bottom: 0;
            width: 100%;
            max-width: 300px;
            height: auto;
            flex-basis: auto;
        }

        @include max(mobile) {
            max-width: 250px;
        }
    }

    &__accordion {
        flex: 0 0 50%;
        overflow-y: auto;
        margin-right: -5px;
        padding-right: 5px;

        @include max(laptop) {
            flex: 0 1 58%;
        }

        @include max(tablet) {
            flex: 0 0 100%;
        }

        @include max(mobile) {
            flex: 0 1 auto;
        }

        .spoiler .spoiler__title {
            @include max(xs) {
                font-size: 22px;
            }
        }
    }

    .spoiler-side {
        display: none;
        height: 100%;
        width: 100%;

        &.active {
            display: block;
        }

        &__slider {
            height: 100%;

            .media-slider__slide {
                height: 100%;
            }

            @include max(tablet) {
                .media-slider__play {
                    left: 6px;
                    bottom: 6px;
                    min-width: 169px;
                    padding: 9px 16px;
                    min-height: 40px;
                }

                .media-slider__pagination {
                    top: 9px;
                    left: 9px;
                    width: calc(100% - 18px);
                    padding-top: 9px;

                    --swiper-pagination-progressbar-size: 1px;
                }

                .media-slider__fraction {
                    font-size: 14px;
                }

                .slider-controls {
                    gap: 6px;
                    right: 6px;
                    bottom: 6px;
                }

                .slider-control {
                    width: 40px;
                    height: 40px;
                }
            }

            @include max(xs) {
                .media-slider__play {
                    min-width: 130px;
                    padding: 6px 12px;
                    min-height: 32px;
                    font-size: 12px;
                }

                .slider-control {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}