.h-advantages {

    &.section {
        @include max(tablet) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @include max(mobile) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__header {
        padding-top: 74px;

        @include max(tablet) {
            padding-top: 24px;
        }

        @include max(xs) {
            padding-top: 12px;
        }
    }

    &__title {
        //max-width: 970px;
        max-width: 100%;

        @include max(tablet) {
            max-width: 100%;
        }

        @include max(xs) {
            font-size: 24px;
        }
    }

    .section__subtitle {
        font-size: 16px;

        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__bottom {
        display: grid;
        //grid-template-columns: minmax(0, 49%) minmax(460px, 460px);
        grid-template-columns: minmax(0, 49%) minmax(460px, 620px);
        margin-top: 40px;
        border-top: 1px solid $c-bg;
        padding-top: 20px;

        @include max(tablet) {
            margin-top: 20px;
        }

        @include max(mobile) {
            grid-template-columns: 100%;
            gap: 8px;
        }
    }

    &__cards {
        padding-bottom: 74px;
        margin-top: 145px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
        overflow: hidden;

        @include max(large) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include max(laptop) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include max(tablet) {
            display: block;
            padding-bottom: 40px;
            margin-top: 40px;
        }

        @include max(mobile) {
            margin-right: -15px;
            padding-right: 15px;
        }

        @include max(xs) {
            padding-bottom: 12px;
            margin-top: 32px;
        }
    }

    .swiper-wrapper {
        display: contents;

        @include max(tablet) {
            display: flex;
        }
    }

    &__controls {
        display: none;

        @include max(tablet) {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 40px;
        }

        @include max(xs) {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 24px;
        }
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 340px;
        padding: 16px 20px;
        background-color: $c-white;
        border-radius: 4px;

        @include max(xs) {
            padding: 12px 16px;
            min-height: 290px;
        }
    }

    &__subtitle {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        max-width: 270px;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include max(xs) {
            max-width: 120px;

            img {
                max-width: 100%;
            }
        }
    }

    &__text.text-editor {
        color: $c-text-light;
    }

    &__text.text-editor ul li::before,
    &__text.text-editor ol li::before {
        background-color: $c-text-light;
    }

    &__text.text-editor,
    &__text.text-editor p,
    &__text.text-editor ul,
    &__text.text-editor ol {
        font-size: 14px;
    }

    &__text.text-editor a {
        transition: color $tr-time linear;
    }

    &__text.text-editor a:hover {
        color: $c-accent;
    }
}