-
    const defaultBigMenuProps = {
        classes: '',
    }

mixin big-menu(props = defaultBigMenuProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBigMenuProps.classes,
        }

    .big-menu.scrollbar
        .big-menu__section
            .big-menu__title Каталог
            .big-menu__list(data-js="bigMenuList")
                ul.big-menu__items(data-js="bigMenuItems")
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Разрывные машины
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Твердомеры
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Меры твердости
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Приборы для измерения цвета
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Микроскопы						
                    li.big-menu__item(data-js="bigMenuItem")
                        a.big-menu__link(href="javascript:void(0)" target="_blank") Динамометры
                    li.big-menu__item(data-js="bigMenuItem")
                        a.big-menu__link(href="javascript:void(0)" target="_blank") Разрывные машины
                    li.big-menu__item(data-js="bigMenuItem")
                        a.big-menu__link(href="javascript:void(0)" target="_blank") Твердомеры
                    li.big-menu__item(data-js="bigMenuItem")
                        a.big-menu__link(href="javascript:void(0)" target="_blank") Меры твердости
                    li.big-menu__item(data-js="bigMenuItem")
                        a.big-menu__link(href="javascript:void(0)" target="_blank") Приборы для измерения цвета
                    li.big-menu__item(data-js="bigMenuItem")
                        a.big-menu__link(href="javascript:void(0)" target="_blank") Микроскопы

        .big-menu__section
            .big-menu__title О компании
            .big-menu__list(data-js="bigMenuList")
                ul.big-menu__items(data-js="bigMenuItems")
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Производство
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Услуги
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Документы
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Карьера в Точприбор
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Наша команда

        .big-menu__section
            .big-menu__title Еще
            .big-menu__list(data-js="bigMenuList")
                ul.big-menu__items(data-js="bigMenuItems")
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Контакты
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Новости
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Вопросы и ответы (FAQ)
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="javascript:void(0)" target="_blank") Карта сайта

        .big-menu__section
            .big-menu__title Связаться
            .big-menu__list(data-js="bigMenuList")
                ul.big-menu__items(data-js="bigMenuItems")
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="mailto:info@tochpribor.ru" target="_blank") info@tochpribor.ru
                    li.big-menu__item(data-js="bigMenuItem")
                        a(href="tel:+74922521233" target="_blank") +7 (4922) 52-12-33
                    li.big-menu__item(data-js="bigMenuItem")
                        span Головной офис: 190121, г. Санкт-Петербург, пер. Дровяной, д. 20, пом. 4-Н Вопросы и ответы (FAQ)

        .big-menu__footer
            .socials
                a.socials__item(href="https://telegram.org/" target="_blank")
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#tg`)
                a.socials__item(href="https://vk.com/" target="_blank")
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#vk`)
                a.socials__item(href="https://vkvideo.ru/@tochpribor" target="_blank")
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#vk_video`)
            .big-menu__copyright 
                span © 2010—2024 Точприбор
                .big-menu__developer 
                    | Разработка сайта
                    a(href="https://itspace.group/" target="_blank")
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#its`)