.download-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 22px;
    background-color: $c-input-bg;
    border-radius: 4px;
    border: 1px solid $c-input-bg;
    transition: all $tr-time linear;
    font-size: 16px;
    line-height: 1.4em;

    @include max(xs) {
        padding: 10px 12px;
        gap: 8px;
        font-size: 14px;
    }

    &:hover {
        background-color: $c-accent-light2;
        border-color: $c-accent-hover;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        max-width: 24px;

        img {
            width: 24px;
            height: 24px;
        }

        svg {
            width: 24px;
            height: 31px;
        }

        @include max(xs) {
            flex-basis: 20px;
        }
    }

    &__text {
        flex: 1 1 auto;
        margin-right: auto;
    }

    &__size {
        flex: 0 0 auto;
        margin-left: auto;
        white-space: nowrap;
        color: $c-text-breadcrumbs;

        @include max(xs) {
            font-size: 12px;
        }
    }

    &__download {
        display: flex;
        align-items: center;
        gap: 4px;
        flex: 0 0 auto;
        padding: 0 8px;

        svg {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
        }

        @include max(xs) {
            padding: 0;

            span {
                display: none;
            }
        }
    }

}

.download-btn {
    &--textblock {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    &--small {
        padding: 13px 8px;
        font-size: 12px;
    }

    &--small &__download {
        font-size: 14px;
    }
}