.title {
    color: $c-text;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: -0.03em;

    &--light {
        color: $c-white;
    }

    &__sup {
        vertical-align: super;
        color: $c-text-breadcrumbs;
        font-size: 0.56em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        font-weight: inherit;
        text-wrap: inherit;
    }

    &--83 {
        font-size: 83px;

        @include max(laptop) {}

        @include max(tablet) {}

        @include max(mobile) {}
    }

    &--67 {
        font-size: 67px;

        @include max(laptop) {
            font-size: 53px;
        }

        @include max(mobile) {
            font-size: 40px;
        }

        @include max(xs) {
            font-size: 32px;
        }
    }

    &--53 {
        font-size: 53px;

        @include max(laptop) {
            font-size: 40px;
        }

        @include max(mobile) {
            font-size: 32px;
        }

        @include max(xs) {
            font-size: 28px;
        }
    }

    &--32 {
        font-size: 32px;

        @include max(laptop) {
            font-size: 28px;
        }

        @include max(mobile) {
            font-size: 26px;
        }

        @include max(xs) {
            font-size: 24px;
        }
    }

    &--26 {
        font-size: 26px;

        @include max(laptop) {
            font-size: 24px;
        }

        @include max(mobile) {
            font-size: 22px;
        }

        @include max(xs) {
            font-size: 20px;
        }
    }

}