.main-burger(data-js='mainBurger')
    .main-burger__overlay(data-js='mainBurgerClose')
    .main-burger__content
        .main-burger__close(data-js='mainBurgerClose')
            svg 
                use(xlink:href=`img/sprites/sprite.svg#close`)
        .main-burger__menu.scrollbar
            .burger-menu
                .burger-menu__section(data-js="bigMenuList")
                    .burger-menu__title Каталог
                    ul.burger-menu__list(data-js="bigMenuItems")
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Универсальные испытательные машины (разрывные машины)
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Аксессуары для испытательных машин
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Копры маятниковые и вертикальные
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Приборы для измерения твердости (твердомеры)
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Меры твердости эталонные
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Системы температурных  испытаний
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Машины трения (для испытания на трение и износ)
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Испытательные пресса
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Экстензометры
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Видеоизмерительные системы Girmax
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Приборы  для измерения цвета
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Микроскопы
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Динамометры
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Оборудование для пробоподготовки (металлография и т.д.)
                        li.burger-menu__item(data-js="bigMenuItem")
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Оборудование для технологических испытаний

                .burger-menu__section
                    .burger-menu__title Услуги
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Проверка подлинности
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Металлообработка
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Поверка средств измерений
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Пуско-наладка
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Наладка средств измерений
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Оборудование в Лизинг
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Безопасность

                .burger-menu__section
                    .burger-menu__title Компания
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") О компании
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Производство
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Карьера в Точприбор
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Наша команда

                .burger-menu__section
                    .burger-menu__title Еще
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Контакты
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Новости
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Документы
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Вопросы и ответы (FAQ)
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)" target="_blank") Карта сайта

                .burger-menu__section.burger-menu__section--contacts
                    .burger-menu__title Связаться
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="mailto:info@tochpribor.ru" target="_blank") info@tochpribor.ru
                        li.burger-menu__item
                            a.burger-menu__link(href="tel:+78003500248" target="_blank") +7 (800) 350-02-48
                    .burger-menu__list.burger-menu__list--h
                        .burger-menu__row
                            .burger-menu__subtitle Адрес
                            .burger-menu__item
                                span Головной офис: 190121, г. Санкт-Петербург, пер. Дровяной, д. 20, пом. 4-Н
                        .burger-menu__row
                            .burger-menu__subtitle Тел / факс
                            .burger-menu__item
                                a.burger-menu__link(href="tel:+74922521233" target="_blank") +7 (4922) 52-12-33
                    .socials
                        a.socials__item(href="https://telegram.org/" target="_blank")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#tg`)
                        a.socials__item(href="https://vk.com/" target="_blank")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#vk`)
                        a.socials__item(href="https://vkvideo.ru/@tochpribor" target="_blank")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#vk_video`)