.main-burger(data-js='mainBurger')
    .main-burger__overlay(data-js='mainBurgerClose')
    .main-burger__content
        .main-burger__close(data-js='mainBurgerClose')
            svg 
                use(xlink:href=`img/sprites/sprite.svg#close`)
        .main-burger__menu.scrollbar
            .burger-menu
                .burger-menu__section
                    .burger-menu__title Услуги
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Проверка подлинности
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Металлообработка
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Поверка средств измерений
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Пуско-наладка
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Наладка средств измерений
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Оборудование в Лизинг
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Безопасность

                .burger-menu__section
                    .burger-menu__title Компания
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") О компании
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Производство
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Карьера в Точприбор
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Наша команда

                .burger-menu__section
                    .burger-menu__title Еще
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Контакты
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Новости
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Документы
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Вопросы и ответы (FAQ)
                        li.burger-menu__item
                            a.burger-menu__link(href="javascript:void(0)") Карта сайта

                .burger-menu__section.burger-menu__section--contacts
                    .burger-menu__title Связаться
                    ul.burger-menu__list
                        li.burger-menu__item
                            a.burger-menu__link(href="mailto:info@tochpribor.ru") info@tochpribor.ru
                        li.burger-menu__item
                            a.burger-menu__link(href="tel:+78003500248") +7 (800) 350-02-48
                    .burger-menu__list.burger-menu__list--h
                        .burger-menu__row
                            .burger-menu__subtitle Адрес
                            .burger-menu__item
                                span Головной офис: 190121, г. Санкт-Петербург, пер. Дровяной, д. 20, пом. 4-Н
                        .burger-menu__row
                            .burger-menu__subtitle Тел / факс
                            .burger-menu__item
                                a.burger-menu__link(href="tel:+74922521233") +7 (4922) 52-12-33
                    .socials
                        a.socials__item(href="https://telegram.org/")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#tg`)
                        a.socials__item(href="https://vk.com/")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#vk`)
                        a.socials__item(href="https://vkvideo.ru/@tochpribor")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#vk_video`)