-
    const defaultAboutIntroProps = {
        classes: '',
        img: '',
        breadcrumbs: {},
        title: '',
        text: '',
        cMode: 'dark'
    }

mixin about-intro(props= defaultAboutIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAboutIntroProps.classes,
            img: props.img ? props.img : defaultAboutIntroProps.img,
            breadcrumbs: props.breadcrumbs ? props.breadcrumbs : defaultAboutIntroProps.breadcrumbs,
            title: props.title ? props.title : defaultAboutIntroProps.title,
            text: props.text ? props.text : defaultAboutIntroProps.text,
            cMode: props.cMode ? props.cMode : defaultAboutIntroProps.cMode
        }

        let cModeClass = checkProps.cMode ? ` about-intro--${checkProps.cMode}` : ''

    section.section.section--full.section--transparent.about-intro(class= checkProps.classes + cModeClass)&attributes(attributes)
        .about-intro__bg
            img(class='lazyload' src='img/lazy-placeholder.webp' data-src= checkProps.img, alt="")
        .section__container.about-intro__container
            .about-intro__top
                .about-intro__left
                    +breadcrumbs(checkProps.breadcrumbs)
                    +title({
                        classes: "about-intro__title",
                        tag: 'h1',
                        size: '53',
                        text: checkProps.title,
                        cMode: 'light'
                    })
                    +about-gallery({
                        images: [
                            [
                                'img/about/about_history.webp',
                                'img/about/about_history.webp',
                                'img/about/about_history.webp'
                            ],
                            [
                                'img/about/about_history.webp',
                                'img/about/about_history.webp'
                            ],
                            [
                                'img/about/about_history.webp'
                            ]
                        ]
                    })

                +btn({
                    size: 'middle',
                    name: 'История завода',
                    icon: 'arrow_enter'
                })(data-js="historyModalOpen")

            .about-intro__bottom
                -if(checkProps.text.length > 0)
                    .about-intro__text!= checkProps.text
                +about-gallery({
                    classes: 'about-gallery--right about-gallery--bottom',
                    rowLength: '4',
                    right: true,
                    images: [
                        [
                            'img/about/about_history.webp'
                        ],
                        [
                            'img/about/about_history.webp',
                            'img/about/about_history.webp'
                        ],
                        [
                            'img/about/about_history.webp',
                            'img/about/about_history.webp',
                            'img/about/about_history.webp'
                        ],
                        [
                            'img/about/about_history.webp',
                            'img/about/about_history.webp',
                            'img/about/about_history.webp',
                            'img/about/about_history.webp'
                        ]
                    ]
                    })
