section.section.comments-list(data-js="comments")
    +title({
        tag: 'h2',
        size: '32',
        text: 'Комментарии',
        sup: '(13)'
    })

    .comments-list__list(data-js="commentsList")
        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span К
                .comments-list__name.title--26 Константин Константинопольский
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!
            .comments-list__replies
                .comments-list__reply
                    .comments-list__icon
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#reply`)
                    .comments-list__header
                        .comments-list__photo.comments-list__photo--reply
                            img(src="img/comments_photo.webp" alt="")
                        .comments-list__name.title--26 Менеджер Антон
                    .comments-list__text Спасибо Вам за комментарий! Мы учтем все пожелания

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span П
                .comments-list__name.title--26 Петр
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иван Иванов
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span М
                .comments-list__name.title--26 Мария
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иветта
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span К
                .comments-list__name.title--26 Константин Константинопольский
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!
            .comments-list__replies
                .comments-list__reply
                    .comments-list__icon
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#reply`)
                    .comments-list__header
                        .comments-list__photo.comments-list__photo--reply
                            img(src="img/comments_photo.webp" alt="")
                        .comments-list__name.title--26 Менеджер Антон
                    .comments-list__text Спасибо Вам за комментарий! Мы учтем все пожелания

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span П
                .comments-list__name.title--26 Петр
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иван Иванов
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span М
                .comments-list__name.title--26 Мария
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иветта
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иван Иванов
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span М
                .comments-list__name.title--26 Мария
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иветта
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

    +btn({
        classes: '',
        name: 'Смотреть все <span class="btn__note" data-js="commentsCount">(9)</span>',
        cMode: 'grey',
        size: '246',
        type: 'button'
    })(data-js="commentsMore")


section.section.comments-form