section.section.comments-list(id="comments" data-js="comments")
    +title({
        tag: 'h2',
        size: '32',
        text: 'Комментарии',
        sup: ' (13)'
    })

    .comments-list__list(data-js="commentsList")
        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span К
                .comments-list__name.title--26 Константин Константинопольский
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!
            .comments-list__replies
                .comments-list__reply
                    .comments-list__icon
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#reply`)
                    .comments-list__header
                        .comments-list__photo.comments-list__photo--reply
                            img(src="img/comments_photo.webp" alt="")
                        .comments-list__name.title--26 Менеджер Антон
                    .comments-list__text Спасибо Вам за комментарий! Мы учтем все пожелания

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span П
                .comments-list__name.title--26 Петр
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иван Иванов
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span М
                .comments-list__name.title--26 Мария
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иветта
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span К
                .comments-list__name.title--26 Константин Константинопольский
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!
            .comments-list__replies
                .comments-list__reply
                    .comments-list__icon
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#reply`)
                    .comments-list__header
                        .comments-list__photo.comments-list__photo--reply
                            img(src="img/comments_photo.webp" alt="")
                        .comments-list__name.title--26 Менеджер Антон
                    .comments-list__text Спасибо Вам за комментарий! Мы учтем все пожелания

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span П
                .comments-list__name.title--26 Петр
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иван Иванов
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span М
                .comments-list__name.title--26 Мария
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иветта
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иван Иванов
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span М
                .comments-list__name.title--26 Мария
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

        .comments-list__item(data-js="commentsItem")
            .comments-list__header
                .comments-list__photo
                    span И
                .comments-list__name.title--26 Иветта
                .comments-list__date
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#calendar`)
                    span 10.04.2024
            .comments-list__text Особый интерес у посетителей вызвал новый миниатюрный твердомер MET-MINI, который был выпущен нашей компанией в этом году!

section.section.comments-form
    +title({
        tag: 'h2',
        size: '32',
        text: 'Добавить комментарий'
    })

    +form({
        classes: 'comments-form__form',
        btnText: 'Отправить',
        innerThanks: true,
        privacyText: 'Согласен на обработку моих персональных данных в соответствии с <a href="#" target="_blank">Политикой в отношении обработки персональных данных</a>',
        successTitle: 'Ваш комментарий отправлен.',
        successText: 'С Вами свяжется ответственный сотрудник по&nbsp;указанным контактным данным.' 
    })
        .form__flex
            +field({
                title: 'Имя',
                inputAttr: {
                    'required': '',
                    'data-type': 'letters'
                },
            })
            +field({
                title: 'e-mail',
                inputAttr: {
                    'required': '',
                    'data-v-name': 'email'
                },
            })

        +field({
            tag: 'textarea',
            title: 'Комментарий',
            inputAttr: {
                'required': ''
            },
        })
