-
    const defaultAboutGalleryProps = {
        classes: '',
        images: [],
        rowLength: '3'
    }

mixin about-gallery(props= defaultAboutGalleryProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAboutGalleryProps.classes,
            images: props.images ? props.images : defaultAboutGalleryProps.images,
            rowLength: props.rowLength ? props.rowLength : defaultAboutGalleryProps.rowLength,
        }

        let rowLengthClass = ` about-gallery--${checkProps.rowLength}`

    .about-gallery(class= checkProps.classes + rowLengthClass)&attributes(attributes)
        - let images = checkProps.images
        - let counter = 0
        - while(images.length > counter)
            - let imagesInner = images[counter]
            - let counterInner = 0

            .about-gallery__row
                - while(imagesInner.length > counterInner)
                    .about-gallery__item
                        img(class='lazyload' src='img/lazy-placeholder.webp' data-src= imagesInner[counterInner])

                    - counterInner++

            - counter++

