.modal.hystmodal {
    .hystmodal__window {
        transition: all 0.3s linear;
        transform: scale(0);
        opacity: 0;
        width: auto;
        background-color: transparent;
    }
}

.modal.hystmodal--active {
    .hystmodal__window {
        margin: 0;
        transition: all 0.3s linear;
        transform: scale(1);
        opacity: 1;

        @include max(tablet) {
            margin: 0;
        }
    }
}

.hystmodal__shadow.hystmodal__shadow--show {
    background-color: $c-text;
    opacity: 0.3;
}

.modal {
    box-sizing: border-box;

    &__close {
        position: absolute;
        right: 16px;
        top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: auto;
        min-width: auto;
        cursor: pointer;
        z-index: 20;
        color: $c-text-light;
        transition: color $tr-time;
        width: 48px;
        height: 48px;
        border: 1px solid $c-border;
        border-radius: 4px;

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 24px;
            height: 24px;
        }

        @include max(mobile) {
            width: 32px;
            height: 32px;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__title {
        letter-spacing: -0.02em;
        text-align: center;
        padding: 0 40px;
        color: $c-text;
    }

    &__content {
        position: relative;
        background: $c-white;
        width: 100%;
        max-width: 540px;
        min-width: 540px;
        z-index: 9999;
        padding: 20px 16px;
        border-radius: 4px;
        max-height: 95vh;
        overflow-y: auto;

        @include max(tablet) {
            width: 100vw;
            min-width: 100vw;
            margin: 0 auto;
            max-height: 100vh;
            height: 100vh;
            height: 100dvh;
        }
    }

    &__inner {
        margin-top: 24px;
    }

}