-
    const defaultBreadCrumbsProps = {
        classes: '',
        cMode: 'dark', //dark - на светлом фоне, light - на тёмном фоне
        items: [
            {
                name: 'Главная',
                link: 'javascript:void(0);'
            },
            {
                name: 'Карта сайта',
                link: 'javascript:void(0);'
            }
        ],
    }

mixin breadcrumbs(props = defaultBreadCrumbsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBreadCrumbsProps.classes,
            cMode: props.cMode ? props.cMode : defaultBreadCrumbsProps.cMode,
            items: props.items ? props.items : defaultBreadCrumbsProps.items,
        }

        let colorModeClass = 'breadcrumbs--' + checkProps.cMode
        let deskBackBtnClass = checkProps.deskBackBtn ? 'breadcrumbs--back' : ''

    .breadcrumbs(class=checkProps.classes + ' ' + colorModeClass)
        ul.breadcrumbs__list
            each val, index in checkProps.items
                li.breadcrumbs__item(class= (index === checkProps.items.length - 1) ? "breadcrumbs__item--current" : "")
                    if index === checkProps.items.length - 1
                        span= val.name
                    else
                        a(href=`${val.link}`)= val.name
                        span.breadcrumbs__separator /
