.img-intro {
    position: relative;
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    height: calc(100dvh - 80px);
    min-height: calc(100dvh - 80px);
    max-height: calc(100dvh - 80px);

    @include max(laptop) {
        height: calc(100vh - 61px);
        min-height: calc(100vh - 61px);
        max-height: calc(100vh - 61px);
        height: calc(100dvh - 61px);
        min-height: calc(100dvh - 61px);
        max-height: calc(100dvh - 61px);
    }

    @include max(mobile) {
        height: auto;
        min-height: auto;
        max-height: none;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 100%);
        }

    }

    &--dark &__bg::before {
        display: none;
    }

    &--factory &__bg::before {
        @include max(mobile) {
            display: block;
            background: rgba(255, 255, 255, 0.6);
        }
    }

    &__container.section__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
        z-index: 3;
        padding-bottom: 40px;
        height: 100%;

        @include max(tablet) {
            padding: 20px;
        }

        @include max(mobile) {
            gap: 16px;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include max(mobile) {
            flex-direction: column-reverse;
            gap: 8px;
        }
    }

    &__title {
        max-width: 1120px;
    }

    &--factory &__title {
        @include max(tablet) {
            font-size: 53px;
        }

        @include max(mobile) {
            font-size: 40px;
        }
    }

    &--dark &__title {
        color: $c-text;
    }

    &__tag {
        color: #CCD0D1;
    }

    &--dark &__tag {
        color: $c-text-breadcrumbs;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include max(mobile) {
            flex: 1 1 auto;
            flex-direction: column;
            align-items: flex-start;
            gap: 150px;
        }
    }

    &__text {
        max-width: 440px;
        color: $c-white;
    }

    &--dark &__text {
        color: $c-text;
    }

    &__btns {
        position: relative;
        margin-top: auto;
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        gap: 16px;
    }
}