-
    const defaultFactoryModelProps = {
        classes: '',
    }

mixin factory-model(props= defaultFactoryModelProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFactoryModelProps.classes,
        }

        const pointSvg = `
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="5" y="5" width="10" height="10" rx="2" fill="currentColor"/>
                <path d="M1 7V1H7" stroke="currentColor"/>
                <path d="M13 1L19 1L19 7" stroke="currentColor"/>
                <path d="M19 13L19 19L13 19" stroke="currentColor"/>
                <path d="M7 19L1 19L1 13" stroke="currentColor"/>
            </svg>`

    .factory-model(class= checkProps.classes data-js="factoryModel")&attributes(attributes)
        .section__tag.factory-model__close(data-js="factoryModelClose") [Выйти]

        .factory-model__info.point-info(data-js="pointInfo")
            .point-info__close(data-js="pointInfoClose")
                svg 
                    use(xlink:href=`img/sprites/sprite.svg#close`)

            .point-info__media
                +media-slider({
                    classes: 'point-info__slider',
                    fancyGroup: 'factoryModelGroup',
                    slides: [
                        {
                            img: 'img/media-slider/slide_1.webp',
                            video: '',
                            videoType: ''
                        },
                        {
                            img: 'img/media-slider/slide_4.webp',
                            video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                            videoType: 'iframe'
                        },
                        {
                            img: 'img/media-slider/slide_2.webp',
                            video: '',
                            videoType: ''
                        },
                        {
                            img: 'img/media-slider/slide_4.webp',
                            video: 'public/video/news.mp4',
                            videoType: 'video'
                        },
                        {
                            img: 'img/media-slider/slide_3.webp',
                            video: '',
                            videoType: ''
                        },
                    ]
                })

            .point-info__desc
                .point__info__title.title--26(data-js="pointInfoTitle") Шлифовальный участок
                .point__info__text.text-editor(data-js="pointInfoText") На шлифовальном участке выполняется процесс окончательной обработки деталей путем снятия с них тонкого слоя материала вращающимся абразивным элементом
                +btn({
                    classes: "point-info__btn",
                    name: 'Подробнее про участок',
                    cMode: 'transparent-red',
                    icon: 'arrow_enter'
                })(data-js="pointInfoBtn")

        .section.section--full.factory-model__layer.factory-model__layer--first.active(data-js="factoryModelLayer" data-level="1" data-id="0")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_1.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Как устроен завод',
                    size: '83',
                })
                .section__tag.factory-model__tag [Схема нашего производства]
                .factory-model__points(data-js="factoryModelPoints")
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-layer="1" style="left: 56%; top: 24%;")
                        | Производственные участки
                        != pointSvg
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-layer="2" style="left: 57%; top: 56%;")
                        | Склады
                        != pointSvg
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-layer="3" style="left: 82%; top: 37%;")
                        | Упаковка и погрузка
                        != pointSvg
                    .factory-model__point.factory-model__point--right(data-js="factoryModelPoint" data-layer="4" style="right: 67%; top: 46%;")
                        | Инжиниринг и контроль качества
                        != pointSvg

        .section.section--full.factory-model__layer(data-js="factoryModelLayer" data-level="2" data-id="1")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_2.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Производственные участки',
                    size: '83',
                })
                .section__tag.factory-model__tag.factory-model__back(data-js="factoryModelBack") [Назад]
                .factory-model__points(data-js="factoryModelPoints")
                    .factory-model__point.factory-model__point--right(data-js="factoryModelPoint" data-info="0" style="right: 67%; top: 46%;")
                        | Лаборатория мер твердости
                        != pointSvg
                    .factory-model__point.factory-model__point--right(data-js="factoryModelPoint" data-info="1" style="right: 67%; top: 56%;")
                        | Участок сборки ДПУ
                        != pointSvg
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-info="2" style="left: 76%; top: 45%;")
                        | Деревообрабатывающий участок
                        != pointSvg

        .section.section--full.factory-model__layer(data-js="factoryModelLayer" data-level="2" data-id="2")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_3.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Склады',
                    size: '83',
                })
                .section__tag.factory-model__tag.factory-model__back(data-js="factoryModelBack") [Назад]
                .factory-model__points(data-js="factoryModelPoints")

        .section.section--full.factory-model__layer(data-js="factoryModelLayer" data-level="2" data-id="3")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_4.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Упаковка и погрузка',
                    size: '83',
                })
                .section__tag.factory-model__tag.factory-model__back(data-js="factoryModelBack") [Назад]
                .factory-model__points(data-js="factoryModelPoints")

        .section.section--full.factory-model__layer(data-js="factoryModelLayer" data-level="2" data-id="4")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_5.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Инжиниринг и контроль качества',
                    size: '83',
                })
                .section__tag.factory-model__tag.factory-model__back(data-js="factoryModelBack") [Назад]
                .factory-model__points(data-js="factoryModelPoints")
