-
    const defaultFactoryModelProps = {
        classes: '',
    }

mixin factory-model(props= defaultFactoryModelProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFactoryModelProps.classes,
        }

    .factory-model(class= checkProps.classes data-js="factoryModel")&attributes(attributes)
        .section__tag.factory-model__close(data-js="factoryModelClose") [Выйти]

        .section.section--full.factory-model__layer.factory-model__layer--first.active(data-js="factoryModelLayer" data-level="1" data-id="0")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_1.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Как устроен завод',
                    size: '83',
                })
                .section__tag.factory-model__tag [Схема нашего производства]
                .factory-model__points(data-js="factoryModelPoints")
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-layer="1" style="left: 56%; top: 24%;")
                        | Производственные участки
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-layer="2" style="left: 57%; top: 56%;")
                        | Склады
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-layer="3" style="left: 82%; top: 37%;")
                        | Упаковка и погрузка
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)
                    .factory-model__point.factory-model__point--right(data-js="factoryModelPoint" data-layer="4" style="right: 67%; top: 46%;")
                        | Инжиниринг и контроль качества
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)

        .section.section--full.factory-model__layer(data-js="factoryModelLayer" data-level="2" data-id="1")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_2.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Производственные участки',
                    size: '83',
                })
                .section__tag.factory-model__tag.factory-model__back(data-js="factoryModelBack") [Назад]
                .factory-model__points(data-js="factoryModelPoints")
                    .factory-model__point.factory-model__point--right(data-js="factoryModelPoint" data-info="1" style="right: 65%; top: 42%;")
                        | Заготовительный участок
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-info="2" style="left: 66%; top: 17%;")
                        | Участок сварки
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-info="7" style="left: 62%; top: 42%;")
                        | Участок порошковой окраски
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)

                .factory-model__modals
                    .factory-model__info.point-info.point-info--right(data-js="pointInfo" data-id="1")
                        .point-info__close(data-js="pointInfoClose")
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)

                        .point-info__media
                            +media-slider({
                                classes: 'point-info__slider',
                                fancyGroup: 'factoryModelGroup1',
                                    slides: [
                                        {
                                            img: 'img/media-slider/slide_5.webp',
                                            video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                            videoType: 'iframe'
                                        },
                                        {
                                            img: 'img/media-slider/slide_4.webp',
                                            video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                            videoType: 'iframe'
                                        },
                                        {
                                            img: 'img/media-slider/slide_6.webp',
                                            video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                            videoType: 'iframe'
                                        },
                                        {
                                            img: 'img/media-slider/slide_7.webp',
                                            video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                            videoType: 'iframe'
                                        },
                                        {
                                            img: 'img/media-slider/slide_8.webp',
                                            video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                            videoType: 'iframe'
                                        },
                                        {
                                            img: 'img/media-slider/slide_3.webp',
                                            video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                            videoType: 'iframe'
                                        },
                                        {
                                            img: 'img/media-slider/slide_1.webp',
                                            video: '',
                                            videoType: ''
                                        },
                                        {
                                            img: 'img/media-slider/slide_2.webp',
                                            video: '',
                                            videoType: ''
                                        }
                                    ],
                                })

                        .point-info__desc
                            .point__info__title.title--26(data-js="pointInfoTitle") Заготовительный участок
                            .point__info__text.text-editor(data-js="pointInfoText") Заготовительный участок входит в&nbsp;структуру основных цехов завода, предназначен для обеспечения заготовками производства и является одним из первых этапов технологического процесса.
                            +btn({
                                classes: "point-info__btn",
                                type: 'button',
                                name: 'Подробнее про участок',
                                cMode: 'transparent-red',
                                icon: 'arrow_enter'
                            })(data-js="pointInfoMore")

                    .factory-model__info.point-info(data-js="pointInfo" data-id="2")
                        .point-info__close(data-js="pointInfoClose")
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)

                        .point-info__media
                            +media-slider({
                                classes: 'point-info__slider',
                                fancyGroup: 'factoryModelGroup2',
                                slides: [
                                    {
                                        img: 'img/media-slider/slide_5.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_4.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_6.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_7.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_8.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_3.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_1.webp',
                                        video: '',
                                        videoType: ''
                                    },
                                    {
                                        img: 'img/media-slider/slide_2.webp',
                                        video: '',
                                        videoType: ''
                                    }
                                ],
                            })

                        .point-info__desc
                            .point__info__title.title--26(data-js="pointInfoTitle") Участок сварки
                            .point__info__text.text-editor(data-js="pointInfoText") Сварочный участок организован в составе завода для изготовления определенной заданной продукции. В состав входят оборудование, посредством которого выполняют сборку и сварку сборочных единиц.
                            +btn({
                                classes: "point-info__btn",
                                type: 'button',
                                name: 'Подробнее про участок',
                                cMode: 'transparent-red',
                                icon: 'arrow_enter'
                            })(data-js="pointInfoMore")

                    .factory-model__info.point-info(data-js="pointInfo" data-id="7")
                        .point-info__close(data-js="pointInfoClose")
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)

                        .point-info__media
                            +media-slider({
                                classes: 'point-info__slider',
                                fancyGroup: 'factoryModelGroup7',
                                slides: [
                                    {
                                        img: 'img/media-slider/slide_5.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_4.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_6.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_7.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_8.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_3.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_1.webp',
                                        video: '',
                                        videoType: ''
                                    },
                                    {
                                        img: 'img/media-slider/slide_2.webp',
                                        video: '',
                                        videoType: ''
                                    }
                                ],
                            })

                        .point-info__desc
                            .point__info__title.title--26(data-js="pointInfoTitle") Участок порошковой окраски
                            .point__info__text.text-editor(data-js="pointInfoText") Для защитно-декоративной отделки изделий на предприятии выполняется порошковая окраска деталей. Камера порошковой окраски используется для горячего.
                            +btn({
                                classes: "point-info__btn",
                                type: 'button',
                                name: 'Подробнее про участок',
                                cMode: 'transparent-red',
                                icon: 'arrow_enter'
                            })(data-js="pointInfoMore")

        .section.section--full.factory-model__layer(data-js="factoryModelLayer" data-level="2" data-id="2")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_3.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Склады',
                    size: '83',
                })
                .section__tag.factory-model__tag.factory-model__back(data-js="factoryModelBack") [Назад]
                .factory-model__points(data-js="factoryModelPoints")
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-info="17" style="left: 78%; top: 36%;")
                        | Склад готовой продукции
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)

                .factory-model__modals
                    .factory-model__info.point-info(data-js="pointInfo" data-id="17")
                        .point-info__close(data-js="pointInfoClose")
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)

                        .point-info__media
                            +media-slider({
                                classes: 'point-info__slider',
                                fancyGroup: 'factoryModelGroup17',
                                slides: [
                                    {
                                        img: 'img/media-slider/slide_5.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_4.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_6.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_7.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_8.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_3.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_1.webp',
                                        video: '',
                                        videoType: ''
                                    },
                                    {
                                        img: 'img/media-slider/slide_2.webp',
                                        video: '',
                                        videoType: ''
                                    }
                                ],
                            })

                        .point-info__desc
                            .point__info__title.title--26(data-js="pointInfoTitle") Склад готовой продукции
                            .point__info__text.text-editor(data-js="pointInfoText") Готовая продукция - главный результат производственного процесса предприятия. На склад готовой продукции передаются изделия, соответствующие ТУ, стандартам, и принятым ОТК.
                            +btn({
                                classes: "point-info__btn",
                                type: 'button',
                                name: 'Подробнее про участок',
                                cMode: 'transparent-red',
                                icon: 'arrow_enter'
                            })(data-js="pointInfoMore")

        .section.section--full.factory-model__layer(data-js="factoryModelLayer" data-level="2" data-id="3")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_4.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Упаковка и погрузка',
                    size: '83',
                })
                .section__tag.factory-model__tag.factory-model__back(data-js="factoryModelBack") [Назад]
                .factory-model__points(data-js="factoryModelPoints")
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-info="18" style="left: 78%; top: 46%;")
                        | Деревообрабатывающий участок
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)

                .factory-model__modals
                    .factory-model__info.point-info(data-js="pointInfo" data-id="18")
                        .point-info__close(data-js="pointInfoClose")
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)

                        .point-info__media
                            +media-slider({
                                classes: 'point-info__slider',
                                fancyGroup: 'factoryModelGroup18',
                                slides: [
                                    {
                                        img: 'img/media-slider/slide_5.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_4.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_6.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_7.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_8.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_3.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_1.webp',
                                        video: '',
                                        videoType: ''
                                    },
                                    {
                                        img: 'img/media-slider/slide_2.webp',
                                        video: '',
                                        videoType: ''
                                    }
                                ],
                            })

                        .point-info__desc
                            .point__info__title.title--26(data-js="pointInfoTitle") Деревообрабатывающий участок
                            .point__info__text.text-editor(data-js="pointInfoText") На нашем предприятии изготавливается абсолютно любая упаковка и тара для производимого оборудования
                            +btn({
                                classes: "point-info__btn",
                                type: 'button',
                                name: 'Подробнее про участок',
                                cMode: 'transparent-red',
                                icon: 'arrow_enter'
                            })(data-js="pointInfoMore")

        .section.section--full.factory-model__layer(data-js="factoryModelLayer" data-level="2" data-id="4")
            .section__container.factory-model__container
                .factory-model__img
                    img(src="img/factory/factory_layer_5.webp" alt="")
                +title({
                    classes: 'factory-model__title',
                    tag: 'h2',
                    text: 'Инжиниринг и контроль качества',
                    size: '83',
                })
                .section__tag.factory-model__tag.factory-model__back(data-js="factoryModelBack") [Назад]
                .factory-model__points(data-js="factoryModelPoints")
                    .factory-model__point.factory-model__point--right(data-js="factoryModelPoint" data-info="14" style="right: 70%; top: 50%;")
                        | Конструкторский отдел
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-info="15" style="left: 34%; top: 48%;")
                        | Бюро технической документации
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)
                    .factory-model__point.factory-model__point--left(data-js="factoryModelPoint" data-info="16" style="left: 33%; top: 56%;")
                        | Метрологическая служба. ОТК
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#factory_model_point`)

                .factory-model__modals
                    .factory-model__info.point-info.point-info--right(data-js="pointInfo" data-id="14")
                        .point-info__close(data-js="pointInfoClose")
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)

                        .point-info__media
                            +media-slider({
                                classes: 'point-info__slider',
                                fancyGroup: 'factoryModelGroup14',
                                slides: [
                                    {
                                        img: 'img/media-slider/slide_5.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_4.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_6.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_7.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_8.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_3.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_1.webp',
                                        video: '',
                                        videoType: ''
                                    },
                                    {
                                        img: 'img/media-slider/slide_2.webp',
                                        video: '',
                                        videoType: ''
                                    }
                                ],
                            })

                        .point-info__desc
                            .point__info__title.title--26(data-js="pointInfoTitle") Конструкторский отдел
                            .point__info__text.text-editor(data-js="pointInfoText") На шлифовальном участке выполняется процесс окончательной обработки деталей путем снятия с них тонкого слоя материала вращающимся абразивным элементом
                            +btn({
                                classes: "point-info__btn",
                                type: 'button',
                                name: 'Подробнее про участок',
                                cMode: 'transparent-red',
                                icon: 'arrow_enter'
                            })(data-js="pointInfoMore")

                    .factory-model__info.point-info.point-info--right(data-js="pointInfo" data-id="15")
                        .point-info__close(data-js="pointInfoClose")
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)

                        .point-info__media
                            +media-slider({
                                classes: 'point-info__slider',
                                fancyGroup: 'factoryModelGroup15',
                                slides: [
                                    {
                                        img: 'img/media-slider/slide_5.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_4.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_6.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_7.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_8.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_3.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_1.webp',
                                        video: '',
                                        videoType: ''
                                    },
                                    {
                                        img: 'img/media-slider/slide_2.webp',
                                        video: '',
                                        videoType: ''
                                    }
                                ],
                            })

                        .point-info__desc
                            .point__info__title.title--26(data-js="pointInfoTitle") Бюро технической документации
                            .point__info__text.text-editor(data-js="pointInfoText") На шлифовальном участке выполняется процесс окончательной обработки деталей путем снятия с них тонкого слоя материала вращающимся абразивным элементом
                            +btn({
                                classes: "point-info__btn",
                                type: 'button',
                                name: 'Подробнее про участок',
                                cMode: 'transparent-red',
                                icon: 'arrow_enter'
                            })(data-js="pointInfoMore")

                    .factory-model__info.point-info.point-info--right(data-js="pointInfo" data-id="16")
                        .point-info__close(data-js="pointInfoClose")
                            svg 
                                use(xlink:href=`img/sprites/sprite.svg#close`)

                        .point-info__media
                            +media-slider({
                                classes: 'point-info__slider',
                                fancyGroup: 'factoryModelGroup16',
                                slides: [
                                    {
                                        img: 'img/media-slider/slide_5.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_4.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_6.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_7.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_8.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_3.webp',
                                        video: 'https://vkvideo.ru/video_ext.php?oid=-228066748&id=456239041&hd=3&autoplay=1&js_api=1',
                                        videoType: 'iframe'
                                    },
                                    {
                                        img: 'img/media-slider/slide_1.webp',
                                        video: '',
                                        videoType: ''
                                    },
                                    {
                                        img: 'img/media-slider/slide_2.webp',
                                        video: '',
                                        videoType: ''
                                    }
                                ],
                            })

                        .point-info__desc
                            .point__info__title.title--26(data-js="pointInfoTitle") Метрологическая служба. ОТК
                            .point__info__text.text-editor(data-js="pointInfoText") На шлифовальном участке выполняется процесс окончательной обработки деталей путем снятия с них тонкого слоя материала вращающимся абразивным элементом
                            +btn({
                                classes: "point-info__btn",
                                type: 'button',
                                name: 'Подробнее про участок',
                                cMode: 'transparent-red',
                                icon: 'arrow_enter'
                            })(data-js="pointInfoMore")
