.product-articles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;

    @include max(mobile) {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    &__logo {

        img {
            max-width: 120px;
            max-height: 32px;
            object-fit: contain;
        }
    }
}