-
    const defaultTabsProps = {
        classes: '',
        tabs: [
            {
                name: 'Вкладка 1',
            },
            {
                name: 'Вкладка 2',
            },
        ],
    }

mixin tabs-block(props= defaultTabsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultTabsProps.classes,
            tabs: props.tabs ? props.tabs : defaultTabsProps.tabs
        }

    .tabs-block(class= checkProps.classes data-js="tabsBlock")&attributes(attributes)
        .tabs-block__tabs
            .tabs-block__list
                - let count = 0 
                - while (count < checkProps.tabs.length)
                    .tabs-block__tab(class= count === 0 ? "tabs-block__tab--active" : "" data-index= count data-js="tabsBlockTab")!= checkProps.tabs[count].name

                    - count += 1;

        .tabs-block__slides
            block


