-
    const defaultFormFilterProps = {
        classes: '',
        vMode: ''
    }

mixin form-filter(props = defaultFormFilterProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFormFilterProps.classes,
            vMode: props.vMode ? props.vMode : defaultFormFilterProps.vMode
        }

        let cModeClass = checkProps.vMode.length > 0 ? `form-filter--${checkProps.vMode}` : '' 

    form.form-filter(action="#" class= checkProps.classes + cModeClass data-js='formFilter')&attributes(attributes)
        block
