footer.site-footer(data-js="siteFooter")
    .site-footer__container
        .site-footer__word(data-js='footerText')
            | производство
            svg
                use(xlink:href=`img/sprites/sprite.svg#arrow_classic`)
            | модернизация
            svg
                use(xlink:href=`img/sprites/sprite.svg#arrow_classic`)
            | ремонт
        .site-footer__left(data-js='footerLeft')
            +btn({
                classes: '',
                size: "big",
                name: 'Оставить заявку',
                icon: 'arrow_enter',
            })
            .site-footer__docs
                a.site-footer__doc(href="javascript:void()") Пользовательское соглашение
                a.site-footer__doc(href="javascript:void()") Политика обработки персональных данных и конфиденциальности

            .site-footer__copyright © 2010—2024 Точприбор

        .site-footer__menu(data-js='footerMenu')
            +big-menu


