.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    padding: 15px 16px;
    border-radius: 2px;
    cursor: pointer;

    svg,
    img {
        width: 16px;
        height: 16px;
    }

    img {
        object-fit: contain;
    }

    &--full {
        padding: 12px 16px;
    }

    &--red {
        color: $c-white;
        background-color: $c-accent;
        border: 1px solid $c-accent;
        border-color: $c-accent;
        transition: all $tr-time linear;

        &:hover {
            background-color: $c-accent-hover;
            border-color: $c-accent-hover;
        }
    }

    &--white {
        color: $c-accent;
        background-color: $c-white;
        transition: all $tr-time linear;

        &:hover {
            background-color: $c-accent-hover;
            color: $c-white;
        }
    }

    &--transparent {
        color: $c-text;
        background-color: transparent;
        border: 1px solid $c-border;
        transition: all $tr-time;
        border-radius: 4px;

        .btn__note,
        svg {
            color: $c-text-breadcrumbs;
            transition: all $tr-time;
        }

        &:hover {
            border-color: $c-accent-hover;
            color: $c-accent-hover;

            .btn__note,
            svg {
                color: $c-accent-light;
            }
        }
    }

    &--transparent-red {
        color: $c-accent;
        background-color: transparent;
        border: 1px solid $c-accent;
        transition: all $tr-time;
        border-radius: 4px;

        .btn__note,
        svg {
            color: $c-accent;
            transition: all $tr-time;
        }

        &:hover {
            border-color: $c-accent-hover;
            color: $c-accent-hover;

            .btn__note,
            svg {
                color: $c-accent-hover;
            }
        }
    }

    &--grey {
        color: $c-text;
        background-color: $c-border;
        transition: all $tr-time;

        .btn__note,
        svg {
            color: $c-text-breadcrumbs;
            transition: all $tr-time;
        }

        &:hover {
            background-color: $c-accent-hover;
            color: $c-white;

            .btn__note,
            svg {
                color: $c-white;
                opacity: 0.7;
            }
        }
    }

    &--noborder {
        border: none;
        color: $c-text;
        transition: color $tr-time linear;

        svg {
            color: #4e4e4e;
            transition: color $tr-time linear;
        }

        &:hover {
            color: $c-accent-hover;

            svg {
                color: $c-accent-hover;
            }
        }
    }

    &--link {
        width: fit-content;
        padding: 0;
        font-size: 14px;
        gap: 6px;
    }

    &--108 {
        width: fit-content;
        padding: 2px 8px;
        min-height: 20px;
        min-width: 108px;
        font-size: 12px;
    }

    &--182 {
        padding: 9px 16px;
        width: fit-content;
        min-width: 182px;
    }

    &--246 {
        width: fit-content;
        min-height: 48px;
        min-width: 246px;
    }


    &--content {
        width: fit-content;
    }

    &--big {
        min-width: 310px;
        min-height: 160px;
        width: fit-content;

        @include max(laptop) {
            min-width: 240px;
            min-height: 125px;
        }

        @include max(mobile) {
            min-width: 200px;
            min-height: 104px;
        }
    }

    &--small {
        padding: 2px 12px;
        font-size: 12px;
    }

    &--social {
        min-width: 310px;
        min-height: 160px;
        width: fit-content;
        flex-direction: column-reverse;
        justify-content: space-between;
        color: $c-text;

        @include max(laptop) {
            min-width: 240px;
            min-height: 125px;
        }

        @include max(mobile) {
            min-width: 200px;
            min-height: 104px;
        }

        svg {
            align-self: flex-end;
            width: 24px;
            height: 24px;
        }

        .btn__text {
            align-self: flex-start;
            font-size: 20px;
            line-height: 1.1em;
            letter-spacing: -0.01em;
        }
    }

    &--icon {
        padding: 7px;
    }
}