.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    padding: 15px 16px;
    border-radius: 2px;
    cursor: pointer;

    svg {
        width: 16px;
        height: 16px;
    }

    &--red {
        color: $c-white;
        background-color: $c-accent;
        transition: all $tr-time;

        &:hover {
            background-color: $c-accent-hover;
        }
    }

    &--transparent {
        color: $c-text;
        background-color: transparent;
        border: 1px solid $c-border;
        transition: all $tr-time;
        border-radius: 4px;
        padding: 9px 16px;

        .btn__text span,
        svg {
            color: $c-text-breadcrumbs;
            transition: all $tr-time;
        }

        &:hover {
            background-color: $c-accent;
            color: $c-white;
            border-color: $c-accent;

            .btn__text span,
            svg {
                color: $c-white;
                opacity: 0.7;
            }
        }
    }

    &--content {
        width: fit-content;
    }

    &--big {
        min-width: 310px;
        min-height: 160px;
        width: fit-content;

        @include max(laptop) {
            min-width: 240px;
            min-height: 125px;
        }

        @include max(mobile) {
            min-width: 200px;
            min-height: 104px;
        }
    }
}