.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    padding: 15px 4px;
    border-radius: 2px;
    cursor: pointer;

    svg {
        width: 16px;
        height: 16px;
    }

    &--red {
        color: $c-white;
        background-color: $c-accent;
        transition: all $tr-time;

        &:hover {
            background-color: $c-accent-hover;
        }
    }

    &--content {
        width: fit-content;
    }

    &--big {
        min-width: 310px;
        min-height: 160px;
        width: fit-content;

        @include max(laptop) {
            min-width: 240px;
            min-height: 125px;
        }

        @include max(mobile) {
            min-width: 200px;
            min-height: 104px;
        }
    }
}