h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}




input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}

ul,
ol {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;
	font-family: $ff-main;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4em;
}

body.no-scroll {
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

html {
	scroll-behavior: smooth;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html,
body {
	height: 100%;
}

.m-container {
	width: 100%;
}

*:focus {
	outline: none;
}

.site-main {
	width: 100%;
	flex-grow: 1;
}

.page-layout {
	background-color: $c-main-bg;
	padding: 80px 40px 20px;

	@include max(large) {
		padding: 80px 20px 20px;
	}

	@include max(laptop) {
		padding: 75px 20px 20px;
	}

	@include max(mobile) {
		padding: 61px 15px 0;
	}

	&--white {
		background-color: $c-white;

		@include max(mobile) {
			padding: 61px 15px 20px;
		}
	}

	.section+.section {
		margin-top: 16px;
	}
}

.breadcrumbs-section {
	padding: 16px 0;

	@include max(mobile) {
		display: none;
	}
}

.section {
	padding: 24px;
	background-color: $c-white;
	border-radius: 4px;

	@include max(mobile) {
		margin-left: -15px;
		margin-right: -15px;
		padding: 24px 15px;
	}
}

.page {
	overflow: hidden;
}