h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border-spacing: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;
	font-family: $ff-main;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4em;
}

body.no-scroll {
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

html {
	scroll-behavior: smooth;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scroll-padding-top: 90px;
}

html,
body {
	height: 100%;
}

*:focus {
	outline: none;
}

.site-main {
	width: 100%;
	flex-grow: 1;
}

.page-layout {
	background-color: $c-main-bg;
	padding: 80px 0 20px;

	@include max(laptop) {
		padding: 61px 0 20px;
	}

	@include max(mobile) {
		padding: 61px 0 0;
	}

	&--white {
		background-color: $c-white;

		@include max(mobile) {
			padding: 61px 0 20px;
		}
	}

	.section+.section {
		margin-top: 16px;
	}
}

.breadcrumbs-section.section {

	.section__container {
		padding: 16px 0;
	}

	&+.section {
		margin-top: 0;
	}

	@include max(mobile) {
		display: none;
	}
}

.section {

	padding: 0 40px;

	@include max(large) {
		padding: 0 20px;
	}

	@include max(mobile) {
		padding: 0;
	}

	&__container {
		padding: 24px;
		background-color: $c-white;
		border-radius: 4px;

		@include max(tablet) {
			padding: 20px 15px;
		}
	}

	&--transparent &__container {
		background-color: transparent;
		border-radius: 0;
		padding: 24px 0 0;

		@include max(tablet) {
			padding: 20px 0 0;
		}

		@include max(mobile) {
			padding: 20px 15px 0;
		}
	}

	&--full {
		padding: 0;

		@include max(large) {
			padding: 0;
		}
	}

	&--full &__container {
		border-radius: 0;
		padding: 24px 40px;

		@include max(large) {
			padding: 20px;
		}

		@include max(mobile) {
			padding: 20px 15px;
		}
	}
}

.sidebar-layout {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	padding: 16px 40px 0;

	@include max(large) {
		padding: 16px 20px 0;
	}

	@include max(tablet) {
		flex-direction: column;
	}

	@include max(mobile) {
		padding: 0;
	}


	&__content {
		flex: 1 1 auto;
	}

	&__sidebar {
		flex: 0 0 375px;

		@include max(laptop) {
			flex-basis: 300px;
		}

		@include max(tablet) {
			flex-basis: auto;
			width: 100%;
		}
	}
}

.banner {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	color: $c-white;
	padding: 16px;

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		position: relative;
		z-index: 3;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__title {
		line-height: 1em;
		letter-spacing: -0.02em;
	}

	&__text {
		margin-bottom: auto;
	}
}

.text-editor {
	color: $c-text;

	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}

	h2 {
		display: block;
		font-size: 26px;
		line-height: 1em;
		letter-spacing: -0.02em;
		padding-bottom: 20px;
		margin-bottom: 24px;
		margin-top: 32px;
		border-bottom: 1px solid $c-border;

		@include max(laptop) {
			font-size: 24px;
		}

		@include max(mobile) {
			font-size: 22px;
			margin-bottom: 16px;
			margin-top: 24px;
		}

		@include max(xs) {
			font-size: 20px;
		}
	}

	h3 {
		display: block;
		font-size: 20px;
		line-height: 1.4em;
		margin-bottom: 16px;

		@include max(mobile) {
			font-size: 18px;
		}

		@include max(xs) {
			font-size: 16px;
		}
	}

	p {
		margin-bottom: 1.4em;

		@include max(xs) {
			font-size: 14px;
		}
	}

	img,
	video,
	iframe {
		max-width: 100%;
		margin: 32px auto;

		@include max(mobile) {
			margin: 24px auto;
		}
	}

	hr {
		margin: 32px 0;
		height: 0;
		border: none;
		border-top: 1px solid $c-border;
	}

	table {
		min-width: 100%;
		border-color: red;
		border-radius: 40px;
		margin-bottom: 32px;
		overflow-x: auto;

		@include max(mobile) {
			margin: 24px auto;
		}

		th,
		td {
			text-align: left;
			font-size: 14px;
			padding: 10px 12px;
			border-width: 0 1px 1px 0;
			border-color: $c-border;
			border-style: solid;

			@include max(mobile) {
				padding: 5px 6px;
				font-size: 12px;
			}
		}

		th {
			background-color: $c-main-bg;
			color: $c-text-breadcrumbs;
		}

		tr:first-child>th,
		tr:first-child>td {
			border-top-width: 1px;
		}

		tr>th:first-child,
		tr>td:first-child {
			border-left-width: 1px;
		}

		tr:first-child>th:first-child,
		tr:first-child>td:first-child {
			border-top-left-radius: 4px;
		}

		tr:first-child>th:last-child,
		tr:first-child>td:last-child {
			border-top-right-radius: 4px;
		}

		tr:last-child>th:last-child,
		tr:last-child>td:last-child {
			border-bottom-right-radius: 4px;
		}

		tr:last-child>th:first-child,
		tr:last-child>td:first-child {
			border-bottom-left-radius: 4px;
		}

		table th,
		table td {
			border-width: 0 !important;
		}

	}

	.text-flex-block {
		display: flex;
		align-items: flex-start;
		gap: 32px;
		margin-bottom: 32px;

		@include max(mobile) {
			flex-direction: column;
			margin-bottom: 24px;
		}

		&__left {
			flex: 0 0 42%;
			max-width: 320px;

			@include max(mobile) {
				flex-basis: auto;
				max-width: 100%;
				width: 100%;
			}

			img {
				width: 100%;
				margin: 0;

				@include max(mobile) {
					margin: 0 auto;
					width: auto;
				}
			}
		}

		&__right {
			flex: 1 1 auto;
		}

	}

	.text-note {
		display: flex;
		align-items: flex-start;
		gap: 16px;
		margin-bottom: 16px;
		padding: 16px 18px;
		background-color: $c-accent-light2;
		color: $c-text-dark;
		border-radius: 4px;

		@include max(mobile) {
			gap: 8px;
			padding: 8px 10px;
		}

		&__icon {
			flex: 0 0 auto;
			color: $c-accent-light;

			svg {
				width: 24px;
				height: 24px;

				@include max(mobile) {
					width: 16px;
					height: 16px;
				}
			}
		}

		&__content {
			flex: 1 1 auto;
		}
	}
}

.tags {
	padding: 0;

	@include max(large) {
		padding: 0;
	}

	@include max(laptop) {
		padding: 0;
	}

	@include max(tablet) {
		padding: 0;
	}

	@include max(mobile) {
		padding: 0;
	}

	.section__container {
		padding: 13px 15px;
	}

	&__title {
		font-size: 20px;
		line-height: 1.1em;
		letter-spacing: -0.01em;
	}

	&__list {
		margin-top: 24px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;
	}

	&__tag {
		padding: 2px 6px;
		background-color: $c-text-dark;
		color: $c-white;
		font-size: 12px;
		border-radius: 2px;
	}
}