-
    const defaultSearchFormProps = {
        classes: '',
        inHeader: false,
        hasPrompt: false,
        btnText: 'Поиск'
    }

mixin search-form(props = defaultSearchFormProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSearchFormProps.classes,
            inHeader: props.inHeader ? props.inHeader : defaultSearchFormProps.inHeader,
            hasPrompt: props.hasPrompt ? props.hasPrompt : defaultSearchFormProps.hasPrompt,
            btnText: props.btnText ? props.btnText : defaultSearchFormProps.btnText
        }

        let vClass = checkProps.inHeader == true ? ` search-form--header` : ''


    form.search-form(class=checkProps.classes + vClass data-js="formFilter")&attributes(attributes)
        -if(checkProps.hasPrompt == true)
            +field({
                classes: 'search-form__input',
                placeholder: checkProps.inHeader == true ? 'Поиск' : 'Введите запрос',
                inputAttr: {
                    "data-js": "searchFormInput",
                },
                resetBtn: true,
                isSearch: true,
                hasPrompt: true,
            })(data-has-prompt)
        - else
            +field({
                classes: 'search-form__input',
                placeholder: checkProps.inHeader == true ? 'Поиск' : 'Введите запрос',
                inputAttr: {
                    "data-js": "searchFormInput"
                },
                resetBtn: true,
                isSearch: true,
                hasPrompt: false,
            })

        .search-form__select.filter-select(data-js='filterSelect')
            .filter-select__header(data-js="filterSelectHeader")
                select(data-js="filterSelectInput")
                    option(value="site" selected) По сайту
                    option(value="catalog") По каталогу
                .filter-select__fake(data-js="filterSelectFake") По сайту
                svg
                    use(xlink:href=`img/sprites/sprite.svg#arrow_angle`)
            .filter-select__content
                .filter-select__option.active(data-js="filterSelectOption" data-value="site" data-name="По сайту") По сайту
                .filter-select__option(data-js="filterSelectOption" data-value="catalog" data-name="По каталогу") По каталогу
        +btn({
            classes: 'search-form__submit',
            size: "full",
            name: checkProps.btnText,
            icon: 'arrow_enter',
        })(data-js="searchSubmit")